<li class="mdl-list__item mdl-list__item--two-line" id="tool-<%= tool.id %>">
  <span class="mdl-list__item-primary-content">
    <a href="<%= tool.url %>" tabindex="-1"><%= tool.description %></a>
    <span class="mdl-list__item-sub-title">
      <% if tool.finish_line_marker.present? %>
        <div class="tool-finish-line-marker"><%= tool.finish_line_marker.name %></div>
      <% end %>
      <% tool.product_categories.each do |category| %>
        <div class="tool-category"><%= category.name.send(logged_in_user.interface_language.locale_tag) %></div>
      <% end %>
    </span>
  </span>
  <%= link_to edit_tool_path(tool), remote: true, class: 'mdl-list__item-secondary-action' do %>
    <button class="mdl-button mdl-js-button mdl-button--icon">
      <i class="material-icons">edit</i>
    </button>
  <% end %>
  <%= link_to tool, method: :delete, remote: true, class: 'mdl-list__item-secondary-action' do %>
    <button class="mdl-button mdl-js-button mdl-button--icon">
      <i class="material-icons">delete</i>
    </button>
  <% end %>
</li>