<%= form_for(@resource) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div id="mt-resource-form">
    <div id="resource-description">

      <div id="name-input" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <%= f.text_field(:name, class: 'mdl-textfield__input') %>
        <%= f.label(:name, class: 'mdl-textfield__label') %>
      </div>

      <div id="description-input" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <%= f.text_area(:description, class: 'mdl-textfield__input') %>
        <%= f.label(:description, class: 'mdl-textfield__label') %>
      </div>

      <div id="url-input" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <%= f.text_field(:url, class: 'mdl-textfield__input') %>
        <%= f.label(:url, class: 'mdl-textfield__label') %>
      </div>

      <div id="how-to-access-input" class="mdl-textfield mdl-js-textfield">
        <%= f.text_area(:how_to_access, class: 'mdl-textfield__input') %>
        <%= f.label(:how_to_access, 'Describe how this resource may be accessed', class: 'mdl-textfield__label') %>
      </div>

    </div>

    <div id="resource-meta-data">

      <div id="state-input" class="mdlext-selectfield mdlext-js-selectfield mdlext-selectfield--floating-label">
        <%= render partial: 'shared/geo_state_input', locals: {object: 'mt_resource', input_class: 'filter_trigger mdlext-selectfield__select', label_class: 'mdlext-selectfield__label'} %>
      </div>

      <div id="language-input" class="mdlext-selectfield mdlext-js-selectfield mdlext-selectfield--floating-label">
        <%= f.collection_select(:language_id, @languages, :id, :name, {}, html_options = {class: 'mdlext-selectfield__select'}) %>
        <%= f.label(:language_id, class: 'mdlext-selectfield__label') %>
      </div>

      <div id="medium-input" class="mdlext-selectfield mdlext-js-selectfield mdlext-selectfield--floating-label">
        <%= f.select :medium, MtResource.mediums.to_a.map { |t| [t[0].humanize, t[0]] }, {}, html_options = {class: 'mdlext-selectfield__select'} %>
        <%= f.label(:medium, class: 'mdlext-selectfield__label') %>
      </div>

      <div id="status-input" class="mdlext-selectfield mdlext-js-selectfield mdlext-selectfield--floating-label">
        <%= f.select :status, MtResource.statuses.to_a.map { |t| [t[0].humanize, t[0]] }, {}, html_options = {class: 'mdlext-selectfield__select'} %>
        <%= f.label(:status, class: 'mdlext-selectfield__label') %>
      </div>

      <div id="year-input" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <%= f.text_field :publish_year, class: 'mdl-textfield__input', pattern: '[1-2]\d{3}' %>
        <%= f.label(:publish_year, 'Year published', class: 'mdl-textfield__label') %>
        <span class="mdl-textfield__error">Enter a four digit year</span>
      </div>

      <%= f.label(:cc_share_alike, class: 'mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect', id: 'license-input') do %>
          <%= f.check_box(:cc_share_alike, class: 'mdl-checkbox__input') %>
          <span class="mdl-checkbox__label">Creative Commons Share-Alike licence</span>
      <% end %>

    </div>

    <div class="contributers">
      <%= autocomplete_field_tag 'person__0', '', autocomplete_person_name_events_path %>
      <%= label_tag :person__0, 'Contributers', {class: 'tooltipped', 'data-position' => 'top', 'data-delay' => '50', 'data-tooltip' => Translation.get_string('one_name_row', logged_in_user)} %>
    </div>

  </div>

    <%= button_tag(id: 'submit-button', class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored') do %>
        <i class="material-icons">done</i> <%= form_action == 'new' ? 'Add this resource' : 'Update' %>
    <% end %>

<% end %>