<% provide(:title, "LCI App Home") %>

<% provide(:context_title, 'Welcome!') %>

<div id="welcome-content">

  <div id="god-at-work-card" class="mdl-card mdl-shadow--2dp">
    <div id="progress-chart-panel">
      <div class="chart-title">Transformation</div>
      <div id="national-progress-chart">
        <div class="mdl-spinner mdl-js-spinner is-active"></div>
        <%= link_to "progress chart", national_outcomes_chart_path, remote: true, method: 'GET', id: 'get-national-chart-link' %>
      </div>
    </div>
    <div class="mdl-card__title">
      God is at work
    </div>
    <div class="mdl-card__supporting-text">
      LCI wants to see lives and <strong>communities transformed</strong> in this generation
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" id="report-tasks-trigger">
        <i class="material-icons">create</i>
        Enter and view reports
      </button>
      <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" id="progress-tasks-trigger">
        <i class="material-icons">show_chart</i>
        Update and assess progress
      </button>
    </div>
  </div>

  <div id="down-to-zero-card" class="mdl-card mdl-shadow--2dp">
    <div id="nt-pie-chart-panel">
      <% nt_marker = FinishLineMarker.find_by_number 6 %>
      <% nt_data = build_finish_line_table(Language.all, [nt_marker])[nt_marker] %>
      <%= pie_chart nt_data.except(:nothing).map{ |k, v| [k.to_s.humanize, v]}.to_h,
                    id: 'nt-pie-chart',
                    width: '100px',
                    height: '100px',
                    library: {backgroundColor: "transparent", is3D: true, legend: {position: 'none'}},
                    colors: colours_for_finish_line_data(nt_data.except(:nothing)) %>
      <div class="chart-title">NT Availability</div>
    </div>
    <div class="mdl-card__title">
      Down to zero
    </div>
    <div class="mdl-card__supporting-text">
      LCI wants to complete the needed <strong>Bible and language products</strong> in this generation
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <%= link_to zones_path, class: 'mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect' do %>
        <i class="material-icons">search</i>
        Zoom in to my area
      <% end %>
      <% link_path = logged_in_user.national? ? nation_path({tab: 'languages', flm: 6}) : zone_path(logged_in_user.zones.first, {tab: 'languages', flm: 6}) %>
      <%= link_to link_path, class: 'mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect' do %>
          <i class="material-icons">collections_bookmark</i>
          Zoom to NT statistics
      <% end %>
      <% link_path = logged_in_user.national? ? nation_path({tab: 'languages', flm: 6, flmfilter: 'needy'}) : zone_path(logged_in_user.zones.first, {tab: 'languages', flm: 6, flmfilter: 'needy'}) %>
      <%= link_to link_path, class: 'mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect' do %>
        <i class="material-icons">watch_later</i>
        Countdown to Zero
      <% end %>
    </div>
  </div>

  <div id="about-card" class="mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      What is LCI?
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <%= link_to about_path, class: 'mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect' do %>
        <i class="material-icons">info</i>
        Find out more about us
      <% end %>
    </div>
  </div>

  <% if logged_in_user.national_curator? %>
      <% edit_count = Edit.pending_national_approval.count %>
  <% else %>
      <% edit_count = Edit.pending.for_curating(logged_in_user).count %>
  <% end %>
  <% if edit_count > 0 %>
  <div id="curator-card" class="mdl-card mdl-shadow--2dp"
     <% if logged_in_user.admin? %>
        style="grid-area: curator;"
    <% end %>
  >
    <div class="mdl-card__title">
      Curate Edits
    </div>
    <div class="mdl-card__supporting-text">
      You have <span class="edit-count"><%= edit_count %> <%= 'edit'.pluralize(edit_count) %></span> to curate.
      Please attend to <%= edit_count == 1 ? 'this' : 'these' %> as soon as possible.
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <%= link_to curate_edits_path, class: 'mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect' do %>
          <i class="material-icons">done_all</i>
          Curate Edits
      <% end %>
    </div>
  </div>
  <% end %>

  <% if logged_in_user.admin? %>
  <div id="admin-card" class="mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      Admin tasks
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" id="admin-tasks-trigger">
        <i class="material-icons">settings</i>
        Admin tasks
      </button>
    </div>
  </div>
  <% end %>

</div>

<% grouped_links = @links.select{ |link| link[:condition] }.group_by{ |link| link[:category] } %>
<% grouped_links.each do |category, links| %>
    <dialog class="mdl-dialog" id="<%= category %>-dialog">
      <h4 class="mdl-dialog__title"><%= dialog_titles[category] %></h4>
      <div class="mdl-dialog__content">
        <ul class="mdl-list">
          <% links.each do |link_data| %>
              <li class="mdl-list__item">
              <span class="mdl-list__item-primary-content">
                <%= link_to link_data[:path], class: 'mdl-button mdl-js-button mdl-js-ripple-effect' do %>
                  <i class="material-icons"><%= link_data[:icon] %></i>
                    <%= link_data[:text] %>
                <% end %>
              </span>
              </li>
          <% end %>
        </ul>
      </div>
      <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button close">Cancel</button>
      </div>
    </dialog>
<% end %>