<% provide(:title, "LCI App Home") %>

<% provide(:context_title, 'Welcome!') %>

<div id="welcome-content">

  <div id="god-at-work-card" class="mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      God is at work
    </div>
    <div class="mdl-card__supporting-text">
      LCI wants to see lives and <strong>communities transformed</strong> in this generation
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <%= link_to tasks_path, class: 'mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect' do %>
          <i class="material-icons">create</i>
          Enter and view reports
      <% end %>
      <%= link_to tasks_path(anchor: 'progress'), class: 'mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect' do %>
        <i class="material-icons">show_chart</i>
        Update and assess progress
      <% end %>
    </div>
  </div>

  <div id="down-to-zero-card" class="mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      Down to zero
    </div>
    <div class="mdl-card__supporting-text">
      LCI wants to complete the needed <strong>Bible and language products</strong> in this generation
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <%= link_to zones_path, class: 'mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect' do %>
        <i class="material-icons">search</i>
        Zoom in to my area
      <% end %>
    </div>
  </div>

  <div id="about-card" class="mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      What is LCI?
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <%= link_to about_path, class: 'mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect' do %>
        <i class="material-icons">info</i>
        Find out more about us
      <% end %>
    </div>
  </div>

  <% if logged_in_user.national_curator? %>
      <% edit_count = Edit.pending_national_approval.count %>
  <% else %>
      <% edit_count = Edit.pending.for_curating(logged_in_user).count %>
  <% end %>
  <% if edit_count > 0 %>
  <div id="curator-card" class="mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      Curate Edits
    </div>
    <div class="mdl-card__supporting-text">
      You have <span class="edit-count"><%= edit_count %> <%= 'edit'.pluralize(edit_count) %></span> to curate.
      Please attend to <%= edit_count == 1 ? 'this' : 'these' %> as soon as possible.
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <%= link_to curate_edits_path, class: 'mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect' do %>
          <i class="material-icons">done_all</i>
          Curate Edits
      <% end %>
    </div>
  </div>
  <% end %>

  <div id="nt-pie-chart-panel">
    <div class="chart-title">NT Availability</div>
    <% nt_marker = FinishLineMarker.find_by_number 6 %>
    <% nt_data = build_finish_line_table(Language.all, [nt_marker])[nt_marker] %>
    <%= pie_chart nt_data.except(:nothing).map{ |k, v| [k.to_s.humanize, v]}.to_h,
                  id: 'nt-pie-chart',
                  width: '200px',
                  height: '150px',
                  library: {backgroundColor: "transparent", is3D: true, legend: {position: 'none'}},
                  colors: colours_for_finish_line_data(nt_data.except(:nothing)) %>
  </div>

  <div id="progress-chart-panel">
    <div class="chart-title">Transformation</div>
    <% nt_marker = FinishLineMarker.find_by_number 6 %>
    <% nt_data = build_finish_line_table(Language.all, [nt_marker])[nt_marker] %>
    <%= line_chart Zone.national_outcome_chart_data,
                  width: '400px',
                  height: '150px',
                  library: {backgroundColor: "transparent", legend: {position: 'none'}},
                  colors: colours_for_finish_line_data(nt_data.except(:nothing)) %>
  </div>

</div>
