<% provide(:title, 'Tasks') %>

<% grouped_links = @links.select{ |link| link[:condition] }.group_by{ |link| link[:category] } %>
<% active_category = grouped_links.keys.first %>

<% provide(:context_title, 'Tasks') %>

<% content_for :header_tabs do %>
  <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
    <% grouped_links.keys.each do |category| %>
      <%= link_to category.humanize, "##{category}", class: "mdl-layout__tab #{'is-active' if category == active_category}" %>
    <% end %>
  </div>
<% end %>

<% grouped_links.each do |category, links| %>
    <section class="mdl-layout__tab-panel <%= 'is-active' if category == active_category %>" id="<%= category %>">
      <div class="page-content">
        <ul class="mdl-list">
          <% links.each do |link_data| %>
            <li class="mdl-list__item">
              <span class="mdl-list__item-primary-content">
                <%= link_to link_data[:path], class: 'collection-item waves-effect' do %>
                  <i class="material-icons"><%= link_data[:icon] %></i>
                  <%= link_data[:text] %>
                <% end %>
              </span>
            </li>
          <% end %>
        </ul>
      </div>
    </section>
<% end %>


