<% provide(:title, 'Log in') %>

<div class="mdl-card login-card mdl-shadow--6dp">
  <%= form_for(:session, url: two_factor_auth_path) do |f| %>
    <div class="mdl-card__title">
    </div>
    <div class="mdl-card__supporting-text">
      <div class="mdl-textfield mdl-js-textfield">
        <%= f.text_field :username, class: 'mdl-textfield__input' %>
        <%= f.label :username, 'Username', class: 'mdl-textfield__label' %>
      </div>
      <div class="mdl-textfield mdl-js-textfield">
        <%= f.password_field :password, class: 'mdl-textfield__input' %>
        <%= f.label :password, class: 'mdl-textfield__label' %>
      </div>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <button class="mdl-button mdl-button--raised mdl-button--accent mdl-js-button mdl-js-ripple-effect">Log in</button>
      <p><%= link_to "Forgot Password", new_password_reset_path  %></p>
    </div>
  <% end %>
</div>

<div class="mdl-card instructions">
  <div class="mdl-card__supporting-text">
      <i class="small material-icons">info_outline</i>
      If you don't know how to log in, please contact your project supervisor for instructions.
  </div>
</div>
