<% provide(:title, "Log in") %>
<h1>Log in</h1>

<div class="row">
  <%= form_for(:session, url: login_path, html: {class: "col s12"}) do |f| %>

    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">phone</i>
        <%= f.text_field :phone %>
        <%= f.label :phone, "Username" %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">vpn_key</i>
        <%= f.password_field :password %>
        <%= f.label :password %>
      </div>
    </div>
    
    <%= button_tag( :class => "btn waves-effect waves-light right") do %>
      Log in <i class="material-icons right">exit_to_app</i>
    <% end %>
  <% end %>
</div>

<div class="row">

  <div class="card teal lighten-3">
    <div class="card-action">
      <p class="grey-text text-darken-3">
        <i class="small material-icons">info_outline</i>
        If you don't know how to log in, please contact your project supervisor for instructions.
      </p>
    </div>
  </div>

</div>
