<% provide(:title, 'Sign up') %>
<% provide(:context_title, 'Create user account') %>
<% @interface_languages = Language.where.not(locale_tag: nil).order(:name) %>

 <%= form_for(@user, url: signup_path) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--4-col">
        <div class="mdl-textfield mdl-js-textfield">
          <i class="material-icons mdl-textfield__icon">account_circle</i>
          <%= f.text_field :name, class: 'mdl-textfield__input',:required => true %>
          <%= f.label :name, class: 'mdl-textfield__label' %>
        </div>
        <div class="mdl-textfield mdl-js-textfield">
          <i class="material-icons mdl-textfield__icon">phone</i>
          <%= f.telephone_field :phone, class: 'mdl-textfield__input', :required => true %>
          <%= f.label :phone, class: 'mdl-textfield__label' %>
        </div>
        <div class="mdl-textfield mdl-js-textfield">
          <i class="material-icons mdl-textfield__icon">email</i>
          <%= f.email_field :email, class: 'mdl-textfield__input', :required => true %>
          <%= f.label :email, class: 'mdl-textfield__label' %>
        </div>
        <div class="mdl-textfield mdl-js-textfield">
          <%= f.text_field :role_description, class: 'mdl-textfield__input' %>
          <%= f.label :role_description, class: 'mdl-textfield__label' %>
        </div>
      </div>
      <div class="mdl-cell mdl-cell--4-col ">
        <div  class="mdlext-selectfield mdlext-js-selectfield mdlext-selectfield--floating-label mdl-textfield mdl-js-textfield">
          <%= f.collection_select(:interface_language_id, @interface_languages, :id, :name, options = {}, html_options = {class: 'mdlext-selectfield__select'}) %>
          <%= f.label :interface_language_id, 'Language for using Reporter', class: 'mdlext-selectfield__label' %>
        </div>
          <div>
            <ul class="mdl-list">
              <% @geo_states.each do |geo_state| %>
                <li class="mdl-list__item">
                  <span class="mdl-list__item-primary-content">
                    <%= geo_state.name %>
                  </span>
                  <span class="mdl-list__item-secondary-action">
                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="state-checkbox-<%= geo_state.id %>">
                      <input
                        type="checkbox"
                        id="state-checkbox-<%= geo_state.id %>"
                        name="user[geo_states][<%= geo_state.id %>]"
                        value="<%= geo_state.id %>"
                        class="mdl-checkbox__input"
                        <%= (@user.geo_states.include? geo_state) ? 'checked' : '' %>
                        />
                    </label>
                  </span>
                </li>
              <% end %>
            </ul>
          </div>
          <div>
            <ul class="mdl-list">
              <div  class="mdlext-selectfield mdlext-js-selectfield mdlext-selectfield--floating-label ">
                <%= recaptcha_tags %>
              </div>
            </ul>
          </div>
        </div>
     </div>
  <%= submit_tag "Create", class: "mdl-button mdl-button--raised mdl-button--accent mdl-js-button mdl-js-ripple-effect" %>
  <% end %>

