<% provide(:title, 'Log in') %>
<h1></h1>
<div class="row" >
  <div class="card-panel light-blue otp_msg" style='display:none;'></div>
</div>
<div class="row">
  <%= form_for(:session, url: login_path, html: {class: 'col s12', id: 'otp_form'}) do |f| %>
    <div class="row">
      <div class="input-field col s12">
        <%= f.text_field :otp_code %>
        <%= f.label :otp, 'Short Login Code' %>
      </div>
    </div>
      <div class="right">
        <%= button_tag( :class => 'mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect', :id => 'btn_login') do %>
          Log in
        <% end %>
      </div>
  <% end %>
</div>
<div class="row">
  <script>
    $(document).ready(submitResendPhoneForm);
    function submitResendPhoneForm() {
      document.getElementById('resend-phone-form').submit();
      $('#resend-phone-form .mdl-spinner').addClass('is-active');
      $('#resend-phone-form .resend_otp_to_phone').attr('disabled', '');
    }
    function submitResendEmailCodeForm() {
      document.getElementById('resend-email-code-form').submit();
      $('#resend-email-code-form .mdl-spinner').addClass('is-active');
      $('#resend-email-code-form .resend_otp_to_email').attr('disabled', '');
    }
    function resendSmsResponseHandler(e) {
      let response = e.detail.parseResponse();
      console.log(response);
      if (response.success) {
        $('.otp_msg').html('Login code resent to phone');
      } else {
        $('.otp_msg').html('Could not resend the login code to your phone!');
      }
      $('#resend-phone-form .mdl-spinner').removeClass('is-active');
      $('#resend-phone-form .resend_otp_to_phone').removeAttr('disabled');
      $('.otp_msg').hide().fadeIn();
    }
    window.addEventListener('WebComponentsReady', function() {
      document.getElementById('resend-phone-form').addEventListener('iron-form-response', resendSmsResponseHandler)
    });
    </script>
  <%= form_tag(resend_code_to_phone_path, class: 'col s6', id: 'resend-phone-form', is: 'iron-form', 'on-iron-form-response': 'resendSmsResponseHandler') do |f| %>
    <paper-button onclick="submitResendPhoneForm()" class="resend_otp_to_phone">Resend Login Code to Phone</paper-button>
      <div class="mdl-spinner mdl-js-spinner"></div>
  <% end %>
  <% if @user.email.present? and @user.email_confirmed? %>
      <script>
        function resendEmailCodeResponseHandler(e) {
          let response = e.detail.parseResponse();
          console.log(response);
          if (response.success) {
            $('.otp_msg').html('Login code resent to email address');
          } else {
            $('.otp_msg').html('Could not resend the login code to your email!');
          }
          $('#resend-email-code-form .mdl-spinner').removeClass('is-active');
          $('#resend-email-code-form .resend_otp_to_email').removeAttr('disabled');
          $('.otp_msg').hide().fadeIn();
        }
        window.addEventListener('WebComponentsReady', function() {
          document.getElementById('resend-email-code-form').addEventListener('iron-form-response', resendEmailCodeResponseHandler)
        });
      </script>
    <%= form_tag(resend_code_to_email_path, class: 'col s6', id: 'resend-email-code-form', is: 'iron-form', 'on-iron-form-response': 'resendEmailCodeResponseHandler') do |f| %>
        <paper-button onclick="submitResendEmailCodeForm()" class="resend_otp_to_email">Resend Login Code to Email</paper-button>
          <div class="mdl-spinner mdl-js-spinner"></div>
    <% end %>
  <% end %>
</div>
<div class="row">
  <div id="resend_link">
      
  </div>
</div>