<% provide(:title, 'Log in') %>

<div class="mdl-card login-card mdl-shadow--6dp">
  <%= form_for(:session, url: login_path, html: {class: 'col s12', id: 'otp_form'}) do |f| %>
    <div class="mdl-card__title">
    </div>
      <div class="mdl-card__supporting-text">
        <div class="mdl-textfield mdl-js-textfield">
          <%= f.text_field :otp_code %>
          <%= f.label :otp, 'Short Login Code' %>
        </div>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <button class="mdl-button mdl-button--raised mdl-button--accent mdl-js-button mdl-js-ripple-effect">Log in</button>
      </div>
  <% end %>
</div>
<div class="resend-controls">
  <% if @user.phone.present? %>
    <%= form_tag(resend_code_to_phone_path, id: 'resend-phone-form', remote: true) do %>
      <button  type="submit" class="resend_otp_to_phone mdl-button mdl-js-button mdl-button--colored">Send Login Code to Phone</button>
        <div class="mdl-spinner mdl-js-spinner"></div>
    <% end %>
  <% end %>

  <% if @user.email.present? and @user.email_confirmed? %>
      <script>
        function spin() {
          $('#resend-email-code-form .mdl-spinner').addClass('is-active');
          $('#resend-email-code-form .resend_otp_to_email').attr('disabled', '');
          return true;
        }
      </script>
    <%= form_tag(resend_code_to_email_path, id: 'resend-email-code-form', remote: true, onsubmit: 'spin();') do %>
        <button type="submit" class="resend_otp_to_email mdl-button mdl-js-button mdl-button--colored">Send Login Code to Email</button>
          <div class="mdl-spinner mdl-js-spinner"></div>
    <% end %>
  <% end %>
</div>