<% provide(:title, 'Log in') %>

<div class="mdl-card login-card mdl-shadow--6dp">
  <%= form_for(:session, url: login_path, html: {class: 'col s12', id: 'otp_form'}) do |f| %>
    <div class="mdl-card__title">
    </div>
      <div class="mdl-card__supporting-text">
        <div class="mdl-textfield mdl-js-textfield">
          <%= f.text_field :otp_code %>
          <%= f.label :otp, 'Short Login Code' %>
        </div>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <button class="mdl-button mdl-button--raised mdl-button--accent mdl-js-button mdl-js-ripple-effect">Log in</button>
      </div>
  <% end %>
</div>
<div class="resend-controls">
  <% if @user.phone.present? %>
    <script>
      function submitResendPhoneForm() {
        document.getElementById('resend-phone-form').submit();
      }
      function resendSmsResponseHandler(e) {
        let response = e.detail.parseResponse();
        poll(response.ticket);
      }

      function poll(ticket) {
        console.log("polling <%= otp_poll_path('999') %>".replace('999', ticket));
        $('#resend-phone-form .mdl-spinner').addClass('is-active');
        $('#resend-phone-form .resend_otp_to_phone').attr('disabled', '');
        let stillWaiting = true;
        setTimeout(function() {
          $.ajax(
            {
              url: "<%= otp_poll_path('999') %>".replace('999', ticket),
              success: function(data) {
                console.log("polling got: " + JSON.stringify(data));
                if (data.status == "invalid ticket") {
                  console.log("invalid ticket");
                  stillWaiting = false;
                  console.error("invalid polling ticket " + ticket);
                }
                else if (data.status == "pending") {
                  console.log("still waiting");
                  stillWaiting = true;
                }
                else if (data.status == true) {
                  console.log("success");
                  stillWaiting = false;
                  $('.otp_msg').html('Login code sent to phone');
                  $('.otp_msg').hide().fadeIn();
                }
                else {
                  console.log("failure");
                  stillWaiting = false;
                  $('.otp_msg').html('Could not send the login code to your phone!');
                  $('.otp_msg').hide().fadeIn();
                }
              },
              dataType: "json",
              complete: function() {
                if (stillWaiting) {
                  poll(ticket);
                } else {
                  $('#resend-phone-form .mdl-spinner').removeClass('is-active');
                  $('#resend-phone-form .resend_otp_to_phone').removeAttr('disabled');
                }
              }
            }
          );
        }, 30000);
      }

      window.addEventListener('WebComponentsReady', function() {
        document.getElementById('resend-phone-form').addEventListener('iron-form-response', resendSmsResponseHandler);
        <% if @ticket.present? %>
          poll(<%= @ticket %>);
        <% end %>
      });
    </script>
    <%= form_tag(resend_code_to_phone_path, class: 'col s6', id: 'resend-phone-form', is: 'iron-form', 'on-iron-form-response': 'resendSmsResponseHandler') do |f| %>
      <button onclick="submitResendPhoneForm()" class="resend_otp_to_phone mdl-button mdl-js-button mdl-button--colored">Send Login Code to Phone</button>
        <div class="mdl-spinner mdl-js-spinner"></div>
    <% end %>
  <% end %>
  <% if @user.email.present? and @user.email_confirmed? %>
      <script>
        function submitResendEmailCodeForm() {
          document.getElementById('resend-email-code-form').submit();
          $('#resend-email-code-form .mdl-spinner').addClass('is-active');
          $('#resend-email-code-form .resend_otp_to_email').attr('disabled', '');
        }
        function resendEmailCodeResponseHandler(e) {
          let response = e.detail.parseResponse();
          console.log(response);
          if (response.success) {
            $('.otp_msg').html('Login code resent to email address');
          } else {
            $('.otp_msg').html('Could not resend the login code to your email!');
          }
          $('#resend-email-code-form .mdl-spinner').removeClass('is-active');
          $('#resend-email-code-form .resend_otp_to_email').removeAttr('disabled');
          $('.otp_msg').hide().fadeIn();
        }
        window.addEventListener('WebComponentsReady', function() {
          document.getElementById('resend-email-code-form').addEventListener('iron-form-response', resendEmailCodeResponseHandler)
        });
      </script>
    <%= form_tag(resend_code_to_email_path, class: 'col s6', id: 'resend-email-code-form', is: 'iron-form', 'on-iron-form-response': 'resendEmailCodeResponseHandler') do |f| %>
        <button onclick="submitResendEmailCodeForm()" class="resend_otp_to_email mdl-button mdl-js-button mdl-button--colored">Send Login Code to Email</button>
          <div class="mdl-spinner mdl-js-spinner"></div>
    <% end %>
  <% end %>
</div>
<div class="row">
  <div id="resend_link">
      
  </div>
</div>