<% provide(:title, 'Enter new password') %>
<h1>Reset password</h1>

<div class="mdl-card login-card mdl-shadow--1dp">
  <%= form_for(:change_password, url: change_password_path) do |f| %>
      <div class="mdl-textfield mdl-js-textfield">
        <i class="material-icons mdl-textfield__icon">vpn_key</i>
        <%= f.password_field :password, class: 'mdl-textfield__input' %>
        <%= f.label :password, class: 'mdl-textfield__label' %>
      </div>
      <div class="mdl-textfield mdl-js-textfield">
        <i class="material-icons mdl-textfield__icon">vpn_key</i>
        <%= f.password_field :password_confirmation, class: 'mdl-textfield__input' %>
        <%= f.label :password_confirmation, 'Confirm Password', class: 'mdl-textfield__label' %>
      </div>
    <%= f.submit "Submit", class: "mdl-button submit" %>
  <% end %>
</div>
