<% provide(:title, 'Enter new password') %>
<h1>Reset password</h1>

<div class="mdl-card login-card mdl-shadow--1dp">
  <%= form_for(:change_password, url: change_password_path) do |f| %>
    <%= f.label :Password %>
    <%= f.password_field :password, class: 'form-control' %></br></br>
    <%= f.label :Confirmation %>
    <%= f.password_field :password, class: 'form-control' %>
    <%= f.submit "Submit", class: "btn btn-primary" %>
  <% end %>
</div>