<% provide(:title, 'Enter the OTP') %>
<h1>Enter otp code</h1>

<div class="mdl-card login-card mdl-shadow--1dp">
      <%= form_for(:verify_otp, url: verify_otp_path) do |f| %>
          <%= f.label :Email %>
          <%= f.email_field :email, class: 'form-control' %></br></br>
          <%= f.label :OTP %>
          <%= f.text_field :otp, class: 'form-control' %>
          <%= f.submit "Confirm", class: "btn btn-primary" %>
        <% end %>
</div>
