<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hi <%= defined?(@recipient) ? @recipient.name : @recipient_name %></h1>

<% if defined?(@recipient) and @recipient == @report.reporter %>
  <p>
    This is the email we sent to your supervisor:
  </p>
<% end %>

<p>
  <% if defined?(@recipient) and @recipient.trusted? %>
      <%= @report.reporter.name %> entered this report into the LCI app on <%= @report.report_date.strftime('%A, %d %b') %>,
  <% else %>
      This report was entered into the LCI app on <%= @report.report_date.strftime('%A, %d %b') %>,
  <% end %>
  and it was decided that you you know about it:
</p>

<p>
  This report is for <%= @report.languages.pluck(:name).to_sentence %> in <%= @report.geo_state.name %>.
</p>

<p>
  <%= @report.content %>
</p>

<% if @report.pictures.any? %>
  <% if defined? @recipient %>
    <% if @recipient.trusted? %>
      <% @report.pictures.each do |picture| %>
        <%= image_tag attachments[picture.ref_identifier].url if picture.ref? %>
      <% end %>
    <% else %>
      <p>You are not permitted to see the pictures attached to this report.</p>
    <% end %>
  <% else %>
    <p>Log in to the LCI app to see the <%= link_to 'report pictures', @report %></p>
  <% end %>
<% end %>
</body>
</html>