<% title = @showing_all ? "All people" : "My contacts" %>
<% provide(:title, title) %>
<h1><i class="material-icons large">people</i>
 <%= title %></h1>

<%= will_paginate %>

<ul class="people collection">
  <%= render @people %>
</ul>

<%= will_paginate %>

<%= link_to "Show all people", people_path, class: "btn waves-effect" %>

<%= link_to "Add contact", new_person_path, class: "btn waves-effect" %>