<% provide(:title, 'Output Totals') %>

<h1><i class="material-icons large">tab</i> output totals</h1>

<ul class="collapsible" data-collapsible="accordion">
  <% @languages.each do |language| %>
    <li>
      <div class="collapsible-header <%= colour_class(language.colour) %>"><%= language.name %></div>
      <div class="collapsible-body">
        <div class="row">
        <% table_data = language.table_data(logged_in_user.geo_state) %>
        <table class="striped">
          <thead>
            <tr>
          	  <% table_data.shift.each do |cell_content| %>
          	    <th><%= cell_content %></th>
          	  <% end %>
          	</tr>
          </thead>
          <tbody>
          	<% table_data.each do |row| %>
          	  <tr>
          	  	<% row.each do |cell| %>
          	  	  <td><%= cell %></td>
          	  	<% end %>
          	  </tr>
          	<% end %>
          </tbody>
        </table>
        </div>

        <div class="row">
        <%= link_to "outputs/#{language.id}.pdf", class: "btn waves-effect waves-light right" do %>
          <i class="material-icons">file_download</i>
          Get PDF
        <% end %>
        </div>
      </div>
    </li>
  <% end %>
</ul>