<div class="card report green lighten-3" id="report-<%= impact_report.id %>">
  <div class="card-content">
    <p><%= simple_format impact_report.content %></p>
    <% impact_report.pictures.each do |picture| %>
        <%= image_tag picture.ref_url if picture.ref? %>
    <% end %>
    <% if impact_report.reporter %>
      <div class="reporter"><%= impact_report.reporter.name %></div>
    <% end %>
  </div>
  <div class="card-action">
  <% if logged_in_user.can_archive_report? %>
    <% if impact_report.archived? %>
      <%= link_to unarchive_impact_report_path(impact_report), class: "waves-effect btn white-text tooltipped", "data-position" => "top", "data-delay" => "50", "data-tooltip" => "Un-Archive", method: :patch do %>
        <i class="material-icons">publish</i>
      <% end %>
    <% else %>
      <%= link_to archive_impact_report_path(impact_report), class: "waves-effect btn white-text tooltipped", "data-position" => "top", "data-delay" => "50", "data-tooltip" => "Archive", method: :patch do %>
        <i class="material-icons">archive</i>
      <% end %>
    <% end %>
  <% end %>
  <% if logged_in_user.can_edit_report? %>
      <%= link_to edit_report_path(impact_report.report.id), class: "waves-effect btn white-text tooltipped", "data-position" => "top", "data-delay" => "50", "data-tooltip" => "Edit" do %>
        <i class="material-icons">edit</i>
      <% end %>
  <% end %>
  </div>
</div>