<% provide(:title, 'Assess outcome progress by language') %>
<h1>Assess outcome progress by language</h1>

<div class="row">
  <div class="col s12 m6 l4">Choose a month for assessing:</div>
  <div class="col s12 m6 l4"><%= render partial: 'shared/year_month_select', locals: {start_from: @from_date, up_to: @to_date} %></div>
</div>

<div class"row" id="language-select">
  <p>Now choose a <%= @geo_states.count > 1 ? "state and" : "" %> language to assess by:</p>
  <ul class="collapsible">
    <% current_user.geo_states.each do |geo_state| %>
      <li>
        <div class="collapsible-header green lighten-2 <%= @geo_states.count == 1 ? "active" : "" %>"><%= geo_state.name %></div>
        <div class="collapsible-body collection">
        	<%= render partial: 'topics/language', collection: geo_state.minority_languages.order(:name), locals: {geo_state_id: geo_state.id} %>
        </div>
      </li>
    <% end %>
  </ul>

</div>