<% provide(:title, "Assess Progress Markers for #{@language.name}") %>

<datalist id="pm-data" class="hide">
  <% ProgressMarker.spread_text.each do |key, text| %>
    <option label="<%= text %>" id="spread-<%= key %>"><%= key %></option>
  <% end %>
</datalist>

<%= form_tag({controller: "topics", action: "update_progress"}, method: "post") do %>
  <%= hidden_field_tag("geo_state_id", @geo_state.id) %>

  <div class="row">
    <div class="col s12 m6 l4">
      <%= render partial: 'languages/language_card', object: @language %>
    </div>
    <div class="col s12 m6 l4 input-field year-month-select">
      <%= render partial: 'shared/year_month_select', locals: {start_from: @from_date, up_to: @to_date, options: {class: "filter-trigger", "data-filter-trigger-label" => "month"}} %>
      <%= label_tag 'year-month', "Month for evaluation" %>
    </div>
  </div>

  <ul class="tabs z-depth-1">
    <% @progress_markers_by_weight.keys.each do |outcome_area| %>
      <li class="tab col s3"><a href="<%= "#oa-#{outcome_area.id}" %>"><%= outcome_area.name.split.first %></a></li>
    <% end %>
  </ul>
  <% @progress_markers_by_weight.keys.each do |outcome_area| %>
    <div id="<%= "oa-#{outcome_area.id}" %>">
      <%= render partial: 'topic', object: outcome_area %>
      <% @progress_markers_by_weight[outcome_area].each do |weight, progress_marker_group| %>
        <h3><%= ProgressMarker.weight_text[weight] %></h3>
        <ul class="collapsible" data-collapsible="accordion">
          <% progress_marker_group.each do |progress_marker| %>
            <li class="progress-marker">
              <div class="collapsible-header tooltipped" data-tooltip="<%= progress_marker.description %>"><%= progress_marker.name %>
                <% if @reports_by_pm_by_month[progress_marker] %>
                  <% @month_range.each do |date| %>
                    <span class="right report-count filterable-item" data-filter-label="month" data-month="<%= date.strftime("%Y-%m") %>">
                    <%= @reports_by_pm_by_month[progress_marker][date.strftime("%Y-%m")] ?
                    @reports_by_pm_by_month[progress_marker][date.strftime("%Y-%m")].count :
                    '0' %>
                    </span>
                  <% end %>
                <% else %>
                  <span class="right report-count">0</span>
                <% end %>
              </div>

              <div class="collapsible-body">

                <div class="row">
                  <div class="col s12 m6">
                    <p><%= progress_marker.description %></p>
                  </div>
                  <div class="col s12 m6">

                    <div class="row">
                      <div class="col s6 range-field">

                        <%= label_tag("progress_marker_#{progress_marker.id}", "Asses the level of activity this month for #{@language.name}") %>
                      	<%= range_field('progress_marker', progress_marker.id, in: ProgressMarker.spread_text.keys, list: "pm-data", value: progress_marker.current_progress(@language, @geo_state), class: "activity-level-select") %>
                      </div>
                      <div class="input-field col s6">
                        <div class="spreadness-text"></div>
                        <%= check_box_tag("marker_complete[#{progress_marker.id}]") %>
                        <%= label_tag("marker_complete_#{progress_marker.id}", "Done") %>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="row">
                  <% if @reports_by_pm_by_month[progress_marker] %>
                    <% @reports_by_pm_by_month[progress_marker].each do |month, reports| %>
                      <% @reports.each do |report| %>
          				      <div class="col s12 m6 l4">
          				        <%= render partial: "impact_report", object: report, locals: {month: month} %>
          				      </div>
                      <% end %>
                    <% end %>
                  <% else %>
                    <p>There are no impact reports to show.</p>
                  <% end %>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>
  <div class="row">
      <%= button_tag( :class => "btn waves-effect waves-light right") do %>
        Submit Update <i class="material-icons right">send</i>
      <% end %>
  </div>
<% end %>