<% provide(:title, "Assess #{@outcome_area.name} for #{@language.name}") %>

<datalist id="pm-data" class="hide">
  <% ProgressMarker.spread_text.each do |key, text| %>
    <option label="<%= text %>" id="spread-<%= key %>"><%= key %></option>
  <% end %>
</datalist>

<%= form_tag({controller: "topics", action: "update_progress"}, method: "post") do %>
<%= hidden_field_tag("geo_state_id", @geo_state.id) %>
<div class="row">
  <div class="col s12 m6 l5">
  	<%= render partial: 'topic', object: @outcome_area %>
  </div>
  <div class="col s12 m6 l5">
  	<%= render partial: 'languages/language_card', object: @language %>
  </div>
  <div class="col s12 m6 l2 input-field month-select">
    <%= select_month(Date.today) %>
  </div>
</div>

<div class="row">
    <% @progress_markers_by_weight.each do |weight, progress_marker_group| %>
      <div class="row">
        <h2><%= ProgressMarker.weight_text[weight] %></h2>
        <ul class="collapsible" data-collapsible="accordion">
          <% progress_marker_group.each do |progress_marker| %>
            <li class="progress-marker">
              <div class="collapsible-header tooltipped" data-tooltip="<%= progress_marker.description %>"><%= progress_marker.name %>
              <span class="right report-count"><%= @reports.select{ |r| r.progress_markers.include?(progress_marker) }.count %></span>
              </div>
              <div class="collapsible-body">

                <div class="row">
                  <div class="col s12 m6">
                    <p><%= progress_marker.description %></p>
                  </div>
                  <div class="col s12 m6">

                    <div class="row">
                      <div class="col s6 range-field">
                        <%= label_tag("progress_marker_#{progress_marker.id}", "Asses the level of activity this month for #{@language.name}") %>
                      	<%= range_field('progress_marker', progress_marker.id, in: ProgressMarker.spread_text.keys, list: "pm-data", value: progress_marker.current_progress(@language, @geo_state), class: "activity-level-select") %>
                      </div>
                      <div class="input-field col s6">
                        <div class="spreadness-text"></div>
                        <%= check_box_tag("marker_complete[#{progress_marker.id}]") %>
                        <%= label_tag("marker_complete_#{progress_marker.id}", "Done") %>
                      </div>
                    </div>

                  </div>
                </div>
                
                <% if @reports.select{ |r| r.progress_markers.include?(progress_marker) }.count > 0 %>
                  <% @reports.select{ |r| r.progress_markers.include?(progress_marker) }.in_groups_of(3, false) do |report_group| %>
          				  <div class="row">
          				    <% report_group.each do |report| %>
          				      <div class="col s12 m6 l4">
          				        <%= render partial: "impact_reports/report", object: report, locals: {time: true, languages: false, topics: false, wrapper: false} %>
          				      </div>
          				    <% end %>
          				  </div>
                  <% end %>
                <% else %>
                  <p>There are no impact reports for <%= @language.name %> with this progress marker.</p>
                <% end %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>

  <div class="row">
      <%= button_tag( :class => "btn waves-effect waves-light right") do %>
        Submit Update <i class="material-icons right">send</i>
      <% end %>
  </div>
<% end %>