<% provide(:title, 'Assess outcome progress by language') %>
<h1>Assess outcome progress by language</h1>

<p>Choose a <%= @geo_states.count > 1 ? 'state and' : '' %> language to assess by:</p>

<div id="select-state-language">
  <% logged_in_user.geo_states.each do |geo_state| %>
    <div class="mdl-accordion <%= @geo_states.count == 1 ? 'mdl-accordion--opened' : '' %>">
      <div class="mdl-accordion__button">
        <i class="material-icons mdl-accordion__icon mdl-animation--default">expand_more</i>
        <span><a><%= geo_state.name %></a> <em>(<%= link_to 'bulk assess', bulk_assess_geo_state_path(geo_state) %>)</em></span>
      </div>
      <div class="mdl-accordion__content-wrapper">
        <ul class="mdl-list mdl-accordion__content mdl-animation--default">
          <%= render partial: 'topics/language', collection: geo_state.state_languages.in_project.joins(:language).order('languages.name'), locals: {start_from: @from_date, up_to: @to_date} %>
        </ul>
      </div>
    </div>
  <% end %>
</div>
