<% provide(:title, "Assess Progress Markers for #{@language.name}") %>

<datalist id="pm-data" class="hide">
  <% ProgressMarker.spread_text.each do |key, text| %>
    <option label="<%= text %>" id="spread-<%= key %>"><%= key %></option>
  <% end %>
</datalist>

<%= form_tag({controller: "topics", action: "update_progress"}, method: "post") do %>
  <%= hidden_field_tag("geo_state_id", @geo_state.id) %>

  <div class="row">
    <div class="col s12 m6 l4">
      <%= render partial: 'languages/language_card', object: @language %>
      <%= link_to select_to_assess_path, class: "btn waves-effect" do %>
        <i class="material-icons left">arrow_back</i>
        Change language
      <% end %>
    </div>
    <div class="col s12 m6 l4 input-field year-month-select">
      <a class='dropdown-button btn' href='#' data-activates='month-dropdown'><%= "#{Date::MONTHNAMES[@month.to_i]} #{@year}" %></a>
      <ul id='month-dropdown' class='dropdown-content'>
        <% (@from_date..@to_date).select{ |d| d.day == 1 }.each do |date| %>
          <% if date.strftime("%Y%m") == @year + @month %>
            <li><a><%= date.strftime("%B %Y") %></a></li>
          <% else %>
            <li><%= link_to date.strftime("%B %Y"), assess_progress_path(geo_state_id: @geo_state.id, language_id: @language.id, month: date.strftime("%Y%m")) %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>

  <ul class="tabs z-depth-1">
    <% @progress_markers_by_weight.keys.each do |outcome_area| %>
      <li class="tab col s3"><a href="<%= "#oa-#{outcome_area.id}" %>"><%= outcome_area.name.split.first %></a></li>
    <% end %>
  </ul>
  <% @progress_markers_by_weight.keys.each do |outcome_area| %>
    <div id="<%= "oa-#{outcome_area.id}" %>">
      <%= render partial: 'topic', object: outcome_area %>
      <% @progress_markers_by_weight[outcome_area].each do |weight, progress_marker_group| %>
        <h3><%= ProgressMarker.weight_text[weight] %></h3>
        <ul class="collapsible" data-collapsible="accordion">
          <% progress_marker_group.each do |progress_marker| %>
            <li class="progress-marker">
              <div class="collapsible-header tooltipped" data-tooltip="<%= progress_marker.description %>"><%= progress_marker.name %>
                <% if @reports_by_pm[progress_marker] %>
                  <span class="right report-count" %>
                    <%= @reports_by_pm[progress_marker].count %>
                  </span>
                <% else %>
                  <span class="right report-count">0</span>
                <% end %>
              </div>

              <div class="collapsible-body">

                <div class="row">
                  <div class="col s12 m6">
                    <p><%= progress_marker.description %></p>
                  </div>
                  <div class="col s12 m6">

                    <div class="row">
                      <div class="col s6 range-field">

                        <%= label_tag("progress_marker_#{progress_marker.id}", "Asses the level of activity this month for #{@language.name}") %>
                      	<%= range_field('progress_marker', progress_marker.id, in: ProgressMarker.spread_text.keys, list: "pm-data", value: progress_marker.progress_at(@language, @geo_state, @month_date.end_of_month), class: "activity-level-select") %>
                      </div>
                      <div class="input-field col s6">
                        <div class="spreadness-text"></div>
                        <%= check_box_tag("marker_complete[#{progress_marker.id}]") %>
                        <%= label_tag("marker_complete_#{progress_marker.id}", "Done") %>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="row">
                  <% if @reports_by_pm[progress_marker] %>
                    <% @reports_by_pm[progress_marker].each do |report| %>
        				      <div class="col s12 m6 l4">
        				        <%= render partial: "impact_report", object: report %>
        				      </div>
                    <% end %>
                  <% else %>
                    <p>There are no impact reports to show.</p>
                  <% end %>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>
  <div class="row">
      <%= button_tag( :class => "btn waves-effect waves-light right") do %>
        Submit Update <i class="material-icons right">send</i>
      <% end %>
  </div>
<% end %>