<% provide(:title, "Assess #{@outcome_area.name} for #{@language.name}") %>
<div class="row">
  <div class="col s12 m6">
  	<%= render partial: 'topic', object: @outcome_area %>
  </div>
  <div class="col s12 m6">
  	<%= render partial: 'languages/language_card', object: @language %>
  </div>
</div>
<% @progress_markers_by_weight.each do |weight, progress_marker_group| %>
  <div class="row">
    <h2><%= ProgressMarker.weight_text[weight] %></h2>
    <ul class="collapsible" data-collapsible="accordion">
      <% progress_marker_group.each do |progress_marker| %>
        <li>
          <div class="collapsible-header"><%= progress_marker.name %></div>
          <div class="collapsible-body">
            <p><%= progress_marker.description %></p>
            <% if @reports_by_progress_marker[progress_marker.id] %>
              <% @reports_by_progress_marker[progress_marker.id].in_groups_of(3, false) do |report_group| %>
				  <div class="row">
				    <% report_group.each do |report| %>
				      <div class="col s12 m6 l4">
				        <%= render partial: "impact_reports/report", object: report, locals: {time: true, languages: false, topics: false, wrapper: false} %>
				      </div>
				    <% end %>
				  </div>
              <% end %>
            <% else %>
              <p>There are no impact reports for <%= @language.name %> with this progress marker.</p>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>