<% if @table_content %>
$('#table-<%= @language.id %>').html("<%= @table_content.html_safe %>");
<% else %>
$('#table-<%= @language.id %>').html("<p>No progress levels set</p>");
$('#chart-<%= @language.id %>').hide();
$('#pdf-download-<%= @language.id %>').hide();
<% end %>