<% provide(:title, 'Outcome area progress') %>

<h1><i class="material-icons large">tab</i> progress in outcome areas</h1>

<ul class="collapsible" data-collapsible="accordion">
  <% @languages_by_state.each do |geo_state, languages| %>
    <h2><%= geo_state.name %></h2>
    <% languages.each do |language| %>
      <li>
        <div class="collapsible-header <%= colour_class(language.colour) %>"><%= language.name %></div>
        <div class="collapsible-body">

          <div class="row" id="table-<%= geo_state.id %>-<%= language.id %>">
            <%= link_to "Get table", outcomes_table_path(language_id: language.id, geo_state_id: geo_state.id), remote: true, method: 'GET', class: "btn right waves-effect get-table-button" %>
          </div>

          <div class="row" id="chart-<%= geo_state.id %>-<%= language.id %>">
            <%= link_to "Get chart", outcomes_chart_path(language_id: language.id, geo_state_id: geo_state.id), remote: true, method: 'GET', class: "btn right waves-effect get-chart-button" %>
          </div>

          <div class="row">
            <%= link_to "outcomes/#{geo_state.id}/#{language.id}.pdf", class: "btn waves-effect waves-light right" do %>
              <i class="material-icons">file_download</i>
              Get PDF
            <% end %>
          </div>

        </div>
      </li>
    <% end %>
  <% end %>
</ul>