<% provide(:title, 'Show LCI Topic: ' + @topic.name) %>
<h1 class="coloured <%= @topic.colour %> <%= @topic.colour.include?('darken') || @topic.colour == "black" ? "white-text" : "black-text" %>"><%= @topic.name %></h1>
<p><%= @topic.description %></p>
<% if logged_in_user.can_edit_topic? %>
  <%= link_to edit_topic_path(@topic), class: "waves-effect right btn" do %>
    <i class="material-icons left">create</i>
    Edit
  <% end %>
<% end %>
<% if logged_in_user.can_view_all_topics? %>
  <%= link_to topics_path, class: "waves-effect btn" do %>
    All Topics
  <% end %>
<% end %>

