<tr id="attribute-row-<%= @language.id %>-<%= attribute_name %>">
  <th class="mdl-data-table__cell--non-numeric"><%= title %></th>
  <%= render partial: 'text_value', locals: {
      html_tag: :td,
      attribute_name: attribute_name,
      object: @language
  }%>
</tr>
<% if defined? tooltip and tooltip.present? %>
  <span class="mdl-tooltip" for="attribute-row-<%= @language.id %>-<%= attribute_name %>"><%= tooltip %></span>
<% end %>