
<%= render partial: 'text_edit_dialog', locals: {
    attribute_name: 'name',
    label: 'Language name'
} %>

<%= render partial: 'text_edit_dialog', locals: {
    attribute_name: 'iso',
    label: 'ISO code'
} %>

<%= render partial: 'text_edit_dialog', locals: {
    attribute_name: 'description',
    label: 'Language description',
    area: true
} %>

<%= render partial: 'text_edit_dialog', locals: {
    attribute_name: 'info',
    label: 'Other language information',
    area: true
} %>

<%= render partial: 'text_edit_dialog', locals: {
    attribute_name: 'number_of_translations',
    label: 'Number of Bible translation projects',
    number: true
} %>

<%= render partial: 'text_edit_dialog', locals: {
    attribute_name: 'translation_info',
    label: 'Extra information about Bible translation in this language',
    area: true
} %>

<%= render partial: 'boolean_edit_dialog', locals: {
    attribute_name: 'tr_committee_established',
    label: 'Translation Committee Established?'
} %>

<%= render partial: 'text_edit_dialog', locals: {
    attribute_name: 'bible_first_published',
    label: 'Year the whole Bible was first published',
    number: true
} %>

<%= render partial: 'text_edit_dialog', locals: {
    attribute_name: 'bible_last_published',
    label: 'Year the whole Bible was most recently published',
    number: true
} %>

<%= render partial: 'text_edit_dialog', locals: {
    attribute_name: 'nt_first_published',
    label: 'Year the New Testament was first published',
    number: true
} %>

<%= render partial: 'text_edit_dialog', locals: {
    attribute_name: 'nt_last_published',
    label: 'Year the New Testament was most recently published',
    number: true
} %>

<%= render partial: 'text_edit_dialog', locals: {
    attribute_name: 'portions_first_published',
    label: 'Year a book of the Bible was first published',
    number: true
} %>

<%= render partial: 'text_edit_dialog', locals: {
    attribute_name: 'portions_last_published',
    label: 'Year a book of the Bible was most recently published',
    number: true
} %>

<%= render partial: 'text_edit_dialog', locals: {
    attribute_name: 'selections_published',
    label: 'Publications of Bible selections (less than a book)'
} %>

<%= render partial: 'text_edit_dialog', locals: {
    attribute_name: 'translation_consultants',
    label: 'Translation Consultants'
} %>

<%= render partial: 'text_edit_dialog', locals: {
    attribute_name: 'script',
    label: 'Scripts used by this language'
} %>

<%= render partial: 'text_edit_dialog', locals: {
    attribute_name: 'mt_literacy',
    label: 'Mother Tongue literacy rate'
} %>

<%= render partial: 'text_edit_dialog', locals: {
    attribute_name: 'l2_literacy',
    label: 'Second Language literacy rate'
} %>

<%= render partial: 'text_edit_dialog', locals: {
    attribute_name: 'literate_believers',
    label: 'Literate Believers'
} %>

<%= render partial: 'text_edit_dialog', locals: {
    attribute_name: 'mt_literacy_programs',
    label: 'Mother-Tongue literacy programs',
    area: true
} %>

<%= render partial: 'text_edit_dialog', locals: {
    attribute_name: 'attitude_to_lang_dev',
    label: 'Community attitude to language development',
    area: true
} %>

<%= render partial: 'boolean_edit_dialog', locals: {
    attribute_name: 'oral_traditions_print',
    label: 'Oral traditions are in print?'
} %>

<%= render partial: 'boolean_edit_dialog', locals: {
    attribute_name: 'poetry_print',
    label: 'Mother-Tongue poetry is in print?'
} %>

<%= render partial: 'text_edit_dialog', locals: {
    attribute_name: 'religion',
    label: 'Religion'
} %>

<%= render partial: 'boolean_edit_dialog', locals: {
    attribute_name: 'local_fellowship',
    label: 'Local Fellowship exists?'
} %>

<%= render partial: 'text_edit_dialog', locals: {
    attribute_name: 'believers',
    label: 'Number of believers'
} %>

<dialog id="edit-dialog-family" class="mdl-dialog" data-for="language-family">
  <div class="mdl-dialog__content ">
    <%= form_tag edits_path, remote: true, method: :post do %>
        <%= hidden_field_tag 'element_id', 'language-family' %>
        <%= hidden_field_tag 'edit[model_klass_name]', 'Language' %>
        <%= hidden_field_tag 'edit[record_id]', @language.id %>
        <%= hidden_field_tag 'edit[attribute_name]', 'family' %>
        <%= hidden_field_tag 'edit[old_value]', @language.family_id %>
        <%= hidden_field_tag 'edit[relationship]', '1' %>
        <div>
          <%= label_tag 'edit[new_value]', 'Language family' %>
          <%= select_tag 'edit[new_value]', options_from_collection_for_select(LanguageFamily.order(:name), 'id', 'name', @language.family_id) %>
        </div>
    <% end %>
  </div>
  <div class="md-dialog__actions">
    <button type="button" class="mdl-button submit">Submit</button>
    <button type="button" class="mdl-button cancel">Cancel</button>
  </div>
</dialog>

<%= render partial: 'text_edit_dialog', locals: {
    attribute_name: 'genetic_classification',
    label: 'Classification'
} %>

<%= render partial: 'text_edit_dialog', locals: {
    attribute_name: 'lexical_similarity',
    label: 'Lexical similarity'
} %>

<%= render partial: 'text_edit_dialog', locals: {
    attribute_name: 'related_languages',
    label: 'Related languages',
    area: true
} %>

<%= render partial: 'text_edit_dialog', locals: {
    attribute_name: 'location',
    label: 'Language location',
    area: true
} %>

<%= render partial: 'text_edit_dialog', locals: {
    attribute_name: 'location_access',
    label: 'Physical Access',
    area: true
} %>

<%= render partial: 'text_edit_dialog', locals: {
    attribute_name: 'travel',
    label: 'Travel Habits',
    area: true
} %>

<%= render 'populations/dialog_form' %>

<%= render partial: 'text_edit_dialog', locals: {
    attribute_name: 'population_concentration',
    label: 'Population Concentration'
} %>

<%= render partial: 'text_edit_dialog', locals: {
    attribute_name: 'age_distribution',
    label: 'Age Distribution'
} %>

<%= render partial: 'text_edit_dialog', locals: {
    attribute_name: 'village_size',
    label: 'Average Village Size'
} %>



<dialog id="add-engaged-org-dialog" class="mdl-dialog">
  <h4 class="mdl-dialog__title">Which organisation is engaged with this language?</h4>
  <div class="mdl-dialog__content ">
    <ul class="potentially-engaged-orgs mdl-list">
      <% Organisation.where('id not in (?)', @language.engaged_organisation_ids).find_each do |org| %>
        <li class="org-<%= org.id %> mdl-list__item">
          <%= link_to org.name_with_abbr_or_not(logged_in_user), add_engaged_org_to_language_path(@language, org), class: 'org-name mdl-list__item-primary-content', method: :patch, remote: true %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="md-dialog__actions">
    <button type="button" class="mdl-button cancel">Cancel</button>
  </div>
</dialog>

<dialog id="add-translating-org-dialog" class="mdl-dialog">
  <h4 class="mdl-dialog__title">Which organisation is translating with this language?</h4>
  <div class="mdl-dialog__content ">
    <ul class="potentially-translating-orgs mdl-list">
      <% Organisation.where('id not in (?)', @language.translating_organisation_ids).find_each do |org| %>
          <li class="org-<%= org.id %> mdl-list__item">
            <%= link_to org.name_with_abbr_or_not(logged_in_user), add_translating_org_to_language_path(@language, org), class: 'org-name mdl-list__item-primary-content', method: :patch, remote: true %>
          </li>
      <% end %>
    </ul>
  </div>
  <div class="md-dialog__actions">
    <button type="button" class="mdl-button cancel">Cancel</button>
  </div>
</dialog>

<% FinishLineMarker.find_each do |marker| %>

  <dialog id="finish-line-dialog-<%= marker.number %>" class="mdl-dialog">
    <h4 class="mdl-dialog__title"><%= marker.name %></h4>
    <div class="mdl-dialog__content ">
      <span class="description"><%= marker.description %></span>
      <ul class="finish-line-progress-options-ce mdl-list">
        <% FinishLineProgress.statuses.each do |status, status_id| %>
          <% link_text = FinishLineProgress.human_of_status(status, marker.number) %>
          <% if link_text %>
            <li class="mdl-list__item">
              <%= link_to link_text, set_flp_for_language_path(id: @language, marker: marker.number, progress: status), class: 'progress-link mdl-list__item-primary-content cancel', id: "flp-#{marker.number}-status-#{status}", method: :patch, remote: true %>
              <span class="mdl-tooltip" for="flp-<%= marker.number %>-status-<%= status %>"><%= marker.status_description(status) %></span>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <div class="md-dialog__actions">
      <button type="button" class="mdl-button cancel">Cancel</button>
    </div>
  </dialog>

<% end %>

<%= render 'shared/edit_message_dialog' %>

<%= render 'shared/dialog_activation' %>
