
<%
  language_amount = languages.count
  finish_line_data = build_finish_line_table(languages, @flms)
  vision_line = finish_line_data.delete :vision
  scripture_count = getScriptureEngageCount(languages)

  finish_marker_data = Hash.new()

  finish_line_data.each do |marker, data|
   finish_marker_data[marker.name] ||= Hash.new()
   finish_marker_data[marker.name][:no_progress] = data[:no_progress]
   finish_marker_data[marker.name][:progress] = data[:progress]
   finish_marker_data[marker.name][:complete] = data[:complete]
  end

  spreadsheet_button_params = {
      format: :csv,
      language_amount: language_amount,
      finish_line_data: finish_marker_data,
      scripture_count: scripture_count
  }

  if (defined?(zone))
    spreadsheet_button_params[:dashboard] = :zone
    spreadsheet_button_params[:zone_id] = zone.id
  elsif (defined?(geo_state))
    spreadsheet_button_params[:dashboard] = :geo_state
    spreadsheet_button_params[:state_id] = geo_state.id
  end
%>



<div id="flm-table" style="width: 70em;">
  <div style="float: right"><%=
    link_to finish_line_marker_spreadsheet_path(spreadsheet_button_params), class: 'download-transformation-spreadsheet mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent' do %>
    <i class="material-icons">file_download</i>
    Get Spreadsheet
  <% end %>
  </div>
  <%= language_amount %> languages.<br>
  <%= scripture_count %> languages: Scripture engagement not yet started/reported.
  <% if language_amount > 0 %>
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">Finish Line Marker</th>
          <th class="no-need-column">No Action<br />Needed<i class="material-icons"></i></th>
          <th class="no-progress-column"><i class="material-icons">star_border</i> No<br />Progress</th>
          <th class="in-progress-column"><i class="material-icons">star_half</i> In<br />Progress</th>
          <th class="complete-column"><i class="material-icons">star</i><br />Complete</th>
          <th><i class="material-icons">pie_chart</i></th>
          <% if logged_in_user.can_future_plan? %>
            <% planning_data = forward_planning_finish_line_data(languages, @flms) %>
            <% if planning_data.any? %>
              <th class="current-summary-column">Current<br />Summary<i class="material-icons"></i></th>
              <% planning_data.keys.each do |year| %>
                <th class="mdl-data-table__cell--non-numeric"><%= year %></th>
              <% end %>
            <% end %>
          <% end %>
        </tr>
      </thead>
      <tbody>
      <tr id="vision-finish-line-summary-row">
        <td class="mdl-data-table__cell--non-numeric">V2025 (yellow)<br />V2033 (green)</td>
        <td class="no-need-column"><%= vision_line[:nothing] %></td>
        <td class="no-progress-column"><%= vision_line[:no_progress] %></td>
        <td class="in-progress-column"><%= vision_line[:progress] %></td>
        <td class="complete-column"><%= vision_line[:complete] %></td>
        <td></td>
        <% if logged_in_user.can_future_plan? and planning_data.any? %>
          <td class="current-summary-column" <%= planning_cell_status(vision_line) %>><%= vision_line[:no_progress] %> / <%= vision_line[:progress] %> / <%= vision_line[:complete] %> </td>
          <% current_year = get_current_year %>
          <% planning_data.keys.each do |year| %>
            <% if year < current_year %>
              <% cell_data = target_met?(vision_line, planning_data[year][:vision]) ? 'data-target-met' : 'data-target-missed' %>
            <% else %>
              <% cell_data = planning_cell_status(planning_data[year][:vision]) %>
            <% end %>
            <td class="mdl-data-table__cell--non-numeric" <%= cell_data %>>
              <%= planning_data[year][:vision][:no_progress] %> /
              <%= planning_data[year][:vision][:progress] %> /
              <%= planning_data[year][:vision][:complete] %>
            </td>
          <% end %>
        <% end %>
      </tr>
      <% finish_line_data.each do |marker, data| %>
        <tr>
          <td class="mdl-data-table__cell--non-numeric"><%= marker.name %></td>
          <td class="no-need-column"><%= data[:nothing] %></td>
          <td class="no-progress-column"><%= data[:no_progress] %></td>
          <td class="in-progress-column"><%= data[:progress] %></td>
          <td class="complete-column"><%= data[:complete] %></td>
          <td>
            <label class="mdl-icon-toggle mdl-js-icon-toggle mdl-js-ripple-effect" for="pie-toggle-<%= marker.number %>">
              <input type="checkbox" id="pie-toggle-<%= marker.number %>" class="pie-toggle mdl-icon-toggle__input", data-chart="pie-chart-<%= marker.number %>">
              <i class="mdl-icon-toggle__label material-icons on hide">pie_chart</i>
              <i class="mdl-icon-toggle__label material-icons off">pie_chart_outlined</i>
            </label>
          </td>
          <% if logged_in_user.can_future_plan? and planning_data.any? %>
            <td class="current-summary-column" <%= planning_cell_status(data) %>><%= data[:no_progress] %> / <%= data[:progress] %> / <%= data[:complete] %> </td>
            <% current_year = FinishLineProgress.get_current_year %>
            <% planning_data.keys.each do |year| %>
              <% if year < current_year %>
                <% cell_data = target_met?(data, planning_data[year][marker.number]) ? 'data-target-met' : 'data-target-missed' %>
              <% else %>
                <% cell_data = planning_cell_status(planning_data[year][marker.number]) %>
              <% end %>
              <td class="mdl-data-table__cell--non-numeric" <%= cell_data %>>
                  <%= planning_data[year][marker.number][:no_progress] %> /
                  <%= planning_data[year][marker.number][:progress] %> /
                  <%= planning_data[year][marker.number][:complete] %>
              </td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% end %>
</div>

<div id="flm-charts">
  <% finish_line_data.each do |marker, data| %>
      <div id="pie-chart-<%= marker.number %>" class="chart-card mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text"><%= marker.name %></h2>
        </div>
        <%= pie_chart data.except(:nothing).map{ |k, v| [k.to_s.humanize, v]}.to_h, colors: colours_for_finish_line_data(data.except(:nothing)) %>
      </div>
  <% end %>
</div>

