<div class="mdl-grid">
  <% language_amount = languages.count %>
  <% finish_line_data = build_finish_line_table(languages, FinishLineMarker.all.to_a.sort_by{ |marker| marker.number }) %>
  <div class="mdl-grid--6-col">
    <%= language_amount %> languages.
    <table class="mdl-data-table mdl-js-data-table">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">Finish Line Marker</th>
          <th>No Progress yet <i class="material-icons">star_border</i></th>
          <th>In Progress <i class="material-icons">star_half</i></th>
          <th>Complete <i class="material-icons">star</i></th>
        </tr>
      </thead>
      <tbody>
      <% finish_line_data.each do |marker, data| %>
        <tr>
          <td class="mdl-data-table__cell--non-numeric"><%= marker.name %></td>
          <td><%= data[:no_progress] %> (<%= (data[:no_progress] *100) / language_amount %>%)</td>
          <td><%= data[:progress] %> (<%= (data[:progress] *100) / language_amount %>%)</td>
          <td><%= data[:complete] %> (<%= (data[:complete] *100) / language_amount %>%)</td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="mdl-grid--6-col">
    <% finish_line_data.each do |marker, data| %>
        <div class="chart-card mdl-card mdl-shadow--2dp">
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text"><%= marker.name %></h2>
          </div>
          <%= pie_chart data.except(:nothing).map{ |k, v| [k.to_s.humanize, v]}.to_h %>
        </div>
    <% end %>
  </div>
</div>