  <%transformations = get_transformation(zone)
    outcome_area_colours = get_outcome_area()
    outcome_areas = outcome_area_colours.keys
    spread_text = ProgressMarker.spread_text.values
  %>

    <div class="mdl-grid--6-col" style="margin-top: 20px">

      <% zone_aggregate = Hash.new()
         zone_aggregate[zone.name] ||= Hash.new()
         outcome_areas.each do |outcome_area|
           zone_aggregate[zone.name][outcome_area] ||= Hash.new(0)
           zone_aggregate[zone.name][outcome_area][:notseen] ||= 0
           zone_aggregate[zone.name][outcome_area][:emerging] ||= 0
           zone_aggregate[zone.name][outcome_area][:growingwell] ||= 0
           zone_aggregate[zone.name][outcome_area][:widespread] ||= 0
           zone_aggregate[zone.name][outcome_area][:total] ||= 0
         end
      %>

      <% transformations.each_key do |language|

        outcome_areas.each do |outcome_area|
           value0 = transformations[language][outcome_area]

           zone_aggregate[language.zone.name] ||= Hash.new()
           zone_aggregate[language.zone.name][outcome_area] ||= Hash.new(0)
           #zone_aggregate[language.zone.name][outcome_area][0] ||= Hash.new()

           zone_aggregate[language.zone.name][outcome_area][:notseen] ||= 0
           zone_aggregate[language.zone.name][outcome_area][:emerging] ||= 0
           zone_aggregate[language.zone.name][outcome_area][:growingwell] ||= 0
           zone_aggregate[language.zone.name][outcome_area][:widespread] ||= 0
           zone_aggregate[language.zone.name][outcome_area][:total] ||= 0

           value0 =  value0.round
           if value0 < 5
             zone_aggregate[language.zone.name][outcome_area][:notseen] += 1
           elsif value0 < 50
             zone_aggregate[language.zone.name][outcome_area][:emerging] += 1
           elsif value0 < 70
             zone_aggregate[language.zone.name][outcome_area][:growingwell] += 1
           elsif value0 < 100
             zone_aggregate[language.zone.name][outcome_area][:widespread] += 1
           end
           zone_aggregate[language.zone.name][outcome_area][:total] += 1

         end
      end
      %>

      <%
        #lc_amount1 = zone.languages.includes(:finish_line_progresses).uniq
        lc_amount = zone.state_languages.in_project.count
        overall ||= Hash.new(0)
        overall_avg ||= Hash.new(0)
      %>

      <label><%= zone.name %> zone</label>
      <label><%= lc_amount %> languages</label>

      <table id="aggregate-transformation-table" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">Outcome Area</th>
          <% spread_text.each do |spread| %>
            <th class="mdl-data-table__cell--non-numeric"><%= spread %></th>
          <% end %>
          <th><i class="material-icons">pie_chart</i></th>
        </tr>
        </thead>
        <%outcome_areas.each_with_index  do |outcome_area, index|
          total_value = zone_aggregate[zone.name][outcome_area][:total]
          zone_aggregate[zone.name][outcome_area][:notseen] += lc_amount - total_value
          zone_notseen = ((zone_aggregate[zone.name][outcome_area][:notseen] * 100).to_f / lc_amount).round(1)
          zone_emerging= ((zone_aggregate[zone.name][outcome_area][:emerging] * 100).to_f / lc_amount).round(1)
          zone_growingwell = ((zone_aggregate[zone.name][outcome_area][:growingwell] * 100).to_f / lc_amount).round(1)
          zone_widespread = ((zone_aggregate[zone.name][outcome_area][:widespread] * 100).to_f / lc_amount).round(1)

          overall[:notseen] += zone_aggregate[zone.name][outcome_area][:notseen]
          overall[:emerging] += zone_aggregate[zone.name][outcome_area][:emerging]
          overall[:growingwell] += zone_aggregate[zone.name][outcome_area][:growingwell]
          overall[:widespread] += zone_aggregate[zone.name][outcome_area][:widespread]
          overall_avg[:notseen] += zone_notseen
          overall_avg[:emerging] += zone_emerging
          overall_avg[:growingwell] += zone_growingwell
          overall_avg[:widespread] += zone_widespread
        %>
          <tr>
            <td class="mdl-data-table__cell--non-numeric <%= outcome_area_colours[outcome_area] %> "><%= outcome_area %></td>
            <td class="mdl-data-table__cell--non-numeric <%= outcome_area_colours[outcome_area] %> "><%= zone_aggregate[zone.name][outcome_area][:notseen]%>(<%= zone_notseen%>%)</td>
            <td class="mdl-data-table__cell--non-numeric <%= outcome_area_colours[outcome_area] %> "><%= zone_aggregate[zone.name][outcome_area][:emerging] %>(<%= zone_emerging%>%)</td>
            <td class="mdl-data-table__cell--non-numeric <%= outcome_area_colours[outcome_area] %> "><%= zone_aggregate[zone.name][outcome_area][:growingwell] %>(<%= zone_growingwell%>%)</td>
            <td class="mdl-data-table__cell--non-numeric <%= outcome_area_colours[outcome_area] %> "><%= zone_aggregate[zone.name][outcome_area][:widespread] %>(<%= zone_widespread%>%)</td>
            <td>
              <label class="mdl-icon-toggle mdl-js-icon-toggle mdl-js-ripple-effect" for="pie-toggle-trans-<%= index %>">
                <input type="checkbox" id="pie-toggle-trans-<%= index %>" class="pie-toggle mdl-icon-toggle__input", data-chart="pie-chart-trans-<%= index %>">
                <i class="mdl-icon-toggle__label material-icons on hide">pie_chart</i>
                <i class="mdl-icon-toggle__label material-icons off">pie_chart_outlined</i>
              </label>
            </td>
          </tr>
        <% end
           overall[:notseen] = (overall[:notseen].to_f)/5
           overall[:emerging] = (overall[:emerging].to_f)/5
           overall[:growingwell] = (overall[:growingwell].to_f)/5
           overall[:widespread] = (overall[:widespread].to_f)/5
        %>
        <tr>
          <td class="mdl-data-table__cell--non-numeric lighten-3">Overall</td>
          <td class="mdl-data-table__cell--non-numeric lighten-3"><%=overall[:notseen]  %>(<%=overall_avg[:notseen]/5 %>%)</td>
          <td class="mdl-data-table__cell--non-numeric lighten-3"><%=overall[:emerging] %>(<%=overall_avg[:emerging]/5 %>%)</td>
          <td class="mdl-data-table__cell--non-numeric lighten-3"><%=overall[:growingwell] %>(<%=overall_avg[:growingwell]/5 %>%)</td>
          <td class="mdl-data-table__cell--non-numeric lighten-3"><%=overall[:widespread]%>(<%=overall_avg[:widespread]/5 %>%)</td>
          <td>
            <label class="mdl-icon-toggle mdl-js-icon-toggle mdl-js-ripple-effect" for="pie-toggle-trans-over">
              <input type="checkbox" id="pie-toggle-trans-over" class="pie-toggle mdl-icon-toggle__input", data-chart="pie-chart-trans-over">
              <i class="mdl-icon-toggle__label material-icons on hide">pie_chart</i>
              <i class="mdl-icon-toggle__label material-icons off">pie_chart_outlined</i>
            </label>
          </td>
        </tr>
      </table>
    </div>
    <div class="mdl-grid--6-col" style="margin-top: 20px">
      <% outcome_areas.each_with_index do |outcome_area, index| %>
        <div id="pie-chart-trans-<%= index %>" class="chart-card mdl-card mdl-shadow--2dp hide">
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text"><%= outcome_area %></h2>
          </div>
          <%= pie_chart zone_aggregate[zone.name][outcome_area].except(:total).map{ |k, v| [k.to_s.humanize, v]}.to_h, colors: colours_for_transformation_data(zone_aggregate[zone.name][outcome_area].except(:total)) %>
        </div>
      <% end %>
      <div id="pie-chart-trans-over" class="chart-card mdl-card mdl-shadow--2dp hide">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">Overall</h2>
        </div>
        <%= pie_chart overall.map{ |k, v| [k.to_s.humanize, v]}.to_h, colors: colours_for_transformation_data(overall) %>
      </div>
    </div>