<%= render 'shared/mdl_selectfield_assets' %>
<%#
Display a table of languages that allow the user to edit
any of the finish line markers on any language.
    Assume languages to be displayed are held in @languages
    Assume finish line markers to be used are held in @flms
%>
<button id="flm-filter-reset" class="mdl-button mdl-js-button">Reset all filters</button>
<table class="language-table mdl-data-table mdl-js-data-table">
  <colgroup>
    <col id="language-column-name">
    <% @flms.each do |flm| %>
      <col id="language-column-flm-<%= flm.number %>">
    <% end %>
  </colgroup>
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Language name</th>
      <% @flms.each do |flm| %>
        <th class="mdl-data-table__cell--non-numeric"><%= flm.name %></th>
      <% end %>
    </tr>
  <tr class="filters">
    <th>Filters:</th>
    <% @flms.each do |flm| %>
      <th id="flm-filter-<%= flm.number %>" class="mdl-data-table__cell--non-numeric">
        <button id="flm-<%= flm.number %>-filter-summary" class="filter-summary mdl-button mdl-js-button mdl-button--accent">Showing all</button>
        <ul class="mdl-list filter-choices hide">
          <% FinishLineProgress.statuses.each_key do |status| %>
            <% human_status = FinishLineProgress.human_of_status(status, flm.number) %>
            <% if human_status %>
              <li class="mdl-list__item filter-choice-<%= status %>">
                <span class="mdl-list__item-primary-content"><%= human_status %></span>
                <span class="mdl-list__item-secondary-action">
                  <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="flm-<%= flm.number %>-filter-<%= status %>">
                    <input type="checkbox" id="flm-<%= flm.number %>-filter-<%= status %>" class="mdl-checkbox__input filter-trigger"
                           data-filter-trigger-label="flm-<%= flm.number %>" value="<%= status %>" checked />
                  </label>
                </span>
              </li>
            <% end %>
          <% end %>
        </ul>
      </th>
    <% end %>
  </tr>
  </thead>
  <tbody>
    <%= render partial: 'languages/flm_table_row', collection: @languages.order(:name) %>
  </tbody>
</table>