<%
  finish_line_status = {}
  flm_table_row.finish_line_progresses.each do |flp|
    finish_line_status[flp.finish_line_marker.number] = flp.status
    #TODO: adjust for pending edits
  end
%>
<tr class="language-row filterable-item"
    data-filter-label="<%= @flms.map{ |flm| "flm-#{flm.number}" }.join(' ') %>"
    <% finish_line_status.each do |flm_num, fl_status| %>
      data-flm-<%= flm_num %>="<%= fl_status %>"
    <% end %>
>
  <td class="mdl-data-table__cell--non-numeric"><%= link_to "<span class=\"language-name\">#{flm_table_row.name}</span><br/><em>#{flm_table_row.iso}</em>".html_safe, flm_table_row %></td>
  <% progresses = {} %>
  <% flm_table_row.finish_line_progresses.each{ |prog| progresses[prog.finish_line_marker_id] = prog } %>
  <% @flms.each do |flm| %>
    <% progress = progresses[flm.id] || FinishLineProgress.create_by(language: flm_table_row, finish_line_marker: flm) %>
    <td class="mdl-data-table__cell--non-numeric filterable-item"
        data-filter-label="flm-visible"
        data-flm-visible="<%= flm.number %>">
      <div class="flm-name"><%= flm.name %></div>
      <div class="mdl-selectfield mdl-js-selectfield" data-finish-line-category="<%= progress.category.to_s %>">
        <%# generate options for each select box removing any nil options returned by simple_human_of_status %>
        <% selectable_options = FinishLineProgress.statuses.to_a.map{ |t| [FinishLineProgress.simple_human_of_status(t[0], flm.number), t[0]] }.select{ |x| x[0].present? } %>
        <%= select_tag "finish_line_status_#{flm_table_row.id}_#{flm.number}",
                       options_for_select(selectable_options, progress.status),
                       {class: "mdl-selectfield__select", flm_number: flm.number} %>
      </div>
    </td>
  <% end %>
</tr>