<%= render 'shared/mdl_selectfield_assets' %>
<%#
Display a table of languages that allow the user to edit
any of the finish line markers on any language.
    Assume languages to be displayed are held in @languages
    Assume finish line markers to be used are held in @flms
%>
<div class="language-table-controls">
  <button id="visible-flms-dialog-trigger" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">Visible markers</button>
  <button id="flm-filter-reset" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">Reset all filters</button>
</div>

<!-- include a mapping of finish line status to category here in the table tag -->
<!-- this will help the js assign the right colour to each cell when the value changes -->
<table class="language-table mdl-data-table mdl-js-data-table"
  <%= FinishLineProgress.statuses.keys.map{ |t| "data-flm-category__#{t}=\"#{FinishLineProgress.category(t)}\"" }.join(' ').html_safe %>
>
  <colgroup>
    <col id="language-column-name">
    <% @flms.each do |flm| %>
      <col id="language-column-flm-<%= flm.number %>"
      >
    <% end %>
  </colgroup>
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Language name</th>
      <% @flms.each do |flm| %>
        <th class="mdl-data-table__cell--non-numeric filterable-item"
            data-filter-label="flm-visible"
            data-flm-visible="<%= flm.number %>">
          <%= flm.name %>
        </th>
      <% end %>
    </tr>
  <tr class="filters">
    <th>Filters:</th>
    <% @flms.each do |flm| %>
      <th id="flm-filter-<%= flm.number %>"
          class="mdl-data-table__cell--non-numeric filterable-item filter-inverse"
          data-filter-label="flm-visible"
          data-flm-visible="<%= flm.number %>">
        <button id="flm-<%= flm.number %>-filter-summary" class="filter-summary mdl-button mdl-js-button mdl-button--accent">Showing all</button>
        <div class="filter-choices hide">
          <ul class="mdl-list">
            <% FinishLineProgress.statuses.each do |status, status_id| %>
              <% human_status = FinishLineProgress.human_of_status(status, flm.number) %>
              <% if human_status %>
                <li class="mdl-list__item filter-choice-<%= status %>">
                  <span class="mdl-list__item-primary-content"><%= human_status %></span>
                  <span class="mdl-list__item-secondary-action">
                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="flm-<%= flm.number %>-filter-<%= status %>">
                      <input type="checkbox" id="flm-<%= flm.number %>-filter-<%= status %>" class="mdl-checkbox__input filter-trigger"
                             data-filter-trigger-label="flm-<%= flm.number %>" value="<%= status %>" data-status-id="<%= status_id %>" <%= 'checked' if @flm_filters[flm.number.to_s] and @flm_filters[flm.number.to_s].include? status_id.to_s %> />
                    </label>
                  </span>
                </li>
              <% end %>
            <% end %>
          </ul>
          <button class="filter-choice-done mdl-button mdl-button--raised">OK</button>
        </div>
      </th>
    <% end %>
  </tr>
  </thead>
  <tbody>
    <%= render partial: 'languages/flm_table_row', collection: @languages.order(:name) %>
  </tbody>
</table>

<dialog id="dialog-visible-flms" class="mdl-dialog">
  <h4 class="mdl-dialog__title">Visible Finish Line Markers</h4>
  <div class="mdl-dialog__content">
    <ul class="mdl-list">
      <% @flms.each do |flm| %>
        <li class="mdl-list__item">
          <span class="mdl-list__item-primary-content"><%= flm.name %></span>
          <span class="mdl-list__item-secondary-action">
            <label id="flm-<%= flm.number %>-visible-switch" class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="flm-<%= flm.number %>-column-visible">
              <input type="checkbox" id="flm-<%= flm.number %>-column-visible" class="mdl-switch__input filter-trigger visible-flm-filter"
                     data-filter-trigger-label="flm-visible" value="<%= flm.number %>" <%= 'checked' if @flm_filters.keys.include? flm.number.to_s %> />
            </label>
          </span>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="mdl-dialog__actions">
    <button type="button" class="mdl-button close">OK</button>
  </div>
</dialog>

<%= render 'shared/edit_message_dialog' %>
<%= render 'shared/dialog_activation' %>