<style is="custom-style" include="iron-flex">
  paper-radio-group {
    padding: 12px;
  }
  paper-radio-button {
    padding: 0;
  }
</style>
<%= form_for(@language, html: {class: 'col s12', is: 'iron-form', 'on-iron-form-response': 'responseHandler'}) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="layout horizontal wrap justified center">
      <div>
        <%= f.paper_text_field :name %>
      </div>
      <div>
        <%= f.paper_text_field :iso, maxlength: 3, 'allowed-pattern' => '[a-zA-Z]' %>
      </div>
      <div>
        <%= f.paper_text_field :population, 'allowed-pattern' => '[0-9]' %>
      </div>
      <div>
        <%= f.paper_autocomplete :pop_source %>
      </div>
      <div>
        <%= f.paper_autocomplete :family %>
      </div>
      <div>
        <%= f.paper_autocomplete :cluster %>
      </div>
      <div>
        <%= f.paper_checkbox :lwc, label: 'Language of Wider Communication' %>
      </div>
      <div>
        <a class='dropdown-button btn-flat' href='#' data-activates='colour_picker' data-hover="true" data-constrainwidth="false">Colour...</a>
        <div id='colour_picker' class='dropdown-content'>
          <table>
            <tbody>
            <% materialize_colours.each_with_index do |colour, index| %>
                <%= '<tr>'.html_safe if index % @colour_columns == 0 %>
                <td class="<%= colour %>"><%= f.radio_button :colour, colour, checked: @language.colour.starts_with?(colour) %>
                  <%= f.label "colour_#{colour}", colour.capitalize, class: colour == "black" ? "white-text" : "black-text" %></td>
                <%= '</tr>'.html_safe if (index + 1) % @colour_columns == 0 %>
            <% end %>
            </tbody>
          </table>
          <p class="range-field">
            <label for="language[colour_darkness]">Colour Darkness</label>
            <input type="range" name="language[colour_darkness]" id="language[colour_darkness]" min="-5" max="4" class="colour-darkness-range" />
          </p>
        </div>
      </div>
    </div>
    <div class="layout horizontal">
      <div class="flex">
        <%= f.paper_textarea :description, label: 'Description of language' %>
      </div>
    </div>
    <div class="layout horizontal wrap">
      <div>
        <%= f.paper_radio_group :translation_need %>
      </div>
      <div>
        <%= f.paper_radio_group :translation_progress %>
      </div>
    </div>
    <%= button_tag( :class => "btn waves-effect waves-light right") do %>
        Update Language <i class="material-icons right">create</i>
    <% end %>
<% end %>

<script>
  // response after form is submitted
  // controller should return JSON
  function responseHandler(e)
  {
    let response = e.detail.parseResponse();
    if (typeof response.errors != 'undefined') {
      parseErrors(response.errors);
    }
    if (typeof response.redirect != 'undefined') {
      window.location = response.redirect;
    }
  }
  window.addEventListener('WebComponentsReady', function() {
    document.getElementsByTagName('form')[0].addEventListener('iron-form-response', responseHandler)
  });
</script>