
    <%= link_to language, class: 'filterable-item', 'data-filter-label': 'translation-status', data: language.translation_status.to_s do %>
      <paper-item class="language-item<%= ' extinct' if language.population == 0 %>">
        <paper-item-body two-line>
          <div>
            <%= language.name %>
            <span id="status_<%= language.id %>" class="secondary-content colour" style="background-color: <%= language.translation_status_colour %>" >&nbsp;</span>
            <paper-tooltip position="left" for="status_<%= language.id %>"><%= language.translation_status.to_s.humanize %></paper-tooltip>
          </div>
          <div secondary>
            <% if language.iso.present? %>
              <span class="iso"><%= language.iso %></span>
            <% end %>
            <% if language.family.present? %>
                <span class="language-family"><%= language.family.name %></span>
            <% end %>
            <% if language.population.present? %>
                <span class="population">population: <%= language.population %></span>
            <% end %>
            <% if language.geo_states.any? %>
              <span class="states">
                spoken in: <%= language.geo_states.map(&:name).join(', ') %>
              </span>
              <span class="zones">
                <%= language.geo_states.map(&:zone_name).uniq.join(' and ') %> Zone
              </span>
            <% end %>
          </div>
        </paper-item-body>
      </paper-item>
    <% end %>