<% element_id = "language-#{attribute_name.dasherize}" %>
<% area = false unless defined? area %>
<% number = false unless defined? number %>
<% if number then area = false end %>
<dialog id="edit-dialog-<%= element_id %>" class="mdl-dialog" data-for="<%= element_id %>">
  <div class="mdl-dialog__content ">
    <%= form_tag edits_path, remote: true, method: :post do %>
        <%= hidden_field_tag 'element_id', element_id, id: "#{attribute_name}-element-id" %>
        <%= hidden_field_tag 'edit[model_klass_name]', 'Language', id: "#{attribute_name}-edit-model-klass-name" %>
        <%= hidden_field_tag 'edit[record_id]', @language.id, id: "#{attribute_name}-edit-record-id" %>
        <%= hidden_field_tag 'edit[attribute_name]', attribute_name, id: "#{attribute_name}-edit-attribute-name" %>
        <%= hidden_field_tag 'edit[old_value]', @language.send(attribute_name), id: "#{attribute_name}-edit-old-value" %>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <%= label_tag "#{attribute_name}-edit-new-value", label, class: 'mdl-textfield__label' %>
          <% if area %>
              <%= text_area_tag 'edit[new_value]',
                                @language.send(attribute_name),
                                class: 'mdl-textfield__input',
                                id: "#{attribute_name}-edit-new-value"
              %>
          <% else %>
              <% if number %>
                <%= text_field_tag 'edit[new_value]',
                                   @language.send(attribute_name),
                                   class: 'mdl-textfield__input',
                                   pattern: '-?[0-9]*(\.[0-9]+)?',
                                   id: "#{attribute_name}-edit-new-value"
                %>
              <% else %>
                <%= text_field_tag 'edit[new_value]',
                                   @language.send(attribute_name),
                                   class: 'mdl-textfield__input',
                                   id: "#{attribute_name}-edit-new-value"
                %>
              <% end %>
          <% end %>
          <% if number %>
              <span class="mdl-textfield__error">Numbers only please!</span>
          <% end %>
        </div>
    <% end %>
  </div>
  <div class="md-dialog__actions">
    <button type="button" class="mdl-button submit">Submit</button>
    <button type="button" class="mdl-button cancel">Cancel</button>
  </div>
</dialog>