<% provide(:title, 'Edit Language') %>
<h1><i class="material-icons large">create</i> Edit Language</h1>
<div class="row">
  <%= form_for(@language, html: {class: "col s12"}) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="row">
      <div class="input-field col s12">
        <%= f.text_field :name %>
        <%= f.label :name %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <%= f.text_area :description %>
        <%= f.label :description %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s4">
        <%= f.check_box :lwc %>
        <%= f.label :lwc, "Language of Wider Communication" %>
      </div>
      <div class="col s8">
        <a class='dropdown-button btn-flat' href='#' data-activates='colour_picker' data-hover="true" data-constrainwidth="false">Colour...</a>
        <div id='colour_picker' class='dropdown-content'>
          <table>
          	<tbody>
          	  <tr>
          		<td class="red"><%= f.radio_button :colour, "red", checked: @language.colour.starts_with?("red") %>
          		<%= f.label :colour_red, "Red", class: "black-text" %></td>
          		<td class="pink"><%= f.radio_button :colour, "pink", checked: @language.colour.starts_with?("pink") %>
          		<%= f.label :colour_pink, "Pink", class: "black-text" %></td>
          		<td class="purple"><%= f.radio_button :colour, "purple", checked: @language.colour.starts_with?("purple") %>
          		<%= f.label :colour_purple, "Purple", class: "black-text" %></td>
          	  </tr>
          	  <tr>
          		<td class="deep-purple"><%= f.radio_button :colour, "deep-purple", checked: @language.colour.starts_with?("deep-purple") %>
          		<%= f.label "colour_deep-purple", "Deep-purple", class: "black-text" %></td>
          		<td class="indigo"><%= f.radio_button :colour, "indigo", checked: @language.colour.starts_with?("indigo") %>
          		<%= f.label :colour_indigo, "Indigo", class: "black-text" %></td>
          		<td class="blue"><%= f.radio_button :colour, "blue", checked: @language.colour.starts_with?("blue") %>
          		<%= f.label :colour_blue, "Blue", class: "black-text" %></td>
          	  </tr>
          	  <tr>
          		<td class="light-blue"><%= f.radio_button :colour, "light-blue", checked: @language.colour.starts_with?("light-blue") %>
          		<%= f.label "colour_light-blue", "Light-blue", class: "black-text" %></td>
          		<td class="cyan"><%= f.radio_button :colour, "cyan", checked: @language.colour.starts_with?("cyan") %>
          		<%= f.label :colour_cyan, "Cyan", class: "black-text" %></td>
          		<td class="teal"><%= f.radio_button :colour, "teal", checked: @language.colour.starts_with?("teal") %>
          		<%= f.label :colour_teal, "Teal", class: "black-text" %></td>
          	  </tr>
          	  <tr>
          		<td class="green"><%= f.radio_button :colour, "green", checked: @language.colour.starts_with?("green") %>
          		<%= f.label :colour_green, "Green", class: "black-text" %></td>
          		<td class="light-green"><%= f.radio_button :colour, "light-green", checked: @language.colour.starts_with?("light-green") %>
          		<%= f.label "colour_light-green", "Light-green", class: "black-text" %></td>
          		<td class="lime"><%= f.radio_button :colour, "lime", checked: @language.colour.starts_with?("lime") %>
          		<%= f.label :colour_lime, "Lime", class: "black-text" %></td>
          	  </tr>
          	  <tr>
          		<td class="yellow"><%= f.radio_button :colour, "yellow", checked: @language.colour.starts_with?("yellow") %>
          		<%= f.label :colour_yellow, "Yellow", class: "black-text" %></td>
          		<td class="amber"><%= f.radio_button :colour, "amber", checked: @language.colour.starts_with?("amber") %>
          		<%= f.label :colour_amber, "Amber", class: "black-text" %></td>
          		<td class="orange"><%= f.radio_button :colour, "orange", checked: @language.colour.starts_with?("orange") %>
          		<%= f.label :colour_orange, "Orange", class: "black-text" %></td>
          	  </tr>
          	  <tr>
          		<td class="deep-orange"><%= f.radio_button :colour, "deep-orange", checked: @language.colour.starts_with?("deep-orange") %>
          		<%= f.label "colour_deep-orange", "Deep-orange", class: "black-text" %></td>
          		<td class="brown"><%= f.radio_button :colour, "brown", checked: @language.colour.starts_with?("brown") %>
          		<%= f.label :colour_brown, "Brown", class: "black-text" %></td>
          		<td class="grey"><%= f.radio_button :colour, "grey", checked: @language.colour.starts_with?("grey") %>
          		<%= f.label :colour_grey, "Grey", class: "black-text" %></td>
          	  </tr>
          	  <tr>
          		<td class="blue-grey"><%= f.radio_button :colour, "blue-grey", checked: @language.colour.starts_with?("blue-grey") %>
          		<%= f.label "colour_blue-grey", "Blue-grey", class: "black-text" %></td>
          		<td class="black"><%= f.radio_button :colour, "black", checked: @language.colour.starts_with?("black") %>
          		<%= f.label :colour_black, "Black", class: "white-text" %></td>
          		<td class="white"><%= f.radio_button :colour, "white", checked: @language.colour.starts_with?("white") %>
          		<%= f.label :colour_white, "White", class: "black-text" %></td>
          	  </tr>
          	</tbody>
          </table>
          <p class="range-field">
          	<label for="language[colour_darkness]">Colour Darkness</label>
          	<input type="range" name="language[colour_darkness]" id="language[colour_darkness]" min="-5" max="4" />
          </p>
        </div>
      </div>
    </div>
    <%= button_tag( :class => "btn waves-effect waves-light right") do %>
      Update Language <i class="material-icons right">create</i>
    <% end %>
  <% end %>
</div>
