<% provide(:title, 'Edit Language') %>
<h1><i class="material-icons large">create</i> Edit Language</h1>
<div class="row">
  <%= form_for(@language, html: {class: "col s12"}) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="row">
      <div class="input-field col s12">
        <%= f.text_field :name %>
        <%= f.label :name %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <%= f.text_area :description %>
        <%= f.label :description %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <%= f.check_box :lwc %>
        <%= f.label :lwc, "Language of Wider Communication" %>
      </div>
    </div>
    <%= button_tag( :class => "btn waves-effect waves-light right") do %>
      Update Language <i class="material-icons right">create</i>
    <% end %>
  <% end %>
</div>
