<% page_title = logged_in_user.national? ? 'All Languages' : 'Languages' %>
<% provide(:title, page_title) %>

<style is="custom-style" include="iron-flex">
  .language-filter-controls {
    @apply(--layout-horizontal);
    @apply(--layout-end);
  }
  .filter-controls {
    @apply(--layout-flex);
    margin: 1ex;
  }
</style>

<h1><%= page_title %></h1>


<button id="language-overview-button" class="mdl-button mdl-js-button">
  <%= link_to 'Overview', overview_languages_path %>
</button>

<% if logged_in_user.can_create_language? %>
	<%= link_to new_language_path, :class => "btn waves-effect waves-light right" do %>
		<i class="material-icons right">add</i>Add a Language
	<% end %>
<% end %>

<%= render 'list_filter_controls' %>

<ul class="languages mdl-list">
  <%= render @languages %>
</ul>


