<% provide(:title, 'All languages') %>

<h1>All languages</h1>
<%= link_to overview_languages_path do %>
    <paper-button id="language-overview-button">Overview</paper-button>
<% end %>
<div class="row language-filter-controls">
  <% Language.translation_status_colour.each do |status, colour| %>
      <span id="<%= status.to_s %>-span" class="language-filter-checkbox" style="background-color: <%= colour %>;">
    <input
      checked
      type="checkbox"
      value="<%= status.to_s %>"
      id="<%= status.to_s %>-check"
      class="filter-trigger"
      data-filter-trigger-label="translation-status"
    />
    <label for="<%= status.to_s %>-check">&nbsp;</label></span>
      <paper-tooltip position="top" for="<%= status.to_s %>-span"><%= status.to_s.humanize %></paper-tooltip>
  <% end %>
</div>

<div class="languages" role="listbox">
  <%= render @languages %>
</div>


