<% provide(:title, "Populations for #{@language.name}") %>
<% provide(:context_title, "Populations for #{@language.name}") %>

<div id="edit-response"></div>
<div id="pending-edits" class="mdl-grid">
  <% @pending_pop_edits.each do |edit| %>
      <div class="mdl-cell mdl-cell--4-col">
        <%= render edit %>
      </div>
  <% end %>
</div>

<%= link_to @language do %>
  <button class="mdl-button mdl-js-button mdl-button--primary">
    <%= @language.name %> overview
  </button>
<% end %>

<%= link_to show_details_language_path(@language) do %>
  <button class="mdl-button mdl-js-button mdl-button--primary">
    <%= @language.name %> details
  </button>
<% end %>

<div id="all-populations">
  <%= render 'populations/populations_list' %>
</div>
<button id="add-pop-fab" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
  <i class="material-icons">add</i>
</button>

<div class="mdl-tooltip" data-mdl-for="add-pop-fab">
  Add population data
</div>

<%= render 'populations/dialog_form' %>

<%= render 'shared/edit_message_dialog' %>

<%= render 'shared/dialog_activation' %>