<% provide(:title, "Populations for #{@language.name}") %>
<% provide(:context_title, "Populations for #{@language.name}") %>


<%= link_to @language do %>
  <button class="mdl-button mdl-js-button mdl-button--primary">
    <%= @language.name %> overview
  </button>
<% end %>

<%= link_to show_details_language_path(@language) do %>
  <button class="mdl-button mdl-js-button mdl-button--primary">
    <%= @language.name %> details
  </button>
<% end %>

<% if @language.populations.any? %>
  <ul class="populations-list mdl-list">
    <%= render @language.populations.order(:year, :created_at) %>
  </ul>
<% else %>
  <p>There is no population data on record for <%= @language.name %>
<% end %>

<button id="add-pop-fab" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
  <i class="material-icons">add</i>
</button>

<div class="mdl-tooltip" data-mdl-for="add-pop-fab">
  Add population data
</div>

<%= render 'populations/dialog_form' %>

<%= render 'shared/edit_message_dialog' %>

<%= render 'shared/dialog_activation' %>