<% provide(:title, "Reports for #{@language.name}") %>
<% provide(:context_title, "Reports for #{@language.name}") %>


<%= form_tag({controller: 'languages', action: 'reports'}, method: 'get', remote: true, id: 'report-view-filters') do %>
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--4-col">
        <%= render 'reports/filter_since' %>
      </div>
      <div class="mdl-cell mdl-cell--4-col">
        <%= render 'reports/filter_archived' %>
        <%= render 'reports/filter_significant' %>
      </div>
      <div class="mdl-cell mdl-cell--4-col">
        <%= render 'reports/filter_type' %>
      </div>
    </div>
<% end %>

<script>
  $('.date-picker').bootstrapMaterialDatePicker({ weekStart : 0, time: false, format: 'DD MMMM, Y' });
</script>

<div class="reports-container mdl-grid">
  <% if @reports.any? %>
      <% @reports.each do |report| %>
          <%= render partial: 'reports/mdl_report', object: report %>
      <% end %>
  <% else %>
      <%= render 'reports/empty_state' %>
  <% end %>
</div>

<%= link_to new_report_path, id: 'show-report-fab', class: 'new-report-fab mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored' do %>
    <i class="material-icons">add</i>
<% end %>

<div class="mdl-tooltip" data-mdl-for="show-report-fab">
  Write a new report
</div>