
<% provide(:title, 'Language Overview: ' + @language.name) %>

<% editable = (logged_in_user.national? or Language.user_limited(logged_in_user).include?(@language)) %>

<%= '<script>console.log("page is editable");</script>'.html_safe if editable %>

<div id="edit-response"></div>
<div id="pending-edits" class="mdl-grid">
  <% @user_pending_edits.each do |edit| %>
    <div class="mdl-cell mdl-cell--4-col">
      <%= render edit %>
    </div>
  <% end %>
  <% @user_pending_fl_edits.each do |edit| %>
      <div class="mdl-cell mdl-cell--4-col">
        <%= render edit %>
      </div>
  <% end %>
</div>

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--6-col mdl-cell--2-col-phone">
    <h1>Language Overview</h1>
    <%= link_to show_details_language_path(@language) do %>
        <i class="material-icons">pageview</i> More details
    <% end %>
  </div>
  <div class="mdl-cell mdl-cell--4-offset-desktop mdl-cell--2-col">
    <div class="language-name"><h2 id="language-name" class="<%= 'editable' if editable %>"><%= @language.name %><%= render 'shared/edit_icon' if editable %></h2></div>
    <div id="language-iso" class="iso-code <%= 'editable' if editable %>">[<%= @language.iso %>]<%= render 'shared/edit_icon' if editable %></div>
  </div>
</div>

<div class="mdl-grid language-dashboard">

  <!-- finish line markers -->
  <div class="finish-line-status mdl-cell mdl-cell--5-col">

    <h3>Finish Line Status</h3>
    <table class="finish-line-status mdl-data-table mdl-js-data-table">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">Finish Line Marker</th>
          <th class="mdl-data-table__cell--non-numeric" colspan="2">Status</th>
        </tr>
      </thead>
      <tbody>
        <% FinishLineMarker.order(:number).each do |marker| %>
          <% progress = FinishLineProgress.find_or_create_by(language: @language, finish_line_marker: marker) %>
          <tr class="<%= progress.complete? ? 'complete' : 'incomplete' %>">
            <td id="finish-line-marker-<%= marker.number %>-name" class="mdl-data-table__cell--non-numeric">
              <%= marker.name %>
              <span id="finish-line-marker-<%= marker.number %>-description" for="finish-line-marker-<%= marker.number %>-name" class="mdl-tooltip"><%= marker.description %></span>
            </td>
            <td class="mdl-data-table__cell--non-numeric">
              <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-<%= marker.number %>">
                <input type="checkbox" id="switch-<%= marker.number %>" class="finish-line-switch mdl-switch__input" <%= progress.complete? ? 'checked' : '' %>>
                <span class="mdl-switch__label"></span>
              </label>
            </td>
            <td id="finish-line-progress-status-<%= marker.number %>" class="finish-line-progress-status mdl-data-table__cell--non-numeric <%= 'editable' if editable %>"><%= progress.status.humanize %><%= render 'shared/edit_icon' if editable %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>

  <div class="mdl-cell mdl-cell--3-col">
    <h3>More Language Details</h3>
    <ul class="mdl-list">
      <li class="language-outcome-progress mdl-list__item">
        <%= link_to 'Outcome Progress', show_details_language_path(@language, anchor: 'outcome-progress'), class: 'mdl-list__item-primary-content' %>
      </li>
      <li class="language-names mdl-list__item">
        <%= link_to 'Alternate Names', show_details_language_path(@language, anchor: 'language-names'), class: 'mdl-list__item-primary-content' %>
        <%= link_to show_details_language_path(@language, anchor: 'language-names'), class: 'mdl-list__item-secondary-content mdl-chip' do %>
            <span class="mdl-chip__text"><%= @language.language_names.count %></span>
        <% end %>
      </li>
      <li class="language-engaged-organisations mdl-list__item">
        <%= link_to 'Engaged Organisations', show_details_language_path(@language, anchor: 'engaged-organisations'), class: 'mdl-list__item-primary-content' %>
        <%= link_to show_details_language_path(@language, anchor: 'engaged-organisations'), class: 'mdl-list__item-secondary-content mdl-chip' do %>
            <span class="mdl-chip__text"><%= @language.engaged_organisations.count %></span>
        <% end %>
      </li>
      <li class="language-translating-organisations mdl-list__item">
        <%= link_to 'Translating Organisations', show_details_language_path(@language, anchor: 'translating-organisations'), class: 'mdl-list__item-primary-content' %>
        <%= link_to show_details_language_path(@language, anchor: 'translating-organisations'), class: 'mdl-list__item-secondary-content mdl-chip' do %>
            <span class="mdl-chip__text"><%= @language.translating_organisations.count %></span>
        <% end %>
      </li>
    </ul>
  </div>

  <!-- map -->
  <div class="mdl-cell mdl-cell--4-col">
    <% map = get_map(@language) %>
    <% if map %>
      <%= image_tag(map, alt: "Map for #{@language.name}", class: 'language-map mdl-shadow--2dp') %>
    <% end %>
  </div>


</div>

<%= render 'edit_dialogs' if editable %>

<script>
  $('dialog').each(function() {
    let dialog = this;
    if (! dialog.showModal) {
      dialogPolyfill.registerDialog(dialog);
    }
    $(dialog).find('.submit').on('click', function() {
      $(dialog).find('form').submit();
      dialog.close();
    });
    $(dialog).find('.cancel').on('click', function() {
      dialog.close();
    });
  });
</script>

