
<style is="custom-style">
  <% background_colour = materialize_colours_hex[@language.colour] %>
  <% foreground_colour = get_contrast(background_colour) %>
  easy-paper-tabs {
    --tabs-background-colour: <%= background_colour %>;
    --tabs-colour: <%= foreground_colour %>;
    margin-bottom: 1em;
  }
  paper-fab {
    --paper-fab-background: <%= background_colour %>;
    color: <%= foreground_colour %>;
  }
  paper-spinner {
    margin: 2em;
  }
  .center {
    @apply(--layout-horizontal);
    @apply(--layout-center-justified);
  }
</style>

<% provide(:title, 'Show Language: ' + @language.name) %>
<h1 class="coloured <%= colour_class(@language.colour) %>">
  <%= @language.name %>
<% if @language.iso %>
    [<em id="iso_<%= @language.iso %>"><%= @language.iso %></em>]
    <paper-tooltip position="right" for="iso_<%= @language.iso %>">ISO 693-2 code</paper-tooltip>
<% end %>
</h1>

  <div role="listbox" class="state-list">
    Spoken in
      <% @language.state_languages.in_project.each do |state_language| %>
          <paper-item>
            <paper-item-body two-line>
              <div><%= state_language.state_name %></div>
              <div secondary>LCI project for <%= state_language.geo_state.zone_name %> zone</div>
            </paper-item-body>
          </paper-item>
      <% end %>
      <% @language.state_languages.where(project: false).each do |state_language| %>
          <paper-item><%= state_language.state_name %></paper-item>
      <% end %>
  </div>
<% if @language.population %>
    <p>
      <span id="pop_<%= @language.iso %>">
        Population: <strong><%= number_with_delimiter(@language.population, :delimiter => ',') %></strong>
      </span>
      <% if @language.pop_source %>
        <paper-tooltip position="top" for="pop_<%= @language.iso %>">source: <%= @language.pop_source.name %></paper-tooltip>
      <% end %>
    </p>
<% end %>
<% if @language.family %>
    <p>Family: <strong><%= @language.family_name %></strong></p>
<% end %>
<% if @language.description %>
    <p><%= @language.description %></p>
<% end %>
<% if @language.info %>
    <p><%= @language.info %></p>
<% end %>
<% if @language.engaged_organisations.any? %>
    <% copula = @language.engaged_organisations.count == 1 ? 'is' : 'are' %>
    <%= pluralize(@language.engaged_organisations.count, 'organisation') + " #{copula}" %> engaged with this language:
    <div role="listbox">
    <% @language.engaged_organisations.each do |org| %>
      <paper-item><%= org.name %></paper-item>
    <% end %>
    </div>
<% end %>

<easy-paper-tabs selected="0">
  <paper-tab>TRANSLATION STATUS</paper-tab>
  <div class="page">
    <% if @language.number_of_translations && @language.number_of_translations > 0 %>
        <p>Already existing: <strong><%= @language.number_of_translations %></strong> Bible <%= 'version'.pluralize(@language.number_of_translations) %></p>
    <% end %>
    <% unless @language.translation_progress == 'done' or (@language.number_of_translations && @language.number_of_translations > 0) %>
      <p>Translation need: <strong><%= @language.translation_need.humanize %></strong></p>
    <% end %>
    <p>Translation progress: <strong><%= @language.translation_progress.humanize %></strong></p>
    <% if @language.translation_info %>
        <p><%= @language.translation_info %></p>
    <% end %>
    <% if @language.translating_organisations.any? %>
        <% copula = @language.translating_organisations.count == 1 ? 'is' : 'are' %>
        <%= pluralize(@language.translating_organisations.count, 'organisation') + " #{copula}" %> involved with translation:
        <div role="listbox">
          <% @language.translating_organisations.each do |org| %>
              <paper-item><%= org.name %></paper-item>
          <% end %>
        </div>
    <% end %>
  </div>

  <% if @language.iso or @language.mt_resources.any? %>
    <paper-tab>RESOURCES AVAILABLE</paper-tab>
    <div class="page">
      <div role="listbox" class="resources-list">
        <% if @language.mt_resources.any? %>
          <% @language.mt_resources.each do |resource| %>
            <% if resource.url %>
              <a href="<%= resource.url %>" tabindex="-1">
            <% end %>
            <paper-item>
              <paper-item-body two-line>
                <div><%= resource.name %></div>
                <div secondary><%= resource.description %></div>
              </paper-item-body>
            </paper-item>
            <% if resource.url %>
              </a>
            <% end %>
          <% end %>
        <% end %>
        <% if @language.iso %>
            <div class="center"><paper-spinner class="jp-fetch" active></paper-spinner></div>
        <% end %>
      </div>
      <% if logged_in_user.can_add_resource? %>
          <%= link_to new_mt_resource_path language: @language do %>
              <paper-fab icon="add" title="Add resource"></paper-fab>
          <% end %>
      <% end %>
    </div>
  <% end %>

  <% if @language.iso %>
    <paper-tab>JOSHUA PROJECT DATA</paper-tab>
    <div class="page jp-data">
      <div class="center"><paper-spinner class="jp-fetch" active></paper-spinner></div>
      <%= link_to 'Fetch JP Data', fetch_jp_data_path(@language.iso), remote: true, class: 'hide', id: 'jp-fetch-trigger' %>
    </div>
  <% end %>
</easy-paper-tabs>


<% if logged_in_user.can_edit_language? %>
    <%= link_to edit_language_path(@language), class: 'right' do %>
      <paper-fab icon="create" title="Edit"></paper-fab>
    <% end %>
<% end %>

<% if logged_in_user.can_view_all_languages? %>
  <%= link_to languages_path, class: "waves-effect btn" do %>
    All languages
  <% end %>
<% end %>
