
<% provide(:title, 'Language Overview: ' + @language.name) %>

<% editable = (logged_in_user.national? or Language.user_limited(logged_in_user).include?(@language)) %>

<%= '<script>console.log("page is editable");</script>'.html_safe if editable %>

<div id="edit-response"></div>
<div id="pending-edits" class="mdl-grid">
  <% @user_pending_edits.each do |edit| %>
    <div class="mdl-cell mdl-cell--4-col">
      <%= render edit %>
    </div>
  <% end %>
</div>

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--6-col mdl-cell--2-col-phone">
    <h1>Language Overview</h1>
    <%= link_to show_details_language_path(@language) do %>
        <i class="material-icons">pageview</i> More details
    <% end %>
  </div>
  <div class="mdl-cell mdl-cell--4-offset-desktop mdl-cell--2-col">
    <div class="language-name"><h2 id="language-name" class="<%= 'editable' if editable %>"><%= @language.name %><%= render 'shared/edit_icon' if editable %></h2></div>
    <div id="language-iso" class="iso-code <%= 'editable' if editable %>">[<%= @language.iso %>]<%= render 'shared/edit_icon' if editable %></div>
  </div>
</div>

<div class="mdl-grid language-dashboard">

  <!-- general language data -->
  <div class="language-info mdl-cell mdl-cell--4-col">
    <table class="language-data">
      <% if @language.description.present? or editable %>
          <tr><th>Description</th><td id="language-description" class="<%= 'editable' if editable %>"><%= @language.description %><%= render 'shared/edit_icon' if editable %></td></tr>
      <% end %>
      <% if @language.location.present? or editable %>
          <tr><th>Location</th><td id="language-location" class="<%= 'editable' if editable %>"><%= @language.location %><%= render 'shared/edit_icon' if editable %></td></tr>
      <% end %>
      <% if @language.population or editable%>
        <tr id="pop_<%= @language.iso %>">
          <th>Population</th><td id="language-population" class="<%# 'editable' if editable %>"><%= number_with_delimiter(@language.population, :delimiter => ',') %><%# render 'shared/edit_icon' if editable %></td>
        </tr>
        <% if @language.pop_source %>
          <div class="mdl-tooltip" for="pop_<%= @language.iso %>">source: <%= @language.pop_source.name %></div>
        <% end %>
      <% end %>
      <% if @language.family or editable %>
          <tr><th>Family</th><td id="language-family" class="<%= 'editable' if editable %>"><%= @language.family_name if @language.family %><%= render 'shared/edit_icon' if editable %></td></tr>
      <% end %>
      <% if @language.info.present? or editable %>
          <tr><th>Other information</th><td id="language-info" class="<%= 'editable' if editable %>"><%= @language.info %><%= render 'shared/edit_icon' if editable %></td></tr>
      <% end %>
    </table>

    <% if @language.engaged_organisations.any? or editable%>
        <h4>Organisations engaged with this language</h4>
        <ul class="engaged-orgs mdl-list">
          <% @language.engaged_organisations.each do |org| %>
            <li class="org-<%= org.id %> mdl-list__item">
              <%= link_to org.name_with_abbr, org, class: 'org-name mdl-list__item-primary-content' %>
              <% if editable %>
                <%= link_to remove_engaged_org_from_language_path(@language, org),
                            method: :patch,
                            remote: true,
                            class: 'remove-button mdl-list__item-secondary-content' do %>
                  <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
                    <i class="material-icons">clear</i>
                  </button>
                <% end %>
              <% end %>
            </li>
          <% end %>
          <% if editable %>
              <li class="add-another mdl-list__item">
                <span class="mdl-list__item-primary-content">...</span>
                <span class="mdl-list__item-secondary-content">
                  <button class="add-engaged-org-button mdl-button mdl-js-button mdl-button--icon mdl-button--colored" title="Add engaged organisation">
                    <i class="material-icons">add</i>
                  </button>
                </span>
              </li>
          <% end %>
        </ul>
    <% else %>
          <p><em>No organisations engaged with this language.</em></p>
    <% end %>
    <% if @language.iso.present? %>
        <div class="jp-data">
          <div class="center"><paper-spinner class="jp-fetch" active></paper-spinner></div>
          <%= link_to 'Fetch JP Data', fetch_jp_data_path(@language.iso), remote: true, class: 'hide', id: 'jp-fetch-trigger' %>
        </div>
    <% end %>
  </div>

  <div class="outcome-progress-cell mdl-cell mdl-cell--4-col">
    <h3>Outcome progress</h3>
    <% @language.state_languages.in_project.each do |state_language| %>
        <h4><%= state_language.state_name %></h4>
        <%= link_to "#{state_language.state_name} chart", language_outcomes_chart_path(id: state_language.id), remote: true, method: 'GET', class: "mdl-button mdl-js-button get-chart-button chart-#{state_language.id}-button" %>
        <div class="chart-<%= state_language.id %>"></div>
    <% end %>
    <% non_project_states = @language.state_languages.joins(:geo_state).where(project: false).pluck('geo_states.name').to_sentence %>
    <% if non_project_states.present? %>
        <p><%= @language.name %> is spoken in <%= non_project_states %>, but LCI does not track it there.</p>
    <% end %>
  </div>

  <!-- map -->
  <div class="mdl-cell mdl-cell--4-col">
    <% map = get_map(@language) %>
    <% if map %>
      <%= image_tag(map, alt: "Map for #{@language.name}", class: 'language-map mdl-shadow--2dp') %>
    <% end %>
  </div>

  <div class="mdl-cell mdl-cell--4-col">
    <h4>Translation Status</h4>
    <div class="translation-status mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title" style="background-color: <%= @language.translation_status_colour %>">
        <h2 class="mdl-card__title-text"><%= @language.translation_status.to_s.humanize %></h2>
      </div>
      <div class="mdl-card__supporting-text">
        <p>Translation need/status: <strong id="language-translation-need" class="<%= 'editable' if editable %>"><%= @language.translation_need.humanize %><%= render 'shared/edit_icon' if editable %></strong></p>
        <p>Translation progress: <strong id="language-translation-progress" class="<%= 'editable' if editable %>"><%= @language.translation_progress.humanize %><%= render 'shared/edit_icon' if editable %></strong></p>
      </div>
    </div>
    <table class="language-data">
      <% if editable or (@language.number_of_translations && @language.number_of_translations > 0) %>
          <tr><th>Already existing</th><td><span id="language-number-of-translations" class="<%= 'editable' if editable %>"><%= @language.number_of_translations ? @language.number_of_translations : 0 %><%= render 'shared/edit_icon' if editable %></span> Bible <%= 'version'.pluralize(@language.number_of_translations) %></td></tr>
      <% end %>
      <% if editable or @language.translation_info.present? %>
          <tr><th>Translation info</th><td id="language-translation-info" class="<%= 'editable' if editable %>"><%= @language.translation_info %><%= render 'shared/edit_icon' if editable %></td></tr>
      <% end %>
    </table>
    <div>
      <% if @language.translating_organisations.any? or editable%>
          <h4>Organisations involved with translation</h4>
          <ul class="translating-orgs mdl-list">
            <% @language.translating_organisations.each do |org| %>
              <li class="org-<%= org.id %> mdl-list__item">
                <%= link_to org.name_with_abbr, org, class: 'org-name mdl-list__item-primary-content' %>
                <% if editable %>
                    <%= link_to remove_translating_org_from_language_path(@language, org),
                                method: :patch,
                                remote: true,
                                class: 'remove-button mdl-list__item-secondary-content' do %>
                        <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
                          <i class="material-icons">clear</i>
                        </button>
                    <% end %>
                <% end %>
              </li>
            <% end %>
            <% if editable %>
              <li class="add-another mdl-list__item">
                <span class="mdl-list__item-primary-content">...</span>
                <span class="mdl-list__item-secondary-content">
                  <button class="add-translating-org-button mdl-button mdl-js-button mdl-button--icon mdl-button--colored" title="Add translating organisation">
                    <i class="material-icons">add</i>
                  </button>
                </span>
              </li>
            <% end %>
          </ul>
      <% else %>
          <p><em>No organisations engaged with translating for this language.</em></p>
      <% end %>
    </div>
  </div>

  <div class="mdl-cell mdl-cell--4-col">
    <% if @impact_report %>
      <div class="impact-story mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">Impact Story</h2>
        </div>
        <div class="mdl-card__supporting-text">
          <div><%= time_ago_in_words(@impact_report.report_date) %> ago</div>
          <%= simple_format @impact_report.content %>
          <% @impact_report.pictures.each do |picture| %>
              <%= image_tag picture.ref_url if picture.ref? %>
          <% end %>
          <%# Show the reporter name if the logged in user is trusted, or if it's them. %>
          <% if @impact_report.reporter and (logged_in_user.trusted? or logged_in_user?(report.reporter)) %>
              <div class="reporter"><%= @impact_report.reporter.name %></div>
          <% end %>
        </div>
        <div class="mdl-card__actions">
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            More impact stories...
          </a>
        </div>
      </div>
    <% else %>
      <p>No impact reports.</p>
    <% end %>
  </div>
  <div class="mdl-cell mdl-cell--4-col">
    <% if @language.mt_resources.any? %>
        <ul class="mdl-list">
        <% @language.mt_resources.each do |resource| %>
            <li class="mdl-list__item mdl-list__item--two-line">
                <span class="mdl-list__item-primary-content">
                <% if resource.url %>
                  <a href="<%= resource.url %>" tabindex="-1"><%= resource.name %></a>
                <% else %>
                  <%= resource.name %>
                <% end %>
                  <span class="mdl-list__item-sub-title"><%= resource.description %></span>
                </span>
            </li>
        <% end %>
        </ul>
    <% else %>
      <p>No mother-tongue resources.</p>
    <% end %>
  </div>
</div>

<%= render 'edit_dialogs' if editable %>

<script>
  $('dialog').each(function() {
    let dialog = this;
    if (! dialog.showModal) {
      dialogPolyfill.registerDialog(dialog);
    }
    $(dialog).find('.submit').on('click', function() {
      $(dialog).find('form').submit();
      dialog.close();
    });
    $(dialog).find('.cancel').on('click', function() {
      dialog.close();
    });
  });
  $( document ).ajaxSuccess(function( event, xhr, settings, data ) {
    console.log(data);
  });
</script>

<style is="custom-style" include="iron-flex">
  paper-spinner {
    margin: 2em;
  }
  .center {
    @apply(--layout-horizontal);
    @apply(--layout-center-justified);
  }
</style>

