
<style is="custom-style">
  <% background_colour = materialize_colours_hex[@language.colour] %>
  <% foreground_colour = get_contrast(background_colour) %>
  easy-paper-tabs {
    --tabs-background-colour: <%= background_colour %>;
    --tabs-colour: <%= foreground_colour %>;
  }
  paper-fab {
    --paper-fab-background: <%= background_colour %>;
    color: <%= foreground_colour %>;
  }
</style>

<% provide(:title, 'Show Language: ' + @language.name) %>
<h1 class="coloured <%= colour_class(@language.colour) %>"><%= @language.name %></h1>
<% if @language.iso %>
    <p class="iso" id="iso_<%= @language.iso %>">(<%= @language.iso %>)</p>
    <paper-tooltip position="right" for="iso_<%= @language.iso %>">ISO 693-2 code</paper-tooltip>
<% end %>

<% if @language.population %>
    <p>
      <span id="pop_<%= @language.iso %>">
        Population: <strong><%= number_with_delimiter(@language.population, :delimiter => ',') %></strong>
      </span>
      <% if @language.pop_source %>
        <paper-tooltip position="top" for="pop_<%= @language.iso %>">source: <%= @language.pop_source.name %></paper-tooltip>
      <% end %>
    </p>
<% end %>
<% if @language.family %>
    <p>Family: <strong><%= @language.family_name %></strong></p>
<% end %>
<% if @language.description %>
    <p><%= @language.description %></p>
<% end %>
<% if @language.cluster %>
    <p>Cluster: <strong><%= @language.cluster_name %></strong></p>
<% end %>
<% if @language.info %>
    <p><%= @language.info %></p>
<% end %>
<% if @language.engaged_organisations.any? %>
    <% copula = @language.engaged_organisations.count == 1 ? 'is' : 'are' %>
    <%= pluralize(@language.engaged_organisations.count, 'organisation') + " #{copula}" %> are engaged with this language:
    <div role="listbox">
    <% @language.engaged_organisations.each do |org| %>
      <paper-item><%= org.name %></paper-item>
    <% end %>
    </div>
<% end %>

<easy-paper-tabs selected="0">
  <paper-tab>TRANSLATION STATUS</paper-tab>
  <div class="page">
    <% if @language.number_of_translations && @language.number_of_translations > 0 %>
        <p>Already existing: <strong><%= @language.number_of_translations %></strong> Bible <%= 'version'.pluralize(@language.number_of_translations) %></p>
    <% end %>
    <p>Translation need: <strong><%= @language.translation_need.humanize %></strong></p>
    <p>Translation progress: <strong><%= @language.translation_progress.humanize %></strong></p>
    <% if @language.translation_info %>
        <p><%= @language.translation_info %></p>
    <% end %>
    <% if @language.translating_organisations.any? %>
        <% copula = @language.engaged_organisations.count == 1 ? 'is' : 'are' %>
        <%= pluralize(@language.translating_organisations.count, 'organisation') + " #{copula}" %> involved with translation:
        <div role="listbox">
          <% @language.translating_organisations.each do |org| %>
              <paper-item><%= org.name %></paper-item>
          <% end %>
        </div>
    <% end %>
  </div>

  <% if @language.iso or @language.mt_resources.any? %>
    <paper-tab>RESOURCES AVAILABLE</paper-tab>
    <div class="page">
      <div role="listbox">
        <% if @language.mt_resources.any? %>
          <% @language.mt_resources.each do |resource| %>
            <% if resource.url %>
              <a href="<%= resource.url %>" tabindex="-1">
            <% end %>
            <paper-item>
              <paper-item-body two-line>
                <div><%= resource.name %></div>
                <div secondary><%= resource.description %></div>
              </paper-item-body>
            </paper-item>
            <% if resource.url %>
              </a>
            <% end %>
          <% end %>
        <% end %>
        <% if @joshua_project %>
          <% jp_data = @joshua_project['data'][0] %>
          <% if jp_data['JF_URL'].present? %>
            <a href="<%= jp_data['JF_URL'] %>" tabindex="-1">
              <paper-item>Jesus Film</paper-item>
            </a>
          <% end %>
            <% if jp_data['GRN_URL'].present? %>
                <a href="<%= jp_data['GRN_URL'] %>" tabindex="-1">
                  <paper-item>GRN Audio recordings</paper-item>
                </a>
            <% end %>
            <% if jp_data['4Laws_URL'].present? %>
                <a href="<%= jp_data['4Laws_URL'] %>" tabindex="-1">
                  <paper-item>Four Spiritual Laws</paper-item>
                </a>
            <% end %>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if @joshua_project %>
    <% jp_data = @joshua_project['data'][0] %>
    <paper-tab>JOSHUA PROJECT DATA</paper-tab>
    <div class="page">
      <%
        info = ''
        info += " #{jp_data['JPPopulation']} people speak this as their primary language." if jp_data['JPPopulation'].present?
        info += " This is the primary language for #{pluralize jp_data['NbrPGICs'], 'people group'}." if jp_data['NbrPGICs'].present?
        info += " They live in #{pluralize jp_data['NbrCountries'], 'country'}." if jp_data['NbrCountries'].present?
        info += " Their primary religion is #{jp_data['PrimaryReligion']}." if jp_data['PrimaryReligion'].present?
        info += " #{jp_data['PercentAdherents']}% of these people identify as Christian." if jp_data['PercentAdherents'].present?
        info += " #{jp_data['PercentEvangelical']}% of these people are evangelical Christian." if jp_data['PercentEvangelical'].present?
        scale = case jp_data['JPScale']
          when 1
            'unreached'
          when 2
            'formerly or falsely reached'
          when 3
            'minimally reached'
          when 4
            'partially reached'
          when 5
            'significantly reached'
          else
            nil
        end
        info += " They are #{scale}." if scale.present?
        info += ' They are considered Least-reached.' if jp_data['LeastReached'] and jp_data['LeastReached'] == 'Y'
          bible_status = ''
        case jp_data['BibleStatus']
          when 0
            bible_status += 'Bible translation need is questionable'
          when 1
            bible_status += 'There is no Bible translation, but a definite need'
          when 2
            bible_status += 'Portions of scripture have been published'
            bible_status += " in #{jp_data['PortionsYear']}" if jp_data['PortionsYear']
          when 3
            bible_status += 'The New Testament has been published'
            bible_status += " in #{jp_data['NTYear']}" if jp_data['NTYear']
          when 4
            bible_status += 'The whole Bible has been published'
            bible_status += " in #{jp_data['BibleYear']}" if jp_data['BibleYear']
        end
      %>
      <paper-card heading="<%= jp_data['Language'] %>">
        <div class="card-content">
          <% if info.present? %><p><%= info %></p><% end %>
          <% if bible_status.present? %><p><%= bible_status %>.</p><% end %>
        </div>
      </paper-card>
    </div>
  <% end %>
</easy-paper-tabs>



<% if logged_in_user.can_edit_language? %>
    <%= link_to edit_language_path(@language), class: 'right' do %>
      <paper-fab icon="create" title="Edit"></paper-fab>
    <% end %>
<% end %>

<% if logged_in_user.can_view_all_languages? %>
  <%= link_to languages_path, class: "waves-effect btn" do %>
    All languages
  <% end %>
<% end %>
