<% provide(:title, "#{@language.name} Dashboard") %>
<% provide(:context_title, @language.name) %>
<% provide(:container_class, 'no-iso') if @language.iso.blank? %>

<% sl = StateLanguage.where(language: @language, primary: true).take %>
<% if sl %>
  <ul class="breadcrumbs">
    <li><%=	link_to SagReporter::Application::NATION, nation_path %></li>
    <li><%= link_to "#{sl.geo_state.zone_name} Zone", zone_path(sl.geo_state.zone) %></li>
    <li><%= link_to sl.state_name, geo_state_path(sl.geo_state) %></li>
    <li><%= link_to @language.name, language_path(@language) %></li>
  </ul>
<% end %>

<% editable = true %>

<div id="edit-response"></div>
<div id="pending-edits" class="mdl-grid">
  <% @user_pending_edits.each do |edit| %>
    <div class="mdl-cell mdl-cell--4-col">
      <%= render edit %>
    </div>
  <% end %>
  <% @user_pending_fl_edits.each do |edit| %>
      <div class="mdl-cell mdl-cell--4-col">
        <%= render edit %>
      </div>
  <% end %>
</div>

<% tabs = [:details, :progress, :products] %>
<% tabs << :language_orgs if logged_in_user.trusted? %>
<% @tab ||= 'progress' %>

<% @dashboard_type = :language %>
<%= render partial: 'shared/dashboard', locals: { tabs: tabs, dashboard_object: @language } %>

<%= render 'edit_dialogs' %>

<dialog id="general-language-dialog" class="mdl-dialog" data-language="<%= @language.id %>" data-language-name="<%= @language.name %>">
  <h4 class="mdl-dialog__title"></h4>
  <div class="mdl-dialog__content ">
  </div>
  <div class="md-dialog__actions">
    <button type="button" class="mdl-button submit">Submit</button>
    <button type="button" class="mdl-button cancel">Cancel</button>
  </div>
</dialog>

<div id="future_year_dialogs"></div>