<% provide(:title, 'Show Language: ' + @language.name) %>
<h1 class="coloured <%= colour_class(@language.colour) %>"><%= @language.name %></h1>
<% if @language.iso %>
    <p class="iso" id="iso_<%= @language.iso %>">(<%= @language.iso %>)</p>
    <paper-tooltip position="right" for="iso_<%= @language.iso %>">ISO 693-2 code</paper-tooltip>
<% end %>

<% if @language.population %>
    <p>
      <span id="pop_<%= @language.iso %>">
        Population: <strong><%= number_with_delimiter(@language.population, :delimiter => ',') %></strong>
      </span>
      <% if @language.pop_source %>
        <paper-tooltip position="top" for="pop_<%= @language.iso %>">source: <%= @language.pop_source.name %></paper-tooltip>
      <% end %>
    </p>
<% end %>
<% if @language.family %>
    <p>Family: <strong><%= @language.family_name %></strong></p>
<% end %>
<% if @language.description %>
    <p><%= @language.description %></p>
<% end %>
<% if @language.cluster %>
    <p>Cluster: <strong><%= @language.cluster_name %></strong></p>
<% end %>
<% if @language.info %>
    <p><%= @language.info %></p>
<% end %>

<style>
  paper-tabs {
    background-color: mediumslateblue;
    colour: white;
  }
</style>

<paper-tabs selected="0">
  <paper-tab>TRANSLATION STATUS</paper-tab>
  <paper-tab>RESOURCES AVAILABLE</paper-tab>
  <paper-tab>JOSHUA PROJECT DATA</paper-tab>
</paper-tabs>

<iron-pages selected="0">
  <div>
    <% if @language.number_of_translations && @language.number_of_translations > 0 %>
        <p>Already existing: <strong><%= @language.number_of_translations %></strong> Bible <%= 'version'.pluralize(@language.number_of_translations) %></p>
    <% end %>
  </div>
  <div>Page 2</div>
  <div>Page 3</div>
</iron-pages>
<script>
  var pages = document.querySelector('iron-pages');
  var tabs = document.querySelector('paper-tabs');

  tabs.addEventListener('iron-select', function() {
    pages.selected = tabs.selected;
  });
</script>



<% if logged_in_user.can_edit_language? %>
  <%= link_to edit_language_path(@language), class: "waves-effect right btn" do %>
    <i class="material-icons left">create</i>
    Edit
  <% end %>
<% end %>
<% if logged_in_user.can_view_all_languages? %>
  <%= link_to languages_path, class: "waves-effect btn" do %>
    All languages
  <% end %>
<% end %>
