<% provide(:title, "#{@language.name} details") %>
<% provide(:context_title, "#{@language.name} details") %>
<% provide(:container_class, 'no-iso') if @language.iso.blank? %>

<div id="edit-response"></div>
<div id="pending-edits" class="mdl-grid">
  <% @user_pending_edits.each do |edit| %>
      <div class="mdl-cell mdl-cell--4-col">
        <%= render edit %>
      </div>
  <% end %>
  <% @user_pending_fl_edits.each do |edit| %>
      <div class="mdl-cell mdl-cell--4-col">
        <%= render edit %>
      </div>
  <% end %>
</div>

   <div class="mdl-grid">
  <div class="mdl-cell mdl-cell--6-col mdl-cell--2-col-phone">
    <h1>Language Details</h1>
    <%= link_to @language do %>
        <i class="material-icons">dashboard</i> Language dashboard
    <% end %>
  </div>
   <div class="mdl-cell mdl-cell--4-offset-desktop mdl-cell--2-col">
     <div class="language-name"><h2 id="language-name" class="<%= 'editable' if @editable %> <%= 'pending-field' if @pending_attributes.include? 'name' %>"><%= @language.name %><%= render 'shared/edit_icon' if @editable %></h2></div>
     <div>[<span id="language-iso" class="iso-code <%= 'editable' if @editable %> <%= 'pending-field' if @pending_attributes.include? 'iso' %>"><%= @language.iso %><%= render 'shared/edit_icon' if @editable %></span>]</div>
   </div>
</div>

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--6-col">

    <table class="language-data">
      <tr><th>Point Person</th><td>
        <% if @language.champion.present? %>
          <%= user_link(@language.champion) %>
        <% else %>
          not assigned
        <% end %>
      </td></tr>
    </table>

    <a name="church-engagement"><h3>Church Engagement</h3></a>
    <table class="language-data">
      <% church_engagement_marker = FinishLineMarker.find_by_number(0) %>
      <tr><th>Church Engagement Status</th><td><%= FinishLineProgress.find_or_create_by(language: @language, finish_line_marker: church_engagement_marker).human_status %></td></tr>
    </table>

    <a name="bible-materials"><h3>Bible Materials</h3></a>
    <table class="language-data">
      <% jesus_film_marker = FinishLineMarker.find_by_number(1) %>
      <tr><th>Jesus Film Status</th><td><%= FinishLineProgress.find_or_create_by(language: @language, finish_line_marker: jesus_film_marker).human_status %></td></tr>
      <% obs_marker = FinishLineMarker.find_by_number(2) %>
      <tr><th>Oral Bible Stories Status</th><td><%= FinishLineProgress.find_or_create_by(language: @language, finish_line_marker: obs_marker).human_status %></td></tr>
      <% radio_marker = FinishLineMarker.find_by_number(3) %>
      <tr><th>Radio Programs Status</th><td><%= FinishLineProgress.find_or_create_by(language: @language, finish_line_marker: radio_marker).human_status %></td></tr>
      <% songs_marker = FinishLineMarker.find_by_number(4) %>
      <tr><th>Songs Status</th><td><%= FinishLineProgress.find_or_create_by(language: @language, finish_line_marker: songs_marker).human_status %></td></tr>
    </table>


    <a name="bible-translation"><h3>Bible Translation</h3></a>

    <table class="language-data">
      <% gospel_marker = FinishLineMarker.find_by_number(5) %>
      <tr><th>Gospel Status</th><td><%= FinishLineProgress.find_or_create_by(language: @language, finish_line_marker: gospel_marker).human_status %></td></tr>
      <% nt_marker = FinishLineMarker.find_by_number(6) %>
      <tr><th>New Testament Status</th><td><%= FinishLineProgress.find_or_create_by(language: @language, finish_line_marker: nt_marker).human_status %></td></tr>
      <% ot_marker = FinishLineMarker.find_by_number(7) %>
      <tr><th>Old Testament Status</th><td><%= FinishLineProgress.find_or_create_by(language: @language, finish_line_marker: ot_marker).human_status %></td></tr>
      <% if (@language.number_of_translations && @language.number_of_translations > 0) or @editable %>
          <% tr_num = @language.number_of_translations || 0 %>
          <%= render 'attribute_table_row',
                     title: 'Number of ongoing translation projects',
                     attribute_name: 'number_of_translations',
                     tooltip: 'Is there more than one organization working in the language for translation (this is to track duplication effort)?'
          %>
      <% end %>
      <% if (@language.translation_info.present? or @editable) and logged_in_user.trusted? %>
          <%= render 'attribute_table_row', title: 'Translation information', attribute_name: 'translation_info' %>
      <% end %>
      <% if @language.tr_committee_established.present? %>
          <tr><th>Translation committee established</th><td><%= @language.tr_committee_established? ? 'Yes' : 'No' %></td></tr>
      <% end %>
    </table>

    <h4>Publication dates</h4>
    <table class="mdl-data-table mdl-js-data-table">
      <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">Type</th>
        <th>Year first published</th>
        <th>Year last published</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="check mdl-data-table__cell--non-numeric">Whole Bible</td>
        <%= render partial: 'text_value', locals: {
            html_tag: :td,
            attribute_name: 'bible_first_published',
            object: @language
        } %>
        <%= render partial: 'text_value', locals: {
            html_tag: :td,
            attribute_name: 'bible_last_published',
            object: @language
        } %>
      </tr>
      <tr>
        <td class="check mdl-data-table__cell--non-numeric">New Testament</td>
        <%= render partial: 'text_value', locals: {
            html_tag: :td,
            attribute_name: 'nt_first_published',
            object: @language
        } %>
        <td><span id="language-nt-last-published" class="<%= 'editable' if @editable %> <%= 'pending-field' if @pending_attributes.include? 'nt_last_published' %>">
          <%= @language.nt_last_published %>
          <%= render 'shared/edit_icon' if @editable %></span>
          <% if @language.nt_out_of_print %>
              (now out of print)
          <% end %></td>
      </tr>
      <tr>
        <td class="check mdl-data-table__cell--non-numeric">Portions</td>
        <%= render partial: 'text_value', locals: {
            html_tag: :td,
            attribute_name: 'portions_first_published',
            object: @language
        } %>
        <%= render partial: 'text_value', locals: {
          html_tag: :td,
          attribute_name: 'portions_last_published',
          object: @language
        } %>
      </tr>
      </tbody>
    </table>
    <% if @language.selections_published.present? or @editable%>
        <table class="language-data">
          <%= render 'attribute_table_row', title: 'Selections', attribute_name: 'selections_published' %>
        </table>
    <% end %>

    <% if logged_in_user.trusted? %>
        <h4>People involved</h4>
        <table class="language-data">
          <% if @editable or @language.translation_consultants.present? %>
              <tr>
                <th>Translation consultants</th>
                <td id="language-translation-consultants" class="<%= 'editable' if @editable %> <%= 'pending-field' if @pending_attributes.include? 'translation_consultants' %>">
                  <%= @language.translation_consultants %>
                  <%= render 'shared/edit_icon' if @editable %>
                </td>
              </tr>
          <% end %>
        </table>
    <% end %>


    <a name="literacy"><h3>Literacy</h3></a>
    <table class="language-data">
      <% literacy_marker = FinishLineMarker.find_by_number(8) %>
      <tr><th>Basic Literacy Status</th><td><%= FinishLineProgress.find_or_create_by(language: @language, finish_line_marker: literacy_marker).human_status %></td></tr>
      <% dictionary_marker = FinishLineMarker.find_by_number(9) %>
      <tr><th>Dictionary Status</th><td><%= FinishLineProgress.find_or_create_by(language: @language, finish_line_marker: dictionary_marker).human_status %></td></tr>
      <% if @editable or @language.script.present? %>
          <%= render 'attribute_table_row',
                     title: 'Script',
                     attribute_name: 'script',
                     tooltip: 'Which script(s) are used to write the language?'
          %>
      <% end %>
      <% if @editable or @language.mt_literacy.present? %>
          <%= render 'attribute_table_row', title: 'Mother-Tongue literacy', attribute_name: 'mt_literacy' %>
      <% end %>
      <% if @editable or @language.l2_literacy.present? %>
          <%= render 'attribute_table_row',
                     title: 'Second language literacy',
                     attribute_name: 'l2_literacy',
                     tooltip: 'What is the literacy rate in second language or the language of education?'
          %>
      <% end %>
      <% if @editable or @language.literate_believers.present? and logged_in_user.sees_faith_based_data? %>
          <%= render 'attribute_table_row', title: 'Literate believers', attribute_name: 'literate_believers' %>
      <% end %>
      <% if @editable or @language.mt_literacy_programs.present? %>
          <%= render 'attribute_table_row',
                     title: 'Mother-Tongue literacy programs',
                     attribute_name: 'mt_literacy_programs',
                     tooltip: 'Write the interest of the community in mother tongue literacy program in less than 50 words'
          %>
      <% end %>
      <% if @editable or @language.attitude_to_lang_dev.present? %>
          <%= render 'attribute_table_row', title: 'Attitude towards development', attribute_name: 'attitude_to_lang_dev' %>
      <% end %>
      <% if @language.oral_traditions_print.present? %>
          <tr><th>Oral traditions are in print</th><td><%= @language.oral_traditions_print ? 'Yes' : 'No' %></td></tr>
      <% end %>
      <% if @language.poetry_print.present? %>
          <tr><th>Mother-Tongue poetry is in print</th><td><%= @language.poetry_print? ? 'Yes' : 'No' %></td></tr>
      <% end %>
    </table>

    <a name="mt-resources"><h3>Resources</h3></a>
    <% if @language.mt_resources.any? %>
        <ul class="mdl-list">
          <% @language.mt_resources.each do |resource| %>
              <li class="mdl-list__item mdl-list__item--two-line">
                <span class="mdl-list__item-primary-content">
                <% if resource.url %>
                  <a href="<%= resource.url %>" tabindex="-1"><%= resource.name %></a>
                <% else %>
                  <%= resource.name %>
                <% end %>
                  <span class="mdl-list__item-sub-title"><%= resource.description %></span>
                </span>
              </li>
          <% end %>
        </ul>
    <% else %>
        <p>None recorded</p>
    <% end %>
    <%= link_to 'Add resource', new_mt_resource_path(language: @language.id) %>

    <h3>Religion</h3>
    <table class="language-data">
      <% if @language.religion.present? %>
          <%= render 'attribute_table_row',
                     title: 'Religion',
                     attribute_name: 'religion',
                     tooltip: 'What religious affiliation do the people claim? What is the estimated percentage?'
          %>
      <% end %>
      <% if @language.local_fellowship.present? and logged_in_user.sees_faith_based_data? %>
          <tr><th>Local Fellowship exists</th><td><%= @language.local_fellowship? ? 'Yes' : 'No' %></td></tr>
      <% end %>
      <% if @language.believers.present? and logged_in_user.sees_faith_based_data? %>
          <tr><th>Believers</th><td><%= number_with_delimiter(@language.believers, :delimiter => ',') %>
            (<%= (@language.believers * 100) / @language.population %>%)
          </td></tr>
      <% end %>
    </table>

  </div>
  <div class="mdl-cell mdl-cell--6-col">

    <a name="outcome-progress"><h3>Outcome transformation</h3></a>
    <% @language.state_languages.in_project.each do |state_language| %>
        <h4><%= state_language.state_name %></h4>
        <%= link_to "#{state_language.state_name} chart", language_outcomes_chart_path(id: state_language.id), remote: true, method: 'GET', class: "mdl-button mdl-js-button get-chart-button chart-#{state_language.id}-button" %>
        <div class="chart-<%= state_language.id %>"></div>
    <% end %>
    <% non_project_states = @language.state_languages.joins(:geo_state).where(project: false).map{ |sl| link_to sl.state_name, sl.geo_state }.to_sentence.html_safe %>
    <% if non_project_states.present? %>
        <p><%= @language.name %> is spoken in <%= non_project_states %>, but LCI does not yet track it's transformation there.</p>
    <% end %>

        <a name="language-names"><h3>Alternate Names</h3></a>
        <% if @language.language_names.any? %>
            <% check_mark = '<i class="material-icons">done</i>'.html_safe %>
            <table class="mdl-data-table mdl-js-data-table">
              <thead>
              <tr>
                <th class="mdl-data-table__cell--non-numeric">Name</th>
                <th class="mdl-data-table__cell--non-numeric">Used by <%= @language.name %> speakers</th>
                <th class="mdl-data-table__cell--non-numeric">Used by outsiders</th>
                <th class="mdl-data-table__cell--non-numeric">Preferred</th>
              </tr>
              </thead>
              <tbody>
              <% @language.language_names.order(:name).each do |name| %>
                  <tr>
                    <td class="check mdl-data-table__cell--non-numeric"><%= name.name %></td>
                    <td class="check mdl-data-table__cell--non-numeric"><%= name.used_by_speakers? ? check_mark : '' %></td>
                    <td class="check mdl-data-table__cell--non-numeric"><%= name.used_by_outsiders? ? check_mark : '' %></td>
                    <td class="check mdl-data-table__cell--non-numeric"><%= name.preferred? ? check_mark : '' %></td>
                  </tr>
              <% end %>
              </tbody>
            </table>
        <% else %>
            <p>None</p>
        <% end %>

    <h3>General</h3>
    <table class="language-data">
      <% if @language.description.present? or @editable %>
          <%= render 'attribute_table_row',
                     title: 'Description',
                     attribute_name: 'description'
          %>
      <% end %>
      <% if @language.info.present? %>
          <%= render 'attribute_table_row',
                     title: 'General information',
                     attribute_name: 'info',
                     tooltip: 'Any general remark about the people and the language'
          %>
      <% end %>
    </table>

    <a name="classification"><h4>Classification</h4></a>
        <table class="language-data">
          <% if @language.family_id.present? %>
              <tr><th>Family</th><td id="language-family" class="<%= 'editable' if @editable %>"><%= @language.family_name %><%= render 'shared/edit_icon' if @editable %></td></tr>
          <% end %>
          <% if @language.genetic_classification.present? %>
              <%= render 'attribute_table_row',
                         title: 'Classification',
                         attribute_name: 'genetic_classification'
              %>
          <% end %>
          <% if @language.lexical_similarity.present? %>
              <%= render 'attribute_table_row',
                         title: 'Lexical similarity',
                         attribute_name: 'lexical_similarity'
              %>
          <% end %>
          <% if @language.related_languages.present? %>
              <%= render 'attribute_table_row',
                         title: 'Related languages',
                         attribute_name: 'related_languages'
              %>
          <% end %>
        </table>

    <h4>Location</h4>
    <table class="language-data">
      <% if @editable or @language.location.present? %>
          <tr><th>Location</th><td id="language-location" class="<%= 'editable' if @editable %>"><%= @language.location %><%= render 'shared/edit_icon' if @editable %></td></tr>
      <% end %>
      <% if @language.location_access.present? %>
          <tr><th>Physical Access</th><td><%= @language.location_access %></td></tr>
      <% end %>
      <% if @language.travel.present? %>
          <tr><th>Travel Habits</th><td><%= @language.travel %></td></tr>
      <% end %>
    </table>

        <h4>Population</h4>
        <table class="language-data">
          <% if @language.population.present? %>
              <tr><th>Population in India</th><td><%= number_with_delimiter(@language.population, :delimiter => ',') %>
                <% if @language.pop_source %>
                    (source: <%= @language.pop_source.name %>)
                <% end %>
              </td></tr>
          <% end %>
          <%# if @language.population_all_countries.present? %>
          <!--tr><th>In all countries</th><td><%# number_with_delimiter(@language.population_all_countries, :delimiter => ',') %></td></tr-->
          <%# end %>
          <% if @language.population_concentration.present? %>
              <tr><th>Population concentration</th><td><%= @language.population_concentration %></td></tr>
          <% end %>
          <% if @language.age_distribution.present? %>
              <tr><th>Age distribution</th><td><%= @language.age_distribution %></td></tr>
          <% end %>
          <% if @language.village_size.present? %>
              <tr><th>Average village size</th><td><%= @language.village_size %></td></tr>
          <% end %>
        </table>

        <h4>Groupings</h4>
        <table class="language-data">
          <% if @language.dialects.any? %>
              <tr><th>Dialects</th><td><%= @language.dialects.pluck(:name).to_sentence %></td></tr>
          <% end %>
          <% if @language.clans.present? %>
              <tr><th>Clans</th><td><%= @language.clans %></td></tr>
          <% end %>
          <% if @language.castes.present? %>
              <tr><th>Castes</th><td><%= @language.castes %></td></tr>
          <% end %>
          <% if @language.subgroups.present? %>
              <tr><th>Subgroups</th><td><%= @language.subgroups %></td></tr>
          <% end %>
          <% if @language.ethnic_groups_in_area.present? %>
              <tr><th>Other ethnic groups in the same area</th><td><%= @language.ethnic_groups_in_area %></td></tr>
          <% end %>
          <% if @language.mixed_marriages.present? %>
              <tr><th>Mixed marriages</th><td><%= @language.mixed_marriages %></td></tr>
          <% end %>
          <% if @language.attitude.present? %>
              <tr><th>Attitude to languages</th><td><%= @language.attitude %></td></tr>
          <% end %>
        </table>


    <a name="engaged-organisations"><h3>Organisations engaged</h3></a>
    <% if @editable or @language.engaged_organisations.any? %>
        <ul class="engaged-orgs mdl-list">
          <% @language.engaged_organisations.each do |org| %>
              <li class="org-<%= org.id %> mdl-list__item">
                <%= link_to org.name_with_abbr_or_not(logged_in_user), org, class: 'org-name mdl-list__item-primary-content' %>
                <% if @editable %>
                    <%= link_to remove_engaged_org_from_language_path(@language, org),
                                method: :patch,
                                remote: true,
                                class: 'mdl-list__item-secondary-content' do %>
                        <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
                          <i class="material-icons">clear</i>
                        </button>
                    <% end %>
                <% end %>
              </li>
          <% end %>
          <% if @editable and logged_in_user.trusted? %>
              <li class="add-another mdl-list__item">
                <span class="mdl-list__item-primary-content">...</span>
                <span class="mdl-list__item-secondary-content">
                  <button class="add-engaged-org-button mdl-button mdl-js-button mdl-button--icon mdl-button--colored" title="Add engaged organisation">
                    <i class="material-icons">add</i>
                  </button>
                </span>
              </li>
          <% end %>
        </ul>
    <% else %>
        <p><em>No organisations engaged with this language.</em></p>
    <% end %>


      <a name="translating-organisations"><h3>Organisations involved with translation</h3></a>
      <% if @editable or @language.translating_organisations.any? %>
          <ul class="translating-orgs mdl-list">
            <% @language.translating_organisations.each do |org| %>
                <li class="org-<%= org.id %> mdl-list__item">
                  <%= link_to org.name_with_abbr_or_not(logged_in_user), org, class: 'org-name mdl-list__item-primary-content' %>
                  <% if @editable %>
                      <%= link_to remove_translating_org_from_language_path(@language, org),
                                  method: :patch,
                                  remote: true,
                                  class: 'remove-button mdl-list__item-secondary-content' do %>
                          <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
                            <i class="material-icons">clear</i>
                          </button>
                      <% end %>
                  <% end %>
                </li>
            <% end %>
            <% if @editable and logged_in_user.trusted? %>
                <li class="add-another mdl-list__item">
                  <span class="mdl-list__item-primary-content">...</span>
                <span class="mdl-list__item-secondary-content">
                  <button class="add-translating-org-button mdl-button mdl-js-button mdl-button--icon mdl-button--colored" title="Add translating organisation">
                    <i class="material-icons">add</i>
                  </button>
                </span>
                </li>
            <% end %>
          </ul>
      <% else %>
          <p><em>No organisations engaged with translating for this language.</em></p>
      <% end %>

      <% if @impact_report %>
          <div class="impact-story mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title">
              <h2 class="mdl-card__title-text">Impact Story</h2>
            </div>
            <div class="mdl-card__supporting-text">
              <div><%= time_ago_in_words(@impact_report.report_date) %> ago</div>
              <%= simple_format @impact_report.content %>
              <%# Show pictures and the reporter name if the logged in user is trusted, or if it's them. %>
              <% if logged_in_user.trusted? or logged_in_user?(@impact_report.reporter) %>
                <% @impact_report.pictures.each do |picture| %>
                    <%= image_tag picture.ref_url if picture.ref? %>
                <% end %>
                <% if @impact_report.reporter %>
                    <div class="reporter"><%= @impact_report.reporter.name %></div>
                <% end %>
              <% end %>
            </div>
            <div class="mdl-card__actions">
              <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                More impact stories...
              </a>
            </div>
          </div>
      <% else %>
          <p>No impact reports.</p>
      <% end %>

    <% if @language.iso.present? %>
        <div class="jp-data">
          <div class="center"><paper-spinner class="jp-fetch" active></paper-spinner></div>
          <%= link_to 'Fetch JP Data', fetch_jp_data_path(@language.iso), remote: true, class: 'hide', id: 'jp-fetch-trigger' %>
        </div>
    <% end %>
  </div>
</div>

<%= render 'edit_dialogs' if @editable %>