<li class="language-item mdl-list__item mdl-list__item--two-line">
          <span class="mdl-list__item-primary-content">
            <span><%= link_to state_language.language_name, state_language.language %></span>
            <span class="mdl-list__item-sub-title">
              <% if state_language.language.iso.present? %>
                <span class="iso"><%= state_language.language.iso %></span>
              <% end %>
              <% if state_language.language.family.present? %>
                  <span class="language-family"><%= state_language.language.family.name %></span>
              <% end %>
              <% if state_language.language.population.present? %>
                  <span class="population">population: <%= state_language.language.population %></span>
              <% end %>
            </span>
          </span>
          <span class="mdl-list__item-secondary-content">
            <span class="mdl-chip" style="background-color: <%= state_language.language.translation_status_colour %>">
                <span class="mdl-chip__text"><%= state_language.language.translation_status.to_s.humanize %></span>
              </span>
          </span>
</li>