<% provide(:title, "#{@geo_state.name} Dashboard") %>
<% provide(:context_title, @geo_state.name) %>
<% provide(:super_container_class, 'compact') %>

<!-- breadcrumbs will go here -->
<!-- India | Zone | current state | previously navigated language -->
<ul class="breadcrumbs">
  <li><%=	 link_to 'India', nation_path %></li>
  <li><%= link_to "#{@geo_state.zone.name} Zone", zone_path(@geo_state.zone) %></li>
  <li><%= link_to @geo_state.name, geo_state_path(@geo_state) %></li>
</ul>

<div class="mdl-tabs mdl-js-tabs dashboard-tabs">

  <div class="mdl-tabs__tab-bar">
    <a href="#progress-tab" class="mdl-tabs__tab">Finish Line Status</a>
    <a href="#languages-tab" class="mdl-tabs__tab">Languages</a>
    <a href="#organisations-tab" class="mdl-tabs__tab">Organisations</a>
    <a href="#reports-tab" class="mdl-tabs__tab" id="reports-tab-tab">Impact Stories</a>
  </div>

  <div class="mdl-tabs__panel is-active" id="progress-tab">
    <div class="grid-layout">
      <%= render 'languages/finish_line_summary', languages: @geo_state.languages %>
      <%= render 'languages/finish_line_transformation', state_languages: @geo_state.state_languages.in_project %>
    </div>
  </div>

  <div class="mdl-tabs__panel" id="languages-tab">
    <%= render partial: 'languages/flm_table' %>
  </div>

  <div class="mdl-tabs__panel" id="organisations-tab">
    <div class="mdl-grid">
      <% if @geo_state.engaged_organisations.any? %>
        <div class="mdl--4-col">
          <h3>Working here</h3>
          <ul class="mdl-list">
            <%= render partial: 'organisations/organisation', collection: @geo_state.engaged_organisations.uniq %>
          </ul>
        </div>
      <% end %>
      <% if @geo_state.translating_organisations.any? %>
        <div class="mdl--4-col">
          <h3>Translating here</h3>
          <ul class="mdl-list">
            <%= render partial: 'organisations/organisation', collection: @geo_state.translating_organisations.uniq %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>

  <div class="mdl-tabs__panel" id="reports-tab">
    <%= form_tag({controller: 'geo_states', action: 'reports'}, method: 'get', remote: true, id: 'report-view-filters') do %>
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--4-col">
          <%= render 'reports/filter_since' %>
          <%= render 'reports/filter_until' %>
        </div>
        <div class="mdl-cell mdl-cell--4-col">
          <%= render 'reports/filter_archived' %>
          <%= render 'reports/filter_significant' %>
        </div>
        <div class="mdl-cell mdl-cell--4-col">
          <%= render 'reports/filter_type' %>
        </div>
      </div>
    <% end %>

    <script>
        $('.date-picker').bootstrapMaterialDatePicker({ weekStart : 0, time: false, format: 'DD MMMM, Y' });
    </script>

    <div class="reports-count-container">
      Showing <%= "#{@reports.count} #{'report'.pluralize(@reports.count)}" if @reports and @reports.any? %>
    </div>

    <div id="report-filter-spinner" class="mdl-spinner mdl-js-spinner"></div>

    <div class="reports-container mdl-grid">
    </div>

    <%= link_to new_report_path, id: 'show-report-fab', class: 'new-report-fab mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored' do %>
        <i class="material-icons">add</i>
    <% end %>
    <div class="mdl-tooltip" data-mdl-for="show-report-fab">
      Write a new report
    </div>

  </div>

</div>