<div class="card user light-blue" id="user-<%= user_card.id %>">
  <% if logged_in_user.trusted? or logged_in_user?(user_card) %>
      <% user_name = user_card.name %>
  <% else %>
      <% user_name = "user ##{user_card.id}" %>
  <% end %>
  <div class="card-content">
    <span class="card-title"><i class="material-icons prefix">account_circle</i> <%= user_name %></span>
    <table class="bordered">
      <tbody>
        <% language_names = user_card.spoken_languages.map { |e| e.name }
           zone_names = user_card.zones.map { |e| e.name }
           state_names = user_card.geo_states.map { |e| e.name }
           privileges = Array.new
           privileges << 'Administrator' if user_card.admin?
           privileges << 'Can view sensitive data' if user_card.trusted?
           privileges << 'Can edit at national level' if user_card.national?
           privileges << 'Is the national curator' if user_card.national_curator?
        %>
        <%# Show phone an email only if the current user is trusted, or it's them. %>
        <% if logged_in_user.trusted? or logged_in_user?(user_card) %>
          <tr>
            <th>Phone:</th>
            <td><%= user_card.pretty_phone %></td>
            <th>Email:</th>
            <td><%= user_card.email %><%# link_to 'Resend email confirmation', "javascript:;", class: 'grey-text text-lighten-3 right resend-confirm-email-button' if user_card.email.present? && !user_card.email_confirmed %></td>
          </tr>
        <% end %>
        <tr>
          <th><%= "Zone".pluralize(zone_names.count) %>:</th>
          <td><%= zone_names.join(', ') %></td>
          <th><%= "State".pluralize(state_names.count) %>:</th>
          <td><%= state_names.join(', ') %></td>
        </tr>
        <tr>
          <th>Mother tongue:</th>
          <td><%= user_card.mother_tongue.name %></td>
          <th>Can speak:</th>
          <td><%= language_names.join(', ') %></td>
        </tr>
        <tr>
          <th>Role:</th>
          <td><%= user_card.role_description %></td>
          <% if user_card.curated_states.any? %>
            <th>Curating for</th>
            <td><%= user_card.curated_states.pluck(:name).join(', ') %></td>
          <% end %>
        </tr>
        <% if privileges.any? %>
          <tr>
            <th>Privileges:</th>
            <td colspan="3"><%= privileges.join(', ') %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="card-action">
    <% if logged_in_user.can_edit_user? || logged_in_user?(user_card) %>
      <%= link_to edit_user_path(user_card), class: "waves-effect btn white-text" do %>
        <i class="material-icons left">create</i>
        Edit
      <% end %>
    <% end %>
  </div>
</div>
