<div class="card user light-blue" id="user-<%= user_card.id %>">
  <div class="card-content">
    <span class="card-title"><i class="material-icons prefix">account_circle</i> <%= user_card.name %></span>
    <table class="bordered">
      <tbody>
        <% language_names = user_card.spoken_languages.map { |e| e.name } %>
        <% zone_names = user_card.zones.map { |e| e.name } %>
        <% state_names = user_card.geo_states.map { |e| e.name } %>
        <tr>
          <th>Phone:</th>
          <td><%= user_card.pretty_phone %></td>
          <th>Email:</th>
          <td><%= user_card.email %><%= link_to 'Click to Resend', "javascript:;", class: 'grey-text text-lighten-3 right resend-confirm-email-button' if user_card.email && !user_card.email_confirmed %></td>
        </tr>
        <tr>
          <th><%= "Zone".pluralize(zone_names.count) %>:</th>
          <td><%= zone_names.join(', ') %></td>
          <th><%= "State".pluralize(state_names.count) %>:</th>
          <td><%= state_names.join(', ') %></td>
        </tr>
        <tr>
          <th>Mother tongue:</th>
          <td><%= user_card.mother_tongue.name %></td>
          <th>Can speak:</th>
          <td><%= language_names.join(', ') %></td>
        </tr>
        <tr>
          <th>Role:</th>
          <td><%= user_card.role_description %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-action">
    <% if logged_in_user.can_edit_user? || logged_in_user?(user_card) %>
      <%= link_to edit_user_path(user_card), class: "waves-effect btn white-text" do %>
        <i class="material-icons left">create</i>
        Edit
      <% end %>
    <% end %>
  </div>
</div>
