<div class="card user light-blue" id="user-<%= user_card.id %>">
  <% if logged_in_user.trusted? or logged_in_user?(user_card) %>
      <% user_name = user_card.name %>
  <% else %>
      <% user_name = "user ##{user_card.id}" %>
  <% end %>
  <div class="card-content">
    <span class="card-title"><i class="material-icons prefix">account_circle</i> <%= user_name %></span>
    <table class="bordered">
      <tbody>
        <%
           privileges = Array.new
           privileges << 'Administrator' if user_card.admin?
           privileges << 'Can view sensitive data' if user_card.trusted?
           privileges << 'Can edit at national level' if user_card.national?
           privileges << 'Is the national curator' if user_card.national_curator?
        %>
        <%# Show phone an email only if the current user is trusted, or it's them. %>
        <% if logged_in_user.trusted? or logged_in_user?(user_card) %>
          <tr>
            <th>Phone:</th>
            <td><%= user_card.pretty_phone %></td>
            <th>Email:</th>
            <td><%= user_card.email %><%# link_to 'Resend email confirmation', "javascript:;", class: 'grey-text text-lighten-3 right resend-confirm-email-button' if user_card.email.present? && !user_card.email_confirmed %></td>
          </tr>
        <% end %>
        <tr>
          <th><%= 'Zone'.pluralize(user_card.zones.count) %>:</th>
          <td><%= user_card.zones.map{ |z| z.name }.to_sentence %></td>
          <th><%= 'State'.pluralize(user_card.geo_states.count) %>:</th>
          <td><%= user_card.geo_states.pluck(:name).to_sentence %></td>
        </tr>
        <tr>
          <th>Role:</th>
          <td><%= user_card.role_description %></td>
          <% if user_card.curated_states.any? %>
            <th>Curating for</th>
            <td><%= user_card.curated_states.pluck(:name).to_sentence %></td>
          <% end %>
        </tr>
        <% if privileges.any? %>
          <tr>
            <th>Privileges:</th>
            <td <%= 'colspan="3"' if user_card.championed_languages.empty? %>><%= privileges.join(', ') %></td>
            <% if user_card.championed_languages.any? %>
              <th>Point <%= 'language'.pluralize(user_card.championed_languages.count) %>:</th>
              <td><%= user_card.championed_languages.pluck(:name).to_sentence %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="card-action">
    <% if logged_in_user.admin? || logged_in_user?(user_card) %>
      <%= link_to edit_user_path(user_card), class: "waves-effect btn white-text" do %>
        <i class="material-icons left">create</i>
        Edit
      <% end %>
    <% end %>
  </div>
</div>
