<% provide(:title, "Edit #{@user.name}'s profile") %>
<h1><i class="mdi-content-create"></i> Edit your profile</h1>
<div class="row">
  <%= form_for(@user, html: {class: "col s12"}) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="row">
      <div class="input-field col s8">
        <i class="mdi-action-account-circle prefix"></i>
        <%= f.text_field :name %>
        <%= f.label :name, class: "active" %>
      </div>
      <div class="input-field col s4">
        <i class="mdi-communication-phone prefix"></i>
        <%= f.text_field :phone %>
        <%= f.label :phone, class: "active" %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <i class="mdi-communication-vpn-key prefix"></i>
        <%= f.password_field :password %>
        <%= f.label :password %>
      </div>
      <div class="input-field col s6">
        <i class="mdi-communication-vpn-key prefix"></i>
        <%= f.password_field :password_confirmation %>
        <%= f.label :password_confirmation, "Confirm Password" %>
      </div>
    </div>
    <% if !current_user?(@user) %>
      <div class="row">
        <div class="input-field col s6">
          <%= f.select(:role_id) do %>
            <% @roles.each do |role| %>
              <%= content_tag(:option, role.name, {value: role.id, selected: ("selected" if @user.role_id == role.id)}) %>
            <% end %>
          <% end %>
          <%= f.label :role_id, "Select role" %>
        </div>
      </div>
    <% end %>
    <%= button_tag( :class => "btn waves-effect waves-light right") do %>
      Update <i class="mdi-content-create right"></i>
    <% end %>
  <% end %>
</div>