<% provide(:title, 'Add New User') %>
<h1><i class="material-icons large">person_add</i> Add User</h1>
<div class="row">
  <%= form_for(@user, html: {class: "col s12"}) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="row">
      <div class="input-field col s8">
        <i class="material-icons prefix">account_circle</i>
        <%= f.text_field :name %>
        <%= f.label :name %>
      </div>
      <div class="input-field col s4">
        <i class="material-icons prefix">phone</i>
        <%= f.telephone_field :phone %>
        <%= f.label :phone %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">vpn_key</i>
        <%= f.password_field :password %>
        <%= f.label :password %>
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">vpn_key</i>
        <%= f.password_field :password_confirmation %>
        <%= f.label :password_confirmation, "Confirm Password" %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <%= f.select(:mother_tongue_id) do %>
          <% @languages.each do |lang| %>
            <%= content_tag(:option, lang.name, value: lang.id) %>
          <% end %>
        <% end %>
        <%= f.label :mother_tongue_id, "Mother tongue" %>
      </div>
      <div class="input-field col s6">
        <a class='dropdown-button btn-flat' href='#' data-activates='speaks_dropdown' data-hover="true">Able to speak...</a>
        <ul id='speaks_dropdown' class='dropdown-content'>
          <% @languages.each do |lang| %>
            <li>
              <%= check_box_tag('speaks[' + lang.id.to_s + ']', 1, @user.speaks.include?(lang)) %>
              <%= label_tag('speaks[' + lang.id.to_s + ']', lang.name) %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <%= f.select(:role_id) do %>
          <% @roles.each do |role| %>
            <%= content_tag(:option, role.name, value: role.id) %>
          <% end %>
        <% end %>
        <%= f.label :role_id, "Role", {:class => "active"} %>
      </div>
    </div>
    <%= button_tag( :class => "btn waves-effect waves-light right") do %>
      Create New User <i class="material-icons right">add</i>
    <% end %>
  <% end %>
</div>