<% provide(:title, 'Add New User') %>
<h1><i class="mdi-social-person-add"></i> Add User</h1>
<div class="row">
  <%= form_for(@user, html: {class: "col s12"}) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="row">
      <div class="input-field col s8">
        <i class="mdi-action-account-circle prefix"></i>
        <%= f.text_field :name %>
        <%= f.label :name %>
      </div>
      <div class="input-field col s4">
        <i class="mdi-communication-phone prefix"></i>
        <%= f.text_field :phone %>
        <%= f.label :phone %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <i class="mdi-communication-vpn-key prefix"></i>
        <%= f.password_field :password %>
        <%= f.label :password %>
      </div>
      <div class="input-field col s6">
        <i class="mdi-communication-vpn-key prefix"></i>
        <%= f.password_field :password_confirmation %>
        <%= f.label :password_confirmation, "Confirm Password" %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <%= f.select(:role_id) do %>
          <% @roles.each do |role| %>
            <%= content_tag(:option, role.name, value: role.id) %>
          <% end %>
        <% end %>
        <%= f.label :role_id, "Select role" %>
      </div>
    </div>
    <%= button_tag( :class => "btn waves-effect waves-light right") do %>
      Create New User <i class="mdi-content-add right"></i>
    <% end %>
  <% end %>
</div>