<% if logged_in_user?(@user) %>
    <% provide(:title, "Reports by #{@user.name}") %>
    <% provide(:context_title, 'My Reports') %>
<% elsif logged_in_user.trusted? %>
    <% provide(:title, "Reports by #{@user.name}") %>
    <% provide(:context_title, "Reports by #{@user.name}") %>
<% else %>
    <% provide(:title, "Reports by user ##{@user.id}") %>
    <% provide(:context_title, "Reports by user ##{@user.id}") %>
<% end %>

<%= form_tag({controller: 'users', action: 'reports'}, method: 'get', remote: true, id: 'report-view-filters') do %>
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col">
      <%= render 'reports/filter_since' %>
    </div>
    <div class="mdl-cell mdl-cell--4-col">
      <%= render 'reports/filter_archived' %>
      <%= render 'reports/filter_significant' %>
    </div>
    <div class="mdl-cell mdl-cell--4-col">
      <%= render 'reports/filter_type' %>
    </div>
  </div>
<% end %>

<script>
  $('.date-picker').bootstrapMaterialDatePicker({ weekStart : 0, time: false, format: 'DD MMMM, Y' });
</script>

<div class="reports-count-container">
  Showing <%= "#{@reports.count} #{'report'.pluralize(@reports.count)}" if @reports and @reports.any? %>
</div>

<div id="report-filter-spinner" class="mdl-spinner mdl-js-spinner"></div>

<div class="reports-container mdl-grid">
  <% if @reports.any? %>
    <% @reports.each do |report| %>
      <%= render partial: 'reports/mdl_report', object: report %>
    <% end %>
  <% else %>
    <%= render 'reports/empty_state' %>
  <% end %>
</div>

<%= link_to new_report_path, id: 'show-report-fab', class: 'new-report-fab mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored' do %>
    <i class="material-icons">add</i>
<% end %>
<div class="mdl-tooltip" data-mdl-for="show-report-fab">
  Write a new report
</div>
