
<div class="mdl-tabs mdl-js-tabs dashboard-tabs">
  <div class="mdl-tabs__tab-bar">
    <% tabs.each do |tab| %>
      <a id="<%= tab.to_s %>-tab" href="#<%= tab.to_s %>-panel" class="mdl-tabs__tab <%= 'is-active' if @tab == tab.to_s %>"><%= tab_names[tab] %></a>
    <% end %>
  </div>

  <% if tabs.include? :progress %>
    <div class="mdl-tabs__panel <%= 'is-active' if @tab == 'progress' %>" id="progress-panel">
      <% if @dashboard_type == :language %>
        <script>
            $('#progress-tab').on('click.load-content', function () {
                $(this).off('click.load-content');
                $.ajax("<%= fetch_progress_tab_language_path(@language) %>");
            });
        </script>
      <% else
        case @dashboard_type
        when :state
          flm_summary_path = load_flm_summary_geo_state_path(@geo_state)
          flt_summary_path = load_flt_summary_geo_state_path(@geo_state)
        when :zone
          flm_summary_path = load_flm_summary_zone_path(@zone)
          flt_summary_path = load_flt_summary_zone_path(@zone)
        else # nation
          flm_summary_path = load_national_flm_summary_path
          flt_summary_path = load_national_flt_summary_path
        end
      %>
      <div class="grid-layout">
        <div id="flm-table">
          <%= link_to 'get flm table', flm_summary_path, remote: true, class: 'content-fetch-trigger' %>
          <div class="mdl-spinner mdl-js-spinner"></div>
        </div>
        <div id="flt-table">
          <%= link_to 'get flt table', flt_summary_path, remote: true, class: 'content-fetch-trigger' %>
          <div class="mdl-spinner mdl-js-spinner"></div>
        </div>
      </div>
      <% end %>
    </div>
  <% end %>

  <% if tabs.include? :zones %>
    <div class="mdl-tabs__panel <%= 'is-active' if @tab == 'zones' %>" id="zones-panel">
      <ul class="zone-list mdl-list">
        <% Zone.find_each do |zone| %>
          <li class="mdl-list__item">
            <%= link_to zone do %>
              <span class="mdl-list__item-primary-content"><%= zone.name %></span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if tabs.include? :states %>
    <% states = (@dashboard_type == :zone) ? @geo_states : GeoState  %>
    <div class="mdl-tabs__panel <%= 'is-active' if @tab == 'states' %>" id="states-panel">
      <ul class="state-list mdl-list">
        <% states.find_each do |state| %>
          <li class="mdl-list__item">
            <%= link_to state do %>
              <span class="mdl-list__item-primary-content"><%= state.name %></span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if tabs.include? :languages %>
    <%
      case @dashboard_type
      when :state
        language_table_path = load_language_flm_table_geo_state_path(@geo_state, filter: @language_flm_filters)
      when :zone
        language_table_path = load_language_flm_table_zone_path(@zone, filter: @language_flm_filters)
      else # nation
        language_table_path = load_national_language_flm_table_path(filter: @language_flm_filters)
      end
    %>
    <div class="mdl-tabs__panel <%= 'is-active' if @tab == 'languages' %>" id="languages-panel">
      <div id="language-flm-table">
        <%= link_to 'get language flm table', language_table_path, remote: true, class: 'content-fetch-trigger' %>
        <div class="mdl-spinner mdl-js-spinner"></div>
      </div>
    </div>
  <% end %>

  <% if tabs.include? :organisations %>
    <%
      case @dashboard_type
      when :language
        local = {language_id: @language.id}
      when :state
        local = {geo_state_id: @geo_state.id}
      when :zone
        local = {zone_id: @zone.id}
      else
        Rails.logger.warn "not expecting #{@dashboard_type} to include agencies tab"
        local = {}
      end
      if dashboard_object
        engaged_orgs = dashboard_object.engaged_organisations.uniq
        translating_orgs = dashboard_object.translating_organisations.uniq
      else
        engaged_orgs = Organisation.none
        translating_orgs = Organisation.none
      end
    %>
    <div class="mdl-tabs__panel <%= 'is-active' if @tab == 'organisations' %>" id="organisations-panel">
      <% if engaged_orgs.any? %>
        <h4>Serving in development</h4>
        <ul class="mdl-list">
          <%= render partial: 'organisations/organisation', collection: engaged_orgs, locals: {type: :engaged}.merge(local) %>
        </ul>
      <% end %>
      <% if translating_orgs.any? %>
        <h4>Serving in translation</h4>
        <ul class="mdl-list">
          <%= render partial: 'organisations/organisation', collection: translating_orgs, locals: {type: :translation}.merge(local) %>
        </ul>
      <% end %>
    </div>
  <% end %>

  <% if tabs.include? :language_orgs %>
    <div class="mdl-tabs__panel <%= 'is-active' if @tab == 'language_orgs' %>" id="language_orgs-panel">
      <h3>Organisations engaged</h3>
      <ul class="engaged-orgs mdl-list">
        <% @language.engaged_organisations.each do |org| %>
          <li class="org-<%= org.id %> mdl-list__item">
            <%= link_to org.name_with_abbr_or_not(logged_in_user), org, class: 'org-name mdl-list__item-primary-content' %>
            <% if @editable %>
              <%= link_to remove_engaged_org_from_language_path(@language, org),
                          method: :patch,
                          remote: true,
                          class: 'mdl-list__item-secondary-content' do %>
                <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
                  <i class="material-icons">clear</i>
                </button>
              <% end %>
            <% end %>
          </li>
        <% end %>
        <% if @editable and logged_in_user.trusted? %>
          <li class="add-another mdl-list__item">
            <span class="mdl-list__item-primary-content">...</span>
            <span class="mdl-list__item-secondary-content">
                <button class="add-engaged-org-button mdl-button mdl-js-button mdl-button--icon mdl-button--colored" title="Add engaged organisation">
                  <i class="material-icons">add</i>
                </button>
              </span>
          </li>
        <% end %>
      </ul>

      <h3>Organisations involved with translation</h3>
      <ul class="translating-orgs mdl-list">
        <% @language.translating_organisations.each do |org| %>
          <li class="org-<%= org.id %> mdl-list__item">
            <%= link_to org.name_with_abbr_or_not(logged_in_user), org, class: 'org-name mdl-list__item-primary-content' %>
            <% if @editable %>
              <%= link_to remove_translating_org_from_language_path(@language, org),
                          method: :patch,
                          remote: true,
                          class: 'remove-button mdl-list__item-secondary-content' do %>
                <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
                  <i class="material-icons">clear</i>
                </button>
              <% end %>
            <% end %>
          </li>
        <% end %>
        <% if @editable and logged_in_user.trusted? %>
          <li class="add-another mdl-list__item">
            <span class="mdl-list__item-primary-content">...</span>
            <span class="mdl-list__item-secondary-content">
                <button class="add-translating-org-button mdl-button mdl-js-button mdl-button--icon mdl-button--colored" title="Add translating organisation">
                  <i class="material-icons">add</i>
                </button>
              </span>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if tabs.include? :products %>
    <div class="mdl-tabs__panel <%= 'is-active' if @tab == 'products' %>" id="products-panel">
      <% if @language.tools.active.any? %>
        <ul class="mdl-list tools-list">
          <%= render partial: 'tools/tool', collection: @language.tools.active.includes(:product_categories) %>
        </ul>
      <% else %>
        <p>None recorded</p>
      <% end %>
      <%= link_to new_tool_path, remote: true do %>
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab">
          <i class="material-icons">add</i>
        </button>
      <% end %>
    </div>
  <% end %>

  <% if tabs.include? :projects %>
    <div class="mdl-tabs__panel <%= 'is-active' if @tab == 'projects' %>" id="projects-panel">
      <% projects = defined?(dashboard_object) ? dashboard_object.projects.order(:name).uniq : Project.all.order(:name) %>
      <% projects = projects.to_a.select{ |p| logged_in_user.can_view_project?(p) } unless logged_in_user.admin? %>
      <button id="project-menu-button" class="mdl-button mdl-js-button mdlext-js-menu-button" aria-controls="project-menu">
        <span>Select a project</span>
        <i class="material-icons">more_vert</i>
      </button>
      <ul id="project-menu" class="mdlext-menu">
        <%= render partial: 'projects/project_menu_item', collection: projects %>
        <% if logged_in_user.zone_admin? or logged_in_user.admin? %>
          <li class="mdlext-menu__item" data-ajax-url="<%= projects_path %>" data-method="post">
            New Project <i class="material-icons">note_add</i>
          </li>
        <% end %>
      </ul>
      <% if projects.empty? %>
        <div class="empty-state">
          <p>No projects here.</p>
          <% if logged_in_user.zone_admin? or logged_in_user.admin? %>
            <%= link_to projects_path, method: :post, remote: true, class: 'mdl-button' do %>
              New Project <i class="material-icons">note_add</i>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <div id="project-content">
      </div>
    </div>
  <% end %>

  <% if tabs.include? :projects_overview %>
    <div class="mdl-tabs__panel <%= 'is-active' if @tab == 'projects-overview' %>" id="projects_overview-panel">
      <button id="quarter-menu-button" class="mdl-button mdl-js-button mdlext-js-menu-button" aria-controls="quarter-menu">
        <span>Select a quarter</span>
        <i class="material-icons">calendar_today</i>
      </button>
      <span id="projects-overview-selected-quarter"></span>
      <ul id="quarter-menu" class="mdlext-menu">
        <% years_of_quarters(2).each do |pretty_quarter, quarter| %>
          <li data-quarter="<%= quarter %>" class="mdlext-menu__item">
            <%= pretty_quarter %>
          </li>
        <% end %>
      </ul>
      <ul id="projects-overview" class="mdlext-accordion mdlext-js-accordion mdlext-accordion--vertical">
        <% Ministry.all.each do |stream| %>
          <li class="mdlext-accordion__panel">
            <header class="mdlext-accordion__tab">
              <span class="mdlext-accordion__tab__caption"><%= stream.name.en %></span>
            </header>
            <section class="mdlext-accordion__tabpanel projects-overview-container" data-stream="<%= stream.id %>">
            </section>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if tabs.include? :reports %>
    <div class="mdl-tabs__panel <%= 'is-active' if @tab == 'reports' %>" id="reports-panel">
      <%= form_tag({controller: @dashboard_type == :state ? 'geo_states' : 'zones', action: 'reports'}, method: 'get', remote: true, id: 'report-view-filters') do %>
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--4-col">
            <%= render 'reports/filter_since' %>
            <%= render 'reports/filter_until' %>
          </div>
          <div class="mdl-cell mdl-cell--4-col">
            <%= render 'reports/filter_archived' %>
            <%= render 'reports/filter_significant' %>
            <% if @dashboard_type == :zone %>
              <% states = logged_in_user.national? ? @zone.geo_states : @zone.geo_states.where(id: logged_in_user.geo_states) %>
              <%= render partial: 'reports/filter_states', locals: {states: states.order(:name)} %>
            <% end %>
            <% unless @dashboard_type == :language %>
              <%= render partial: 'reports/filter_languages', locals: {languages: dashboard_object.languages.order(:name).uniq} %>
            <% end %>
            <%= render partial: 'reports/filter_progress_markers' %>
            <%= render partial: 'reports/filter_projects' %>
          </div>
          <div class="mdl-cell mdl-cell--4-col">
            <%= render 'reports/filter_type' %>
          </div>
        </div>
      <% end %>

      <script>
          $('.date-picker').bootstrapMaterialDatePicker({ weekStart : 0, time: false, format: 'DD MMMM, Y' });
      </script>

      <div class="reports-count-container">
        Showing <%= "#{@reports.count} #{'report'.pluralize(@reports.count)}" if @reports and @reports.any? %>
      </div>

      <div id="report-filter-spinner" class="mdl-spinner mdl-js-spinner"></div>

      <div class="reports-container mdl-grid">
      </div>

      <%= link_to new_report_path, id: 'show-report-fab', class: 'new-report-fab mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored' do %>
        <i class="material-icons">add</i>
      <% end %>
      <div class="mdl-tooltip" data-mdl-for="show-report-fab">
        Write a new report
      </div>

    </div>
  <% end %>

  <% if tabs.include? :board %>
    <% Rails.logger.debug 'board tab' %>
    <%
      case @dashboard_type
      when :state
        report_path = load_board_report_geo_state_path(@geo_state)
      when :zone
        report_path = load_board_report_zone_path(@zone)
      else # nation
        report_path = load_national_board_report_path
      end
    %>
    <div class="mdl-tabs__panel <%= 'is-active' if @tab == 'board' %>" id="board-panel">
      <div id="board-report-container">
        <%= link_to 'get CLI board report', report_path, remote: true, class: 'content-fetch-trigger' %>
        <div class="mdl-spinner mdl-js-spinner"></div>
      </div>
    </div>
  <% end %>

  <% if tabs.include? :details %>
    <div class="mdl-tabs__panel <%= 'is-active' if @tab == 'details' %>" id="details-panel">
      <div id="language-details-container">
        <%= link_to 'get CLI board report', show_details_language_path(@language), remote: true, class: 'content-fetch-trigger' %>
        <div class="mdl-spinner mdl-js-spinner"></div>
      </div>
    </div>
  <% end %>

</div>