        <a class='dropdown-button btn-flat' href='#' data-activates='<%= object %>-<%= attribute %>-dropdown' data-hover="true">
        <i class="material-icons left"><%= icon %></i>
        <%= text %></a>
        <div id='<%= object %>-<%= attribute %>-dropdown' class='dropdown-content'>
          
          <% collection.each do |item| %>
            <div 
                class="<%= attribute %>-option <%= local_assigns[:element_class].presence ? element_class : '' %>"
                id="<%= object %>-<%= attribute %>-<%= item.id.to_s %>"
                <% if local_assigns[:data].presence %>
                  data="<%= item.send(data) %>"
                <% end %>
            >
              <%= check_box_tag("#{object}[#{attribute}][#{item.id.to_s}]", 1, selected.include?(item)) %>
              <%= label_tag("#{object}[#{attribute}][#{item.id.to_s}]", item.send(display)) %>
            </div>
          <% end %>
          
        </div>