        <a class='dropdown-button btn-flat' href='#' data-activates='<%= object %>-<%= attribute %>-dropdown' data-hover="true">
        <i class="material-icons left"><%= icon %></i>
        <%= text %></a>
        <div id='<%= object %>-<%= attribute %>-dropdown' class='dropdown-content'>
          
          <% collection.each do |item| %>
            <div class="<%= attribute %>-option" id="<%= object %>-<%= attribute %>-<%= item.id.to_s %>">
              <%= check_box_tag("#{object}[#{attribute}][#{item.id.to_s}]", 1, selected.include?(item)) %>
              <%= label_tag("#{object}[#{attribute}][#{item.id.to_s}]", item.send(display)) %>
            </div>
          <% end %>
          
        </div>