<div class="row">
  <div class="col s12 m6">
    <div>
      <%= f.fields_for(:observers, f.object.observers.build) do |ff| %>
          <% render partial: 'reports/observer_fields', locals: { f: ff } %>
      <% end %>
    </div>
    <div class="input-field">
      <i class="material-icons prefix">create</i>
      <%= f.text_area :content, class: 'materialize-textarea' %>
      <%= f.label :content, 'Report content' %>
    </div>
  </div>
  <div class="col s12 m6">
    <div><%= render partial: 'reports/report_type_fields', locals: { f: f } %></div>
    <div>
      <%= render partial: 'shared/multiselect', locals: {
          text: Translation.get_string('relates_languages', logged_in_user),
          icon: 'language',
          object: 'event',
          # When the report records get inserted into the event form
          # '00000' is replaced with an index for this report
          attribute: ['reports_attributes', '00000', 'languages'],
          display: :language_name,
          element_class: 'filterable-item',
          data: :geo_state_id,
          collection: @project_languages,
          selected: Array.new
      } %>
    </div>
  </div>
</div>