<% provide(:title, Translation.get_string('report_event', current_user)) %>
<h1><i class="material-icons large">event</i> <%= Translation.get_string('report_event', current_user) %></h1>
<div class="row">
  <%= form_for(@event, html: {class: "col s12"}) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <div class="row">
      <div class="col s12 m6 l4 offset-m6 offset-l8 input-field">
        <%= render partial: "shared/geo_state_input", locals: {form: f, input_class: 'filter_trigger'} %>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m8">

        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">label</i>
            <%= f.text_field :event_label %>
            <%= f.label :event_label, Translation.get_string('event_name', current_user) %>
          </div>
        </div>

        <div class="row">
          <div class="col s12 m8">
            <i class="material-icons prefix">location_on</i>
            <%= label_tag Translation.get_string('location', current_user) %>
            <div class="input-field">
              <%= f.text_field :district %>
              <%= f.label :district, Translation.get_string('district', current_user) %>
            </div>
            <div class="input-field">
              <%= f.text_field :sub_district %>
              <%= f.label :sub_district, Translation.get_string('sub_dist', current_user) %>
            </div>
            <div class="input-field">
              <%= f.text_field :village %>
              <%= f.label :village, Translation.get_string('village', current_user) %>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="input-field">
              <i class="material-icons prefix">today</i>
              <%= f.date_field :event_date, class: "datepicker active" %>
              <%= f.label :event_date, Translation.get_string('date', current_user) %>
            </div>
            <div class="input-field">
              <%= f.number_field :participant_amount %>
              <%= f.label :participant_amount, Translation.get_string('number_participants', current_user) %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <%= render partial: "shared/multiselect", locals: {
            	text: Translation.get_string('relates_languages', current_user),
            	icon: "language",
            	object: "event",
            	attribute: "languages",
              display: :name,
              element_class: "filterable_item",
              data: :geo_state_ids_str,
            	collection: @minority_languages,
            	selected: @event.languages
            } %>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <!--i class="material-icons prefix">directions_walk</i-->
            <%= render partial: "shared/multiselect", locals: {
              text: Translation.get_string('purpose', current_user) + Translation.get_string('enable', current_user),
              icon: "directions_walk",
              object: "event",
              attribute: "purposes",
              display: :description,
              collection: @all_purposes,
              selected: @event.purposes
            } %>
          </div>
        </div>

      </div>
      <div class="input-field people-increase col s12 m4">
        <i class="material-icons prefix">people</i>
        <%= autocomplete_field_tag "person__0", '', autocomplete_person_name_events_path %>
        <%= label_tag :person__0, Translation.get_string('people_involved', current_user), {class: "tooltipped", "data-position" => "top", "data-delay" => "50", "data-tooltip" => Translation.get_string('one_name_row', current_user)} %>
      </div>
    </div>
    <% Event.yes_no_questions(current_user).each do |code, question| %>
      <div class="yes-no-question">

        <div class="row">
          <div class="col s12 m10">
            <i class="material-icons">question_answer</i>
            <span class="event-question"><%= question %></span>
          </div>
          <div class="col s12 m2 input-field">
          	<%= radio_button_tag(code, "no") %>
          	<%= label_tag("#{code}_no", Translation.get_string('no', current_user)) %>
          	<%= radio_button_tag(code, "yes") %>
          	<%= label_tag("#{code}_yes", Translation.get_string('yes', current_user)) %>
          </div>
        </div>

        <div class="row yes-response hide">
          <div class="col s12">

            <div class="row response-input row__0">
              <div class="input-field col s12 m6">
                <%= text_area_tag("#{code}-response__0", "", class: "materialize-textarea") %>
                <%= label_tag("#{code}-response__0", Translation.get_string('who_said_what', current_user)) %>
              </div>
              <% if code == "impact" %>
                <%= hidden_field_tag("#{code}-type__0", "impact") %>
              <% elsif code == "plan" %>
                <%= hidden_field_tag("#{code}-type__0", "plan") %>
              <% else %>
              <div class="col s12 m6">
                <div>
            	    <%= radio_button_tag("#{code}-type__0", "impact") %>
            	    <%= label_tag("#{code}-type__0_impact", Translation.get_string('this_impact', current_user)) %>
                </div>
                <div>
            	    <%= radio_button_tag("#{code}-type__0", "plan") %>
          	      <%= label_tag("#{code}-type__0_plan", Translation.get_string('need_followup', current_user)) %>
                </div>
              </div>
              <% end %>
              <div class="input-field col s12 m6">
                <%= render partial: "shared/multiselect", locals: {
                  text: Translation.get_string('relates_languages', current_user),
                  icon: "language",
                  object: code + '-lang__0',
                  attribute: "languages",
                  display: :name,
                  element_class: "filterable_item",
                  data: :geo_state_ids_str,
                  collection: @minority_languages,
                  selected: Hash.new
                } %>
              </div>
            </div>

          </div>
        </div>

      </div>
    <% end %>
    <div class="yes-no-question">

      <div class="row">
        <div class="col s12 m10">
          <i class="material-icons">question_answer</i>
          <span class="event-question"><%= Translation.get_string('any_actions', current_user) %></span>
        </div>
        <div class="col s12 m2 input-field">
          <%= radio_button_tag("decision", "no") %>
          <%= label_tag("decision_no", Translation.get_string('no', current_user)) %>
          <%= radio_button_tag("decision", "yes") %>
          <%= label_tag("decision_yes", Translation.get_string('yes', current_user)) %>
        </div>
      </div>

      <div class="row yes-response hide">
          <div class="col s12">

            <div class="row decision-response-input row__0">
              <div class="input-field col s12 m6">
                <%= text_area_tag("decision-response__0", "", class: "materialize-textarea") %>
                <%= label_tag("decision-response__0", Translation.get_string('what_action', current_user)) %>
              </div>
              <div class="input-field col s12 m6">
                <%= autocomplete_field_tag "person-responsible__0", '', autocomplete_person_name_events_path %>
                <%= label_tag("person-responsible__0", Translation.get_string('person_responsible', current_user)) %>
              </div>
            </div>

          </div>
        </div>

    </div>
    <div class="row">
      <div class="input-field col s12 m9">
        <i class="material-icons prefix">event_available</i>
        <%= f.text_area :content, class: "materialize-textarea" %>
        <%= f.label :content, Translation.get_string('anything_else', current_user) %>
      </div>
    </div>
    <div class="row">
      <div>
        <%= button_tag( :class => "btn waves-effect waves-light right") do %>
          <%=Translation.get_string('submit', current_user) %> <i class="material-icons right">send</i>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
