<% provide(:title, 'Show Event: ' + @event.event_label) %>

<h1><%= @event.event_label %> - <%= @event.event_date.to_s(:rfc822) %></h1>

<% if @event.record_creator %>
  <p>
   Reported by: <%= @event.record_creator.name %>
   <%= time_ago_in_words @event.created_at %> ago.
  </p>
<% end %>

<% @event.purposes.each do |purpose| %>
  <p class="event-purpose">To enable <%= purpose.description %>.</p>
<% end %>

<% if @event.languages.any? %>
  <p class="event-languages">Concerning <%= @event.languages.map{ |l| content_tag(:strong, l.name) }.to_sentence.html_safe %> languages.</p>
<% end %>

<!--h2>People Attending</h2-->
<% if @event.participant_amount %>
  <p>A total of <%= @event.participant_amount %> people attended the event.</p>
<% end %>
<% if @event.people.any? %>
  <ul class="collection event-attendees">
  	<% @event.people.each do |person| %>
  	  <li class="collection-item">
  	  	<%= person.name %>
  	  </li>
  	<% end %>
  </ul>
<% end %>

<!--h2>Event reports</h2-->
<div class="row">
    <%= render partial: "reports/report", collection: @event.reports, locals: {time: false, topics: false, languages: true, wrapper: "col s12 m6 l4"} %>
</div>

<!--h2>Action Points</h2-->
<div class="row">
  <%= render partial: "action_points/action_point", collection: @event.action_points, locals: {time: false,  wrapper: "col s12 m6 l4"} %>
</div>

<% if @event.content.present? %>
  <!--h2>Other event content</h2-->
  <p><%= @event.content %></p>
<% end %>