<div
  class="card impact_report for-tagging <%= report_for_tagging.progress_markers.active.count == 0 ? "green lighten-3" : "green lighten-1" %> z-depth-3 <%= report_for_tagging.shareable? ? "shareable" : "" %>"
  id="ImpactReport-<%= report_for_tagging.id %>"
  data-report-id="<%= report_for_tagging.report_id %>"
  data-language="<%= report_for_tagging.languages.pluck(:id).join(' ') %>"
  data-geo-state="<%= report_for_tagging.geo_state.id %>"
  data-pm="<%= report_for_tagging.progress_markers.pluck(:id).join(' ') %>"
  data-pictures="<%= report_for_tagging.pictures.count %>"
  >
  <div class="card-content" href="#pm-modal">
    <div class="report-content"><%= simple_format report_for_tagging.content %></div>
    <% report_for_tagging.pictures.each do |picture| %>
        <%= image_tag picture.ref_url if picture.ref? %>
    <% end %>
    <ul class="progress_markers">
      <% report_for_tagging.progress_markers.each do |pm| %>
        <li class="progress_marker tooltipped <%= colour_class(pm.topic.colour) %>" data-position="bottom" data-delay="50" data-tooltip="<%= pm.number%>">
          <%= pm.description_for(logged_in_user) %>
        </li>
      <% end %>
    </ul>
    <div class="report-languages">
      <% report_for_tagging.languages.each do |language| %>
        <div class="<%= colour_class(language.colour) %>"><%= language.name %></div>
      <% end %>
    </div>
  </div>
  <div class="card-action">
  <% if logged_in_user.can_archive_report? %>
    <%= link_to archive_impact_report_path(report_for_tagging), class: "waves-effect btn white-text tooltipped", "data-position" => "top", "data-delay" => "50", "data-tooltip" => "Archive", method: :patch do %>
      <i class="material-icons">archive</i>
    <% end %>
  <% end %>
  <% if logged_in_user.can_edit_report? %>
    <%= link_to edit_report_path(report_for_tagging.report), class: "waves-effect btn white-text tooltipped", "data-position" => "top", "data-delay" => "50", "data-tooltip" => "Edit" do %>
      <i class="material-icons">edit</i>
    <% end %>
  <% end %>
  </div>
</div>