<%
class_contents = "#{report.state} filterable-item #{'hide' if report.archived?}".html_safe
element_options = "data-filter-label=\"language geo_state status\" data-date=\"#{report.report_date}\" data-language=\"#{report.languages.pluck(:id).join(',')}\" data-geo_state=\"#{report.geo_state_id}\" data-status=\"#{report.state}\"".html_safe
%>
<% if wrapper %>
  <div class="report-wrapper <%= wrapper %> <%= class_contents %>" <%= element_options %>>
<% end %>
<div class="card report green lighten-3 <%= class_contents %>" id="report-<%= report.id %>" <%= element_options %>>
  <div class="card-content">
    <% if !defined? title or title %>
      <span class="card-title">Impact Report</span>
    <% end %>
    <% if time %>
  	  <div><%= time_ago_in_words(report.report_date) %> ago</div>
  	<% end %>
  	<%= simple_format report.content %>
    <% unless Report.categories.select{ |key, sentence| report.send(key) }.empty? %>
      <p class="concerning hide">Concerns <%= Report.categories.select{ |key, sentence| report.send(key) }.values.map { |v| "the #{v}" }.to_sentence() %>.</p>
    <% end %>
    <% if report.reporter %>
  	  <div class="reporter"><%= report.reporter.name %></div>
    <% end %>
  	<% if languages %>
  	  <div class="report-languages">
  	  	<% report.languages.each do |language| %>
  	  	  <div class="<%= colour_class(language.colour) %>"><%= language.name %></div>
  	  	<% end %>
  	  </div>
  	<% end %>
    <ul class="progress_markers">
      <% report.progress_markers.each do |pm| %>
        <li class="progress_marker tooltipped <%= colour_class(pm.topic.colour) %>" data-position="bottom" data-delay="50" data-tooltip="<%= pm.description %>">
          <%= pm.name %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="card-action">
  <% if current_user.can_archive_report? %>
    <% if report.archived? %>
  	  <%= link_to unarchive_impact_report_path(report), class: "waves-effect btn white-text tooltipped", "data-position" => "top", "data-delay" => "50", "data-tooltip" => "Un-Archive", method: :patch do %>
  	    <i class="material-icons">publish</i>
      <% end %>
    <% else %>
  	  <%= link_to archive_impact_report_path(report), class: "waves-effect btn white-text tooltipped", "data-position" => "top", "data-delay" => "50", "data-tooltip" => "Archive", method: :patch do %>
  	    <i class="material-icons">archive</i>
      <% end %>
    <% end %>
  <% end %>
  <% if current_user.can_edit_report? %>
  	  <%= link_to edit_impact_report_path(report), class: "waves-effect btn white-text tooltipped", "data-position" => "top", "data-delay" => "50", "data-tooltip" => "Edit" do %>
  	    <i class="material-icons">edit</i>
      <% end %>
  <% end %>
  </div>
</div>
<% if wrapper %>
  </div>
<% end %>