<% progress_markers_by_oa = ProgressMarker.active.includes(:topic).all.group_by{ |pm| pm.topic } %>
<dialog class="mdl-dialog tag-dialog" id="tag-dialog-<%= impact_report.id %>">
  <div class="mdl-dialog__content ">
    <% impact_report.report.pictures.each do |picture| %>
      <%= link_to_if(picture.ref?, image_tag(picture.ref_url(:thumb)), picture.ref_url)  %>
    <% end %>
    <p class="report-content"><%= impact_report.content %></p>
    <div class="pictures hide"></div>
    <div class="shareable-checkbox">
      <label for="shareable" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
        <%= check_box_tag 'shareable', 'yes', impact_report.shareable,
                          data: {
                              remote: true,
                              url: shareable_impact_report_path(impact_report),
                              method: "PATCH",
                          },
                          class: "mdl-checkbox__input"
        %>
        <span class="mdl-checkbox__label">This report is suitable for sharing with funders</span>
      </label>
    </div>
    <ul class="mdlext-accordion mdlext-js-accordion mdlext-accordion--vertical mdlext-js-ripple-effect">
      <% progress_markers_by_oa.each do |oa, markers| %>
        <li class="mdlext-accordion__panel">
          <header class="mdlext-accordion__tab">
            <span class="mdlext-accordion__tab__caption"><%= oa.name %></span>
          </header>
          <section class="mdlext-accordion__tabpanel">
            <% ProgressMarker.weight_text.each do |weight, weight_text| %>
            <div>
              <p><%= weight_text %></p>
              <ul class="mdl-list">
              <% markers.select{ |m| m.weight == weight }.each do |marker| %>
                <li class="mdl-list__item">
                  <span class="mdl-list__item-primary-content">
                    <%= marker.description_for(logged_in_user) %>
                  </span>
                  <span class="mdl-list__item-secondary-action">
                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="pm-<%= marker.id.to_s %>" >
                      <% pm_ids = impact_report.progress_markers.pluck :id %>
                      <% Rails.logger.debug "pm: #{marker.id} report_pms: #{pm_ids}" %>
                      <%= check_box_tag "pm-#{marker.id.to_s}",
                                        'yes',
                                        pm_ids.include?(marker.id),
                                        data: {
                                            remote: true,
                                            url: tag_update_impact_report_path(impact_report, pm_id: marker.id),
                                            method: "PATCH",
                                        },
                                        class: "mdl-checkbox__input"
                      %>
                    </label>
                  </span>
                </li>
              <% end %>
              </ul>
            </div>
            <% end %>
          </section>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="md-dialog__actions">
    <button type="button" class="mdl-button close">Done</button>
  </div>
</dialog>