<% provide(:title, 'Tag impact reports') %>

<h1>Tag reports with progress markers</h1>
<p class="instructions">
  Choose a month<%= current_user.geo_states.count > 1 ? ", a state" : "" %> and languages to tag reports within.
</p>

<div class="row">
  <div class="col s12 m4">
    <a class='dropdown-button btn' href='#' data-activates='month_dropdown'><%= @date.strftime("%Y %B") %> </a>
    <ul id='month_dropdown' class='dropdown-content'>
      <% (6.months.ago.to_date..Date.today).select{ |d| d.day == 1 }.each do |date| %>
        <li><%= link_to date.strftime("%Y %B"), tag_month_impact_reports_path(date.month) %></li>
      <% end %>
    </ul>
  </div>
  <% if current_user.geo_states.count > 1 %>
    <div class="col s12 m4 input field">
      <select id="geo_state_id" name="geo_state_id" class="filter_trigger">
        <%= options_from_collection_for_select(current_user.geo_states, 'id', 'name') %>
      </select>
      <%= label_tag("geo_state_id", "State") %>
    </div>
  <% end %>
  <div class="col s12 m4">
    <%= render partial: "shared/multiselect", locals: {
      text: "languages…",
      icon: "language",
      object: "language",
      attribute: "selected",
      display: :name,
      data: :geo_state_ids_str,
      element_class: "filterable_item",
      collection: @languages,
      selected: @languages
    } %>
  </div>
</div>

<div class="hide" id="progress-markers-data">
  <% @progress_markers_by_oa.each do |oa, markers| %>
    <div id="<%= oa.id %>-data">
      <option value="">Select progress marker...</option>
      <% markers.each do |marker| %>
        <!--option class="tooltipped" data-position="right" data-delay="50" data-tooltip="<%= marker.description %>" value="<%= marker.id %>"><%= marker.name %></option-->
        <option value="<%= marker.id %>"><%= marker.description %></option>
      <% end %>
    </div>
  <% end %>
</div>

<% @reports.in_groups_of(3, false) do |report_group| %>
  <div class="row">
    <% report_group.each do |report| %>
      <div class="col s12 m6 l4 report-tagging">
        <%= render partial: "report_for_tagging", object: report %>
      </div>
    <% end %>
  </div>
<% end %>