<% provide(:title, 'Tag impact reports') %>

<h1>Tag reports with progress markers</h1>

<div class="hide" id="progress-markers-data">
  <% @progress_markers_by_oa.each do |oa, markers| %>
    <div id="<%= oa.id %>-data">
      <option value="">Select progress marker...</option>
      <%= options_from_collection_for_select(markers, :id, :name) %>
    </div>
  <% end %>
</div>

<% @reports.in_groups_of(3, false) do |report_group| %>
  <div class="row">
    <% report_group.each do |report| %>
      <div class="col s12 m6 l4 report-tagging">
        <%= render partial: "impact_reports/report", object: report, locals: {time: true, languages: true, topics: false, wrapper: false} %>
        <div class="outcome-area-input">
          <%= select_tag("#{report.id}_oa",  options_from_collection_for_select(@outcome_areas, :id, :name), prompt: "Select outcome area...") %>
        </div>
        <div class="progress-marker-input hide">
          <%= select_tag("#{report.id}_pm",  "", prompt: "First select outcome area") %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>