<% data = Rails.cache.fetch("aggregated-actuals-#{@ministry.id}-#{@quarter}", expires_in: 1.day, backup: true){ projects_overview_data(@zones, @ministry, @quarter, @deliverables, @sl_by_zone) } %>
<% targets = Rails.cache.fetch("aggregated-targets-#{@ministry.id}-#{@quarter}", expires_in: 1.day, backup: true){ aggregate_targets(@zones, @quarter, @deliverables, @sl_by_zone) } %>
<% GC.start %>
<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
  <tr>
    <th class="mdl-data-table__cell--non-numeric"><%= @ministry.name.en %></th>
    <% @zones.each do |zone| %>
      <th><%= zone.name %></th>
    <% end %>
    <% @ministry.deliverables.each do |deliverable| %>
      <% unless deliverable.disabled? %>
        <tr>
          <td class="mdl-data-table__cell--non-numeric"><%= deliverable.short_form.en %></td>
          <% data.each do |zone_id, deliverable_values| %>
            <td id="overview-<%= @ministry.id %>-<%= zone_id %>-<%= deliverable.id %>" data-assessment="<%= assessment(targets[zone_id][deliverable.id], deliverable_values[deliverable.id]) if targets[zone_id][deliverable.id] and deliverable_values[deliverable.id] %>">
              <%= deliverable_values[deliverable.id] %>
            </td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tr>
</table>
<% targets.each do |zone_id, zone_targets| %>
  <% zone_targets.each do |deliverable_id, target| %>
    <div class="mdl-tooltip" data-mdl-for="overview-<%= @ministry.id %>-<%= zone_id %>-<%= deliverable_id %>">
      Target: <%= target %>
    </div>
  <% end %>
<% end %>