<%
if can_edit(@quarterly_evaluation, logged_in_user)
  if @reports
    Rails.logger.debug "report count #{@reports.count}"
    first_month, last_month = quarter_to_range(@quarterly_evaluation.quarter)
    first_day = Date.new(first_month[0..3].to_i, first_month[-2.. - 1].to_i, 1)
    last_day = Date.new(last_month[0..3].to_i, last_month[-2.. - 1].to_i).end_of_month
    @reports = @reports.where('reports.report_date >= ?', first_day).where('reports.report_date <= ?', last_day)
    Rails.logger.debug "report count #{@reports.count}"
%>
    var container = $('.quarterly-stream-content[data-lang="<%= @quarterly_evaluation.state_language_id %>"][data-stream="<%= @quarterly_evaluation.ministry_id %>"]');
    container.find('.story-select-dialogs').empty();

    <% @reports.each_with_index do |report, i| %>
      container.find('.story-select-dialogs').append('<%= j render(partial: 'reports/select_dialog', object: report, locals: {i: i, report_count: @reports.count}) %>');
    <% end %>

    container.find('dialog').each(function () {
        var dialog = $(this).get(0);
        if (! dialog.showModal) {
            dialogPolyfill.registerDialog(dialog);
        }
    });

    container.find('.report-select-dialog .close').on('click', function () {
        $(this).closest('dialog').get(0).close();
    });
    container.find('.report-select-dialog .next, .report-select-dialog .prev').on('click', function () {
        const index = $(this).data('index');
        const qe = $(this).closest('dialog').data('qe');
        $(this).closest('dialog').get(0).close();
        $('.report-select-dialog[data-index="' + index + '"][data-qe="' + qe + '"]').get(0).showModal();
    });

    $('.selected-impact-story[data-qe="<%= @quarterly_evaluation.id %>"] .actions').html('<button class="select-story-button mdl-button mdl-button--colored mdl-button--raised" data-qe="<%= @quarterly_evaluation.id %>">Select impact story</button>');
    container.find('.select-story-button').on('click', function () {
        $('.report-select-dialog[data-index="0"][data-qe="' + $(this).data('qe') + '"]').get(0).showModal();
    });
  <% end %>

  $('.selected-impact-story[data-qe="<%= @quarterly_evaluation.id %>"] .story').html('<%= j render partial: 'reports/simple_form', object: @quarterly_evaluation.report %>');
  componentHandler.upgradeElements(container.find('.mdl-textfield').get());

  $('.selected-impact-story[data-qe="<%= @quarterly_evaluation.id %>"] textarea').on('change', function () {
      $(this).closest('form').submit();
  });
  $('.selected-impact-story[data-qe="<%= @quarterly_evaluation.id %>"] textarea.impact-story-content').each(function () {
      this.setAttribute('style', 'height:' + (this.scrollHeight + 5) + 'px;overflow-y:hidden;');
  }).on('input', function () {
      this.style.height = 'auto';
      this.style.height = (this.scrollHeight + 5) + 'px';
  })
<% else %>
  $('.selected-impact-story[data-qe="<%= @quarterly_evaluation.id %>"] .story').html('<%= j render partial: 'reports/simple_report', object: @quarterly_evaluation.report %>');
<% end %>

