<% if @project.facilitators.any? %>
  <% multi_state = @project.geo_states.uniq.count > 1 %>
  <% @counter = 0 %>
  <ul class="mdlext-accordion mdlext-js-accordion mdlext-accordion--vertical">
    <% @project.ministries.order(:code).each do |stream| %>
      <li class="mdlext-accordion__panel">
        <header class="mdlext-accordion__tab">
          <span class="mdlext-accordion__tab__caption"><%= stream.name.en %></span>
        </header>
        <section class="mdlext-accordion__tabpanel">
          <% @project.language_streams.where(ministry: stream).order(:state_language_id).each do |lang_stream| %>
            <div class="project-facilitator-header" data-lang-stream="<%= lang_stream.id %>">
              <span class="facilitator-name"><%= lang_stream.facilitator.name %></span>
              facilitating for <span class="state-language-name"><%= lang_stream.state_language.name(multi_state) %></span>
            </div>
            <div class="project-facilitator-table hide" data-lang-stream="<%= lang_stream.id %>">
            </div>
          <% end %>
        </section>
      </li>
    <% end %>
  </ul>

  <dialog id="amo-comment" class="mdl-dialog">
    <%= form_tag aggregate_ministry_outputs_update_comment_path, method: :patch, remote: true do %>
      <div class="mdl-dialog__content">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <textarea class="mdl-textfield__input" type="text" rows="5" name="comment" id="variance-reason"></textarea>
          <label class="mdl-textfield__label" for="variance-reason">Reason for variance</label>
        </div>
        <input type="hidden" name="amo_id">
      </div>
      <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button submit">Update</button>
        <button type="button" class="mdl-button close">Close</button>
      </div>
    <% end %>
  </dialog>

  <dialog id="sup-feedback-dialog" class="mdl-dialog">
      <div class="mdl-dialog__content">
        <div class="sup-feedback mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <textarea class="mdl-textfield__input" type="text" rows="5" name="comment" id="sup-feedback-input"></textarea>
          <label class="mdl-textfield__label" for="sup-feedback-input">Supervisor Feedback</label>
        </div>
        <label class="sup-approved mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="sup-approve-fac-report">
          <input type="checkbox" id="sup-approve-fac-report" class="mdl-checkbox__input">
          <span class="mdl-checkbox__label">Approve facilitator's report</span>
        </label>
        <div class="fac-progress mdlext-selectfield mdlext-js-selectfield mdlext-selectfield--floating-label">
          <select id="sup-feedback-dialog-fac-progress" class="mdlext-selectfield__select">
            <option value=""></option>
            <%= options_for_select(SupervisorFeedback.facilitator_progresses.to_a.map{ |p| p[0] = t "progress.#{p[0]}", default: p[0] }) %>
          </select>
          <label for="sup-feedback-dialog-fac-progress" class="mdlext-selectfield__label">Evaluate progress in this month</label>
        </div>
      </div>
      <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button close">Done</button>
      </div>
  </dialog>

<% else %>
  <p>No facilitators in this project.</p>
<% end %>