<% if @project.facilitators.any? %>
  <% q_year = {} %>
  <% current_q, q_year[current_q] = quarter_for_month(Date.today.month), FinishLineProgress.get_current_year %>
  <% last_q = (current_q - 2) % 4 + 1 %>
  <% q_year[last_q] = last_q < current_q ? q_year[current_q] : q_year[current_q] - 1 %>
  <% state_language_names = @project.state_languages.includes(:language, :geo_state).map{ |sl| [sl.id, sl.name(@project.geo_states.uniq.count > 1)]}.to_h %>
  <% @counter = 0 %>
  <ul class="mdlext-accordion mdlext-js-accordion mdlext-accordion--vertical">
    <% @streams.each do |stream| %>
      <li class="mdlext-accordion__panel">
        <header class="mdlext-accordion__tab">
          <span class="mdlext-accordion__tab__caption"><%= stream[:name] %></span>
        </header>
        <% project_stream = @project_streams.select{ |ps| ps.ministry_id == stream[:id] }.first %>
        <section class="mdlext-accordion__tabpanel">
          <% if logged_in_user.admin? or @project.project_supervisors.management.exists?(user: logged_in_user) %>
            <div class="project-stream-evaluation mdl-shadow--2dp" data-stream="<%= stream[:id] %>">
              <% [last_q, current_q].each do |quarter| %>
                <% months_in_quarter(quarter).each do |month| %>
                  <% year_month = "#{year_from_app_year(q_year[quarter], month)}-#{month.to_s.rjust(2, '0')}" %>
                  <% stream_eval = @project_progresses.select{ |pp| pp.project_stream_id == project_stream.id && pp.month == year_month }.max_by(&:updated_at) %>
                  <div class="evaluation" data-month="<%= year_month %>" data-progress="<%= stream_eval.progress if stream_eval %>">
                    <% img_html_data = {class: 'approved-stamp'} %>
                    <% img_html_data[:hidden] = '' unless stream_eval and stream_eval.approved %>
                    <%= Date::MONTHNAMES[month] %>
                    <button
                      id="stream-eval-button-<%= stream[:id] %>-<%= year_month %>"
                      class="<%= 'empty' unless stream_eval and stream_eval.comment.present? %> stream-eval-button mdl-button mdl-js-button mdl-button--icon mdl-button--primary"
                      data-proj-prog-id="<%= stream_eval ? stream_eval.id : 'new' %>"
                      data-month="<%= year_month %>"
                      <% if stream_eval %>
                        data-progress="<%= stream_eval.progress %>"
                        <%= 'data-approved' if stream_eval.approved %>
                      <% else %>
                        data-proj-stream-id="<%= ProjectStream.find_by(project: @project, ministry_id: stream[:id]).id %>"
                      <% end %>
                    >
                      <i class="material-icons">edit</i>
                      <div hidden class="stream-eval-comment"><%= stream_eval.comment if stream_eval %></div>
                    </button>
                    <div class="mdl-tooltip" data-mdl-for="stream-eval-button-<%= stream[:id] %>-<%= year_month %>">
                      Evaluate Project Stream
                    </div>
                    <%= image_tag 'approved.png', img_html_data %>
                  </div>
                <% end %>
              <% end %>
            </div>
          <% end %>
          <% @language_streams.select{ |ls| ls.ministry_id == stream[:id] }.sort_by{ |ls| @fac_names[ls.facilitator_id].downcase }.each do |lang_stream| %>
            <% sup_feedback = @sup_feedbacks.
                select{ |sf| sf.ministry_id == stream[:id] && sf.state_language_id == lang_stream.state_language_id && sf.facilitator_id == lang_stream.facilitator_id }.
                max_by{ |sf| sf.month }
            %>
            <div class="header-flex-container">
              <div class="project-facilitator-header" data-lang-stream="<%= lang_stream.id %>">
                <span class="facilitator-name"><%= @fac_names[lang_stream.facilitator_id] %></span>
                facilitating for <span class="state-language-name"><%= state_language_names[lang_stream.state_language_id] %></span>
              </div>
              <div class="recent-progress" data-progress="<%= sup_feedback.facilitator_progress if sup_feedback %>">
                <% img_html_data = {class: 'approved-stamp'} %>
                <% img_html_data[:hidden] = '' unless sup_feedback and sup_feedback.report_approved %>
                <%= image_tag('approved.png', img_html_data) %>
                <span class="month"><%= pretty_month(sup_feedback.month) if sup_feedback %></span>
              </div>
            </div>
            <div class="project-facilitator-table hide" data-lang-stream="<%= lang_stream.id %>">
            </div>
          <% end %>
        </section>
      </li>
    <% end %>
  </ul>

  <dialog id="amo-comment" class="mdl-dialog">
    <%= form_tag aggregate_ministry_outputs_update_comment_path, method: :patch, remote: true do %>
      <div class="mdl-dialog__content">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <textarea class="mdl-textfield__input" type="text" rows="5" name="comment" id="variance-reason"></textarea>
          <label class="mdl-textfield__label" for="variance-reason">Reason for variance</label>
        </div>
        <input type="hidden" name="amo_id">
      </div>
      <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button submit">Update</button>
        <button type="button" class="mdl-button close">Close</button>
      </div>
    <% end %>
  </dialog>

  <dialog id="sup-feedback-dialog" class="mdl-dialog">
      <div class="mdl-dialog__content">
        <div class="sup-feedback mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <textarea class="mdl-textfield__input" type="text" rows="5" name="comment" id="sup-feedback-input"></textarea>
          <label class="mdl-textfield__label" for="sup-feedback-input">Supervisor Feedback</label>
        </div>
        <label class="sup-approved mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="sup-approve-fac-report">
          <input type="checkbox" id="sup-approve-fac-report" class="mdl-checkbox__input">
          <span class="mdl-checkbox__label">Approve facilitator's report</span>
        </label>
        <div class="fac-progress mdlext-selectfield mdlext-js-selectfield mdlext-selectfield--floating-label">
          <select id="sup-feedback-dialog-fac-progress" class="mdlext-selectfield__select">
            <option value=""></option>
            <%= options_for_select(SupervisorFeedback.facilitator_progresses.to_a.map{ |p| [t("progress.#{p[0]}", default: p[0]), p[0]] }) %>
          </select>
          <label for="sup-feedback-dialog-fac-progress" class="mdlext-selectfield__label">Evaluate progress in this month</label>
        </div>
      </div>
      <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button close">Done</button>
      </div>
  </dialog>

  <dialog id="stream-eval-dialog" class="mdl-dialog">
    <div class="mdl-dialog__content">
      <div class="comment mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <textarea class="mdl-textfield__input" type="text" rows="5" name="comment" id="stream-comment-input"></textarea>
        <label class="mdl-textfield__label" for="stream-comment-input">Evaluation Comment</label>
      </div>
      <label class="stream-approved mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="stream-approved-input">
        <input type="checkbox" id="stream-approved-input" class="mdl-checkbox__input">
        <span class="mdl-checkbox__label">Approve this month's reports</span>
      </label>
      <div class="progress mdlext-selectfield mdlext-js-selectfield mdlext-selectfield--floating-label">
        <select id="stream-eval-dialog-progress" class="mdlext-selectfield__select">
          <option value=""></option>
          <%= options_for_select(ProjectProgress.progresses.to_a.map{ |p| [t("progress.#{p[0]}", default: p[0]), p[0]] }) %>
        </select>
        <label for="stream-eval-dialog-progress" class="mdlext-selectfield__label">Evaluate progress in this month</label>
      </div>
    </div>
    <div class="mdl-dialog__actions">
      <button type="button" class="mdl-button close">Done</button>
    </div>
  </dialog>

<% else %>
  <p>No facilitators in this project.</p>
<% end %>