<% if @project.facilitators.any? %>
  <% multi_state = @project.geo_states.uniq.count > 1 %>
  <% q_year = {} %>
  <% current_q, q_year[current_q] = quarter_for_month(Date.today.month), FinishLineProgress.get_current_year %>
  <% last_q = (current_q - 2) % 4 + 1 %>
  <% q_year[last_q] = last_q < current_q ? q_year[current_q] : q_year[current_q] - 1 %>
  <% @project.language_streams.order(:state_language_id, :ministry_id).each do |lang_stream| %>
    <div class="project-facilitator-header">
      <span class="facilitator-name"><%= lang_stream.facilitator.name %></span>
      facilitating <span class="stream-name"><%= lang_stream.ministry.name.en %></span>
      for <span class="state-language-name"><%= lang_stream.state_language.name(multi_state) %></span>
    </div>
    <table class="facilitator-results mdl-data-table mdl-js-data-table mdl-shadow--2dp">
      <thead>
        <tr>
          <th rowspan="2" class="mdl-data-table__cell--non-numeric">Deliverable</th>
          <% col_count = 8 %>
          <% [last_q, current_q].each do |quarter| %>
            <% months_in_quarter(quarter).each do |month| %>
              <th colspan="2" class="mdl-data-table__cell--non-numeric"><%= Date::MONTHNAMES[month] %></th>
            <% end %>
            <th colspan="2">Quarterly</th>
            <%# column for annual if we have reached the end of app year %>
            <% if quarter == 4 %>
              <th colspan="2">Annual</th>
              <% col_count += 1 %>
            <% end %>
          <% end %>
        </tr>
        <tr>
          <% col_count.times do %>
            <th>Target</th><th>Actual</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% lang_stream.ministry.deliverables.facilitator.each do |deliverable| %>
          <tr>
            <td class="mdl-data-table__cell--non-numeric">
              <span id="deliverable-name-<%= deliverable.id %>"><%= deliverable.short_form.en %></span>
            </td>
            <% [last_q, current_q].each do |quarter| %>
              <% quarterly_actual = 0 %>
              <% months = months_in_quarter(quarter) %>
              <% months_with_year(months.first, months.last, months.first != Date.today.month).each do |year_month| %>
                <% if @outputs[deliverable.id] and
                    @outputs[deliverable.id][lang_stream.state_language_id] and
                    @outputs[deliverable.id][lang_stream.state_language_id][lang_stream.facilitator_id] and
                    @outputs[deliverable.id][lang_stream.state_language_id][lang_stream.facilitator_id][year_month] %>
                  <% _, target, _ = @outputs[deliverable.id][lang_stream.state_language_id][lang_stream.facilitator_id][year_month][false] || [nil, '?', nil] %>
                  <% actual_id, actual, variance_reason = @outputs[deliverable.id][lang_stream.state_language_id][lang_stream.facilitator_id][year_month][true] || ['', ''] %>
                <% else %>
                  <% target, actual_id, actual, variance_reason = '?', '', '', '' %>
                <% end %>
                <% if actual.present? %>
                  <% quarterly_actual = deliverable.most_recent? ? actual.to_i : quarterly_actual + actual.to_i %>
                <% end %>
                <td class="amo-target"><%= target %></td>
                <td class="amo-actual"
                    data-amo-id="<%= actual_id %>"
                    data-state-language="<%= lang_stream.state_language_id %>"
                    data-deliverable="<%= deliverable.id %>"
                    data-month="<%= year_month %>"
                    data-fac="<%= lang_stream.facilitator_id %>"
                >
                  <% if actual.present? %>
                    <button id="variance-reason-button-<%= actual_id %>" class="amo-info-button mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
                      <i class="material-icons">info</i>
                      <div hidden class="variance-reason"><%= variance_reason %></div>
                    </button>
                    <div class="mdl-tooltip" data-mdl-for="variance-reason-button-<%= actual_id %>">
                      Reason for variance
                    </div>
                  <% end %>
                  <%= form_tag set_amo_actual_in_state_language_path(lang_stream.state_language, deliverable, year_month, lang_stream.facilitator), method: :patch, remote: true do %>
                    <div class="mdl-textfield mdl-js-textfield amo-actual-input">
                      <input class="mdl-textfield__input"
                             type="text"
                             pattern="[0-9]*(\.[0-9]+)?"
                             name="actual"
                             value="<%= actual %>">
                      <span class="mdl-textfield__error">Enter a number</span>
                    </div>
                  <% end %>
                </td>
              <% end %>
              <% q_target = QuarterlyTarget.find_by(state_language: lang_stream.state_language, deliverable: deliverable, quarter: "#{q_year[quarter]}-#{quarter}") %>
              <td class="quarterly-target"><%= q_target ? q_target.value : '?' %></td>
              <td class="quarterly-actual" data-quarter="<%= quarter %>"><%= quarterly_actual %></td>
              <%# column for annual if we have reached the end of app year %>
              <% if quarter == 4 %>
                <td class="annual-target"><%= calculate_annual_target(year_targets(lang_stream.state_language, deliverable, q_year[quarter]), deliverable) %></td>
                <td class="annual-actual" data-year="<%= q_year[quarter] %>"><%= calculate_fac_annual_actual(lang_stream.state_language, deliverable, q_year[quarter]) %></td>
              <% end %>
            <% end %>
          </tr>
          <div class="mdl-tooltip mdl-tooltip--large" data-mdl-for="deliverable-name-<%= deliverable.id %>">
            <%= deliverable.result_form.en %>
          </div>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <dialog id="amo-comment" class="mdl-dialog">
    <%= form_tag aggregate_ministry_outputs_update_comment_path, method: :patch, remote: true do %>
      <div class="mdl-dialog__content">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <textarea class="mdl-textfield__input" type="text" rows="5" name="comment" id="variance-reason"></textarea>
          <label class="mdl-textfield__label" for="variance-reason">Reason for variance</label>
        </div>
        <input type="hidden" name="amo_id">
      </div>
      <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button submit">Update</button>
        <button type="button" class="mdl-button close">Close</button>
      </div>
    <% end %>
  </dialog>

<% else %>
  <p>No facilitators in this project.</p>
<% end %>