<%# embed user data into the page so that autocomplete works for user fields %>
<%# this is sensitive data, so this page should only be rendered for trusted users %>
<script type="application/json" id="user-data">
[
  <% users = User.approved.pluck(:id, :name) %>
  <% users.each_with_index do |user, index| %>
  {"id":<%= user[0] %>,"name":"<%= user[1] %>"}<%= ',' unless index == users.size - 1 %>
  <% end %>
]
</script>

<%= form_for @project, remote: true do |f| %>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label submit-on-change">
    <%= f.text_field :name, class: 'mdl-textfield__input' %>
    <%= f.label :name, 'Project name', class: 'mdl-textfield__label' %>
  </div>
<% end %>
<%= link_to @project, remote: true, class: 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored' do %>
  Show project <i class="material-icons">visibility</i>
<% end %>
<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
  <div class="mdl-tabs__tab-bar">
    <a href="#protocols-panel" class="mdl-tabs__tab is-active">Protocols</a>
    <a href="#languages-streams-panel" class="mdl-tabs__tab">Languages and Streams</a>
    <a href="#responsible-panel" class="mdl-tabs__tab">Who is Responsible</a>
    <a href="#targets-language-panel" class="mdl-tabs__tab">Set Targets by Language</a>
    <a href="#targets-stream-panel" class="mdl-tabs__tab">Set Targets by Stream</a>
  </div>

  <div class="mdl-tabs__panel is-active" id="protocols-panel">
  </div>
  <div class="mdl-tabs__panel" id="languages-streams-panel">
    <div class="grid-container">
      <div id="project-states">
        <h4>States</h4>
        <ul class="mdl-list">
          <% GeoState.order(:name).each do |state| %>
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content"><%= state.name %></span>
            <span class="mdl-list__item-secondary-action">
              <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="state-<%= state.id.to_s %>" >
                  <input
                    type="checkbox"
                    id="state-<%= state.id.to_s %>"
                    value="<%= state.id %>"
                    class="filter-trigger mdl-checkbox__input"
                    data-filter-trigger-label="state"
                    <%= (@project.geo_states.include? state) ? 'checked' : '' %>
                    />
              </label>
            </span>
          </li>
          <% end %>
        </ul>
      </div>
      <div id="project-languages">
        <h4>Languages</h4>
        <ul class="mdl-list">
          <%= render partial: 'project_language',
                     collection: dashboard_state_languages(@dashboard_type),
                     locals: { show_state: @dashboard_type != :state }
          %>
        </ul>
      </div>
      <div id="project-streams">
        <h4>Streams</h4>
        <ul class="mdl-list">
          <%= render partial: 'project_stream',
                     collection: Ministry.all
          %>
        </ul>
      </div>

    </div>
  </div>
  <div class="mdl-tabs__panel" id="responsible-panel">
    <h4>Facilitators</h4>
    <table class="mdl-data-table mdl-js-data-table">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">Language</th>
          <% @project.ministries.each do |ministry| %>
            <th class="mdl-data-table__cell--non-numeric"><%= ministry.name %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @project.state_languages.each do |state_language| %>
          <tr>
            <td class="mdl-data-table__cell--non-numeric">
              <%= state_language.language_name %>
              <% if @project.geo_states.count > 1 %>
                (in <%= state_language.state_name %>)
              <% end %>
            </td>
            <% @project.ministries.each do |ministry| %>
              <td>
                <ul class="mdl-list">
                  <% LanguageStream.where(ministry: ministry, state_language: state_language).each do |ls| %>
                    <li class="mdl-list__item">
                      <span class="mdl-list__item-primary-content">
                        <%= ls.facilitator.name %>
                      </span>
                    </li>
                  <% end %>
                </ul>
                <div class="add-facilitator-controls" data-ministry="<%= ministry.id %>" data-state-language="<%= state_language.id %>">
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input add-facilitator-input" type="text" id="add-facilitator-input-<%= state_language.id %>-<%= ministry.id %>">
                    <label class="mdl-textfield__label" for="add-facilitator-input-<%= state_language.id %>-<%= ministry.id %>">Add facilitator</label>
                  </div>
                  <div class="add-facilitator-choices" id="add-facilitator-choices-<%= state_language.id %>-<%= ministry.id %>"></div>
                </div>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="mdl-tabs__panel" id="targets-language-panel">
  </div>
  <div class="mdl-tabs__panel" id="targets-stream-panel">
  </div>
</div>