<%= form_for @project, remote: true do |f| %>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label submit-on-change">
    <%= f.text_field :name, class: 'mdl-textfield__input' %>
    <%= f.label :name, 'Project name', class: 'mdl-textfield__label' %>
  </div>
<% end %>
<%= link_to @project, remote: true, class: 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored' do %>
  Show project <i class="material-icons">visibility</i>
<% end %>
<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
  <div class="mdl-tabs__tab-bar">
    <a href="#protocols-panel" class="mdl-tabs__tab is-active">Protocols</a>
    <a href="#languages-streams-panel" class="mdl-tabs__tab">Languages and Streams</a>
    <a href="#responsible-panel" class="mdl-tabs__tab">Who is Responsible</a>
    <a href="#targets-language-panel" class="mdl-tabs__tab">Set Targets by Language</a>
    <a href="#targets-stream-panel" class="mdl-tabs__tab">Set Targets by Stream</a>
  </div>

  <div class="mdl-tabs__panel is-active" id="protocols-panel">
  </div>
  <div class="mdl-tabs__panel" id="languages-streams-panel">
    <% languages = dashboard_languages(@dashboard_type) %>
    <% if languages.size <= 20 %>
    <% else %>
      <ul id="project-<%= @project.id %>-language-list" class="mdl-list">
        <% @project.languages.each do |project_language| %>
          <li class="mdl-list__item" data-language-id="<%= project_language.id %>">
            <span class="mdl-list__item-primary-content"><%= project_language.name %></span>
          </li>
        <% end %>
      </ul>
      <div>
        <%= text_field_tag "project-#{@project.id}-add-language-button", '', { class: 'select-language', 'data-project-id' => @project.id }%>
        <%= label_tag "project-#{@project.id}-add-language-button", 'Add a language' %>
        <ul class="add-language-possibilities">
          <% languages.each do |language| %>
            <li id="project-<%= @project.id %>-add-language-<%= language.id %>" data-lang-name="<%= language.name.downcase %> <%= language.iso %>" class="hide">
              <%= link_to add_language_to_project_path(@project, language), method: :patch, remote: true, class: 'mdl-button' do %>
                <%= language.name %> (<%= language.iso %>)
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  <div class="mdl-tabs__panel" id="responsible-panel">
  </div>
  <div class="mdl-tabs__panel" id="targets-language-panel">
  </div>
  <div class="mdl-tabs__panel" id="targets-stream-panel">
  </div>
</div>