<% project_streams = @project.project_streams.includes(:ministry, :supervisor) %>
<h4>Supervisors</h4>
<table class="mdl-data-table mdl-js-data-table supervisors">
  <thead>
  <tr>
    <% project_streams.each do |ps| %>
      <th class="mdl-data-table__cell--non-numeric"><%= ps.ministry.name %></th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <tr>
    <% project_streams.each do |ps| %>
      <td class="mdl-data-table__cell--non-numeric">
        <span class="supervisor-name project-stream-<%= ps.id %>-supervisor-name"><%= ps.supervisor.present? ? ps.supervisor.name : '<em>Unassigned</em>'.html_safe %></span>
        <div class="change-supervisor-controls" data-ps-id="<%= ps.id %>">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input change-supervisor-input" type="text" id="change-supervisor-input-<%= ps.id %>">
            <label class="mdl-textfield__label" for="change-supervisor-input-<%= ps.id %>">Change supervisor</label>
          </div>
          <div class="change-supervisor-choices" id="change-supervisor-choices-<%= ps.id %>"></div>
        </div>
      </td>
    <% end %>
  </tr>
  </tbody>
</table>

<h4>Facilitators</h4>
<table class="mdl-data-table mdl-js-data-table">
  <thead>
  <tr>
    <th class="mdl-data-table__cell--non-numeric">Language</th>
    <% project_streams.each do |ps| %>
      <th class="mdl-data-table__cell--non-numeric"><%= ps.ministry.name %></th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% @project.state_languages.each do |state_language| %>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">
        <%= state_language.name(@project.geo_states.count > 1) %>
      </td>
      <% project_streams.each do |ps| %>
        <td data-ministry="<%= ps.ministry.id %>" data-state-language="<%= state_language.id %>" >
          <ul class="mdl-list facilitator-list">
            <%= render partial: 'project_facilitator',
                       collection: @project.language_streams.where(ministry: ps.ministry, state_language: state_language),
                       locals: { stream_id: ps.ministry.id, state_language_id: state_language.id }
            %>
          </ul>
          <div class="add-facilitator-controls" data-ministry="<%= ps.ministry.id %>" data-state-language="<%= state_language.id %>">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input add-facilitator-input" type="text" id="add-facilitator-input-<%= state_language.id %>-<%= ps.ministry.id %>">
              <label class="mdl-textfield__label" for="add-facilitator-input-<%= state_language.id %>-<%= ps.ministry.id %>">Add facilitator</label>
            </div>
            <div class="add-facilitator-choices" id="add-facilitator-choices-<%= state_language.id %>-<%= ps.ministry.id %>"></div>
          </div>
        </td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>