<div id="targets-by-language-content-head">
  <h4><%= state_language.name(true) %></h4>
  <button id="copy-from-template-button" class="mdl-button mdl-js-button mdlext-js-menu-button" aria-controls="copy-from-template-menu">
    <span>Fill from a template</span>
    <i class="material-icons">more_vert</i>
  </button>
  <button id="copy-from-language-button" class="mdl-button mdl-js-button mdlext-js-menu-button" aria-controls="copy-from-language-menu">
    <span>Fill from another language</span>
    <i class="material-icons">more_vert</i>
  </button>
</div>
<ul id="copy-from-template-menu" class="mdlext-menu">
</ul>
<ul id="copy-from-language-menu" class="mdlext-menu">
  <%= render partial: 'projects/language_copy_menu_item',
             collection: StateLanguage.where.not(id: state_language.id).joins(:project_languages),
             locals: { target_language: state_language }
  %>
</ul>

<% years = (0..2).map{ |y| FinishLineProgress.get_current_year + y } %>
<% month_start = Date::ABBR_MONTHNAMES[(Rails.configuration.year_cutoff_month)] %>
<% month_end = Date::ABBR_MONTHNAMES[(Rails.configuration.year_cutoff_month - 1)] %>
<% hidden_deliverables = %w(
    CH03 CH04 CH05 CH06 CH12 CH13 CH14
    LT05 LT12
    ST02 ST03 ST04 ST12
    ES02 ES03 ES13
    SC04 SC06
    ET02
    TR05 TR06 TR08 TR12
) %>

<% project.ministries.each do |ministry| %>
  <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric" rowspan="2"><%= ministry.old_name %></th>
        <th class="mdl-data-table__cell--non-numeric" rowspan="2">Reported by</th>
        <th class="mdl-data-table__cell--non-numeric" rowspan="2">Calculated by</th>
        <% years.each do |year| %>
          <th class="mdl-data-table__cell--non-numeric" colspan="5"><%= "#{month_start} #{year - 1} to #{month_end} #{year}" %></th>
        <% end %>
      </tr>
      <tr>
        <% years.each do %>
          <th>Target</th>
          <% (1..4).each do |quarter| %>
            <th>Q<%= quarter %></th>
          <% end %>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% ministry.deliverables.order(:number).select{ |d| hidden_deliverables.exclude? d.translation_key }.each do |deliverable| %>
        <tr>
          <td class="mdl-data-table__cell--non-numeric"><%= deliverable.old_short_form %></td>
          <td class="mdl-data-table__cell--non-numeric"><%= deliverable.reporter.humanize %></td>
          <td class="mdl-data-table__cell--non-numeric"><%= deliverable.calculation_method.humanize %></td>
          <% years.each do |year| %>
            <% targets = year_targets(state_language, deliverable, year) %>
            <td class="annual-target" data-year="<%= year %>"><%= calculate_annual_target(targets, deliverable) %></td>
            <% values = targets.pluck(:quarter, :value) %>
            <% (1..4).each do |quarter| %>
              <% match = values.select{ |q, _| q == "#{year}-#{quarter}" } %>
              <td class="quarterly-target"
                  data-state-language="<%= state_language.id %>"
                  data-deliverable="<%= deliverable.id %>"
                  data-quarter="<%= "#{year}-#{quarter}" %>"
              >
                <%= form_tag set_target_in_state_language_path(state_language, deliverable, "#{year}-#{quarter}"), method: :patch, remote: true do %>
                  <div class="mdl-textfield mdl-js-textfield quarterly-target-input">
                    <input class="mdl-textfield__input"
                           type="text"
                           pattern="[0-9]*(\.[0-9]+)?"
                           name="target"
                           value="<%= match.first[1] if match.any? %>">
                    <span class="mdl-textfield__error">Enter a number</span>
                  </div>
                <% end %>
              </td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
