
<% done = TranslationProgress.where(language_id: language_id, deliverable_id: deliverable_id).pluck(:chapter_id, :month, :id).map{ |x| [x[0], { month: x[1] || 'none', id: x[2] }] }.to_h %>

<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">

  <div class="mdl-tabs__tab-bar">
    <a href="#ot-panel" class="mdl-tabs__tab is-active">Old Testament</a>
    <a href="#nt-panel" class="mdl-tabs__tab">New Testament</a>
  </div>

  <% [false, true].each do |nt| %>
    <div class="mdl-tabs__panel is-active" id="<%= nt ? 'nt' : 'ot' %>-panel">
      <ul class="mdlext-accordion mdlext-js-accordion mdlext-accordion--vertical mdlext-js-ripple-effect"
          role="tablist">
        <% Book.where(nt: nt).each do |book| %>
          <li class="mdlext-accordion__panel" role="presentation">
            <header class="mdlext-accordion__tab" role="tab">
              <span class="mdlext-accordion__tab__caption"><%= book.name %></span>
            </header>
            <section data-book="<%= book.id %>" class="mdlext-accordion__tabpanel" role="tabpanel" aria-hidden="true">
              <% book.chapters.order(:number).each do |chapter| %>
                <label id="chapter-label-<%= chapter.id %>"
                       class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect"
                       for="chapter-<%= chapter.id %>"
                       <% if done[chapter.id] then %> data-month="<%= done[chapter.id][:month] %>" <% end %>
                >
                  <input type="checkbox" id="chapter-<%= chapter.id %>" class="mdl-checkbox__input"
                         data-chapter="<%= chapter.id %>"
                         data-language="<%= language_id %>"
                         data-deliverable="<%= deliverable_id %>"
                         <% if done[chapter.id] %>
                          checked
                          data-id="<%= done[chapter.id][:id] %>"
                         <% end %>
                  >
                  <span class="mdl-checkbox__label"><%= chapter.number %></span>
                </label>
                <% if done[chapter.id] %>
                  <div class="mdl-tooltip" data-mdl-for="chapter-label-<%= chapter.id %>">
                    <%= done[chapter.id][:month] == 'none' ? 'Undated' : Date.strptime(done[chapter.id][:month], '%Y-%m').strftime('%B %Y') %>
                  </div>
                <% end %>
              <% end %>
            </section>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

</div>