<% language = language_stream.state_language.language %>
<div class="translation-progress mdl-shadow--2dp" data-language="<%= language.id %>" data-lang-stream="<%= language_stream.id %>">

  <div class="header">Translation Progress for <%= language.name %></div>

  <div class="controls">
    <div class="mdlext-selectfield mdlext-js-selectfield mdlext-selectfield--floating-label">
      <select id="translation-progress-month-select-<%= language_stream.id %>" class="mdlext-selectfield__select">
        <%= (0..5).each do |m| %>
          <option value="<%= m.months.ago.strftime('%Y-%m') %>"><%= m.months.ago.strftime('%B %Y') %></option>
        <% end %>
        <option value="none">Undated</option>
      </select>
      <label for="translation-progress-month-select-<%= language_stream.id %>" class="mdlext-selectfield__label">Month</label>
    </div>
    <div class="mdlext-selectfield mdlext-js-selectfield mdlext-selectfield--floating-label">
      <select id="translation-progress-method-select-<%= language_stream.id %>" class="mdlext-selectfield__select">
        <% TranslationProgress.translation_methods.keys.each do |trans_method| %>
          <option value="<%= trans_method %>"><%= trans_method.humanize %></option>
        <% end %>
      </select>
      <label for="translation-progress-method-select-<%= language_stream.id %>" class="mdlext-selectfield__label">Method</label>
    </div>
    <div class="mdlext-selectfield mdlext-js-selectfield mdlext-selectfield--floating-label">
      <select id="translation-progress-tool-select-<%= language_stream.id %>" class="mdlext-selectfield__select">
        <% TranslationProgress.translation_tools.keys.each do |trans_tool| %>
          <option value="<%= trans_tool %>"><%= trans_tool.humanize %></option>
        <% end %>
      </select>
      <label for="translation-progress-tool-select-<%= language_stream.id %>" class="mdlext-selectfield__label">Tool</label>
    </div>
  </div>

  <div class="counters">
    <div><strong>Verse count</strong></div>
    <table>
      <tr><th></th><th>OT</th><th>NT</th></tr>
      <tr><td>Done in total:</td><td class="total-verse-count-ot"></td><td class="total-verse-count-nt"></td></tr>
      <tr><td>Done this month:</td><td class="month-verse-count-ot"></td><td class="month-verse-count-nt"></td></tr>
      <tr><td>Remaining:</td><td class="remaining-verse-count-ot"><td class="remaining-verse-count-nt"></td></tr>
    </table>
  </div>

  <div class="measurables">
    <% Deliverable.translation_progress.each do |deliverable| %>
      <%= link_to language_translation_progresses_path(language, deliverable, language_stream), class: 'mdl-button mdl-js-button mdl-button--raised', data: { deliverable: deliverable.id }, remote: true do %>
        <%= deliverable.short_form.en %>
        <i class="material-icons">chevron_right</i>
      <% end %>
    <% end %>
  </div>

  <div class="books">
  </div>

</div>