<% provide(:title, 'Strategic Zones') %>

<% provide(:context_title, 'Choose a Strategic Zone') %>

<!--<ul class="zone-list mdl-list">-->
  <!--<li class="mdl-list__item">-->
    <!--<%= link_to nation_path do %>-->
      <!--<span class="mdl-list__item-primary-content">All India</span>-->
    <!--<% end %>-->
  <!--</li>-->
<!--</ul>-->

<%= image_tag 'LCI_zonal_map.png', alt: 'Strategic Zones', usemap: '#zone-map', width: 1000 %>
<map name="zone-map" id="zone-map">
  <% south_zone = Zone.find_by_name 'South' %>
  <% if logged_in_user.national? or logged_in_user.zones.include? south_zone %>
    <area alt="South Zone" href="<%= zone_path(south_zone) %>" shape="poly" coords="478,812,612,811,613,831,845,832,845,870,477,871">
    <area alt="South Zone" href="<%= zone_path(south_zone) %>" shape="poly" coords="751,799,752,820,844,819,890,907,906,906,877,823,903,819,900,798,870,795,885,700,855,698">
    <area alt="South Zone" href="<%= zone_path(south_zone) %>" shape="poly" coords="406,869,376,844,367,814,321,812,320,795,245,793,244,768,349,772,335,754,304,669,305,642,315,627,310,618,331,604,350,602,350,590,371,591,372,582,384,580,400,561,408,563,420,546,414,543,419,533,427,535,433,516,476,526,479,549,490,550,513,578,524,578,549,571,556,557,563,561,571,560,582,543,589,538,605,549,621,539,608,565,475,802,464,834">
  <% end %>
  <% ct_zone = Zone.find_by_name 'Central Tribal' %>
  <% if logged_in_user.national? or logged_in_user.zones.include? ct_zone %>
    <area alt="Central Tribal Zone" href="<%= zone_path(ct_zone) %>" shape="poly" coords="303,642,294,641,262,617,56,616,57,553,267,550,263,508,283,505,285,494,298,491,296,477,311,467,299,465,296,457,305,454,310,441,315,427,321,418,330,397,326,372,354,371,351,400,371,386,390,389,403,358,403,348,385,350,379,341,429,309,454,321,429,350,428,365,431,384,446,388,452,378,440,357,476,362,488,352,489,365,517,365,521,359,553,376,562,374,564,394,576,396,580,390,608,424,588,446,576,476,560,477,553,509,537,508,535,519,546,543,522,575,512,576,508,563,491,549,482,547,482,524,431,514,415,531,411,541,414,547,407,558,398,557,371,578,350,587,346,599,330,602,310,612">
  <% end %>
  <% west_zone = Zone.find_by_name 'West' %>
  <% if logged_in_user.national? or logged_in_user.zones.include? west_zone %>
    <area alt="West Zone" href="<%= zone_path(west_zone) %>" shape="poly" coords="265,505,257,445,245,478,205,491,146,443,126,398,197,373,163,307,185,272,1,270,2,205,216,209,230,274,280,213,298,211,317,217,320,232,343,237,363,267,363,277,374,270,387,269,390,283,400,279,404,308,419,308,378,335,376,353,394,356,387,368,385,380,368,382,359,388,359,372,344,362,330,358,319,376,326,396,300,437,302,450,295,457,296,472,286,474,293,486,285,490,281,502">
  <% end %>
  <% nw_zone = Zone.find_by_name 'North West' %>
  <% if logged_in_user.national? or logged_in_user.zones.include? nw_zone %>
      <area alt="North West Zone" href="<%= zone_path(nw_zone) %>" shape="poly" coords="298,208,320,154,284,118,78,118,75,56,295,60,273,42,253,41,271,12,323,1,355,3,407,47,460,33,496,46,465,96,471,127,472,141,441,145,513,203,487,249,465,248,449,230,429,214,421,218,415,215,421,204,410,199,391,219,403,271,394,278,392,266,369,268,345,236,325,228,320,214">
  <% end %>
  <% hindi_zone = Zone.find_by_name 'Hindi' %>
  <% if logged_in_user.national? or logged_in_user.zones.include? hindi_zone %>
      <area alt="Hindi Zone" href="<%= zone_path(hindi_zone) %>" shape="poly" coords="524,201,525,260,492,251,462,251,429,218,417,221,412,207,405,210,398,228,406,273,405,284,413,302,449,310,459,323,444,341,432,351,433,379,444,382,441,368,436,352,449,346,453,356,488,349,498,359,513,361,522,357,561,370,567,391,576,392,585,375,601,372,624,377,653,368,667,367,672,377,693,360,706,348,714,350,718,341,712,334,728,321,719,317,619,288,618,265,744,263,742,220,655,217,651,198">
  <% end %>
  <% east_zone = Zone.find_by_name 'East' %>
  <% if logged_in_user.national? or logged_in_user.zones.include? east_zone %>
      <area alt="East Zone" href="<%= zone_path(east_zone) %>" shape="poly" coords="914,548,690,550,685,504,624,538,618,536,606,546,591,536,584,535,570,556,555,552,529,575,549,546,539,515,564,515,557,508,561,481,578,480,592,449,615,424,602,404,584,390,588,379,605,379,617,386,623,380,632,384,656,372,673,382,691,376,708,356,723,348,723,339,721,332,731,322,743,347,753,354,729,370,746,385,753,412,802,414,801,427,755,429,754,485,811,486,812,499,914,503">
  <% end %>
  <% ne_zone = Zone.find_by_name 'North East' %>
  <% if logged_in_user.national? or logged_in_user.zones.include? ne_zone %>
      <area alt="North East Zone" href="<%= zone_path(ne_zone) %>" shape="poly" coords="778,161,781,232,898,234,869,253,819,263,822,302,769,301,746,267,694,267,690,284,659,287,678,302,723,315,733,319,759,337,762,364,843,367,789,398,789,411,812,413,824,427,843,409,854,460,879,457,881,431,916,429,912,395,934,378,934,344,982,343,982,324,943,322,980,299,997,302,999,263,988,232,987,179,945,179,945,163">
  <% end %>
</map>


