<% provide(:title, 'National Dashboard') %>
<% provide(:context_title, 'All India') %>
<% provide(:super_container_class, 'compact') %>

<!-- breadcrumbs will go here -->
<!-- India | previously navigated Zone | previously navigated state | previously navigated language -->
<ul class="breadcrumbs">
  <li><%= link_to 'India', nation_path %></li>
</ul>

<% @tab ||= 'progress' %>
<div class="mdl-tabs mdl-js-tabs dashboard-tabs">
  <div class="mdl-tabs__tab-bar">
    <a href="#progress-tab" class="mdl-tabs__tab <%= 'is-active' if @tab == 'progress' %>">Progress</a>
    <a href="#zones-tab" class="mdl-tabs__tab <%= 'is-active' if @tab == 'zones' %>">Zones</a>
    <a href="#states-tab" class="mdl-tabs__tab <%= 'is-active' if @tab == 'states' %>">States</a>
    <a href="#languages-tab" class="mdl-tabs__tab <%= 'is-active' if @tab == 'languages' %>">Languages</a>
    <% if logged_in_user.can_future_plan? %>
      <a href="#board-tab" class="mdl-tabs__tab <%= 'is-active' if @tab == 'board' %>">LCI Board Report</a>
    <% end %>
  </div>
  <div class="mdl-tabs__panel <%= 'is-active' if @tab == 'progress' %>" id="progress-tab">
    <div class="grid-layout">
      <div id="flm-table">
        <%= link_to 'get flm table', load_national_flm_summary_path, remote: true, class: 'content-fetch-trigger' %>
        <div class="mdl-spinner mdl-js-spinner"></div>
      </div>
      <div id="flt-table">
        <%= link_to 'get flt table', load_national_flt_summary_path, remote: true, class: 'content-fetch-trigger' %>
        <div class="mdl-spinner mdl-js-spinner"></div>
      </div>
    </div>
  </div>
  <div class="mdl-tabs__panel <%= 'is-active' if @tab == 'zones' %>" id="zones-tab">
    <ul class="zone-list mdl-list">
      <% Zone.find_each do |zone| %>
          <li class="mdl-list__item">
            <%= link_to zone do %>
                <span class="mdl-list__item-primary-content"><%= zone.name %></span>
            <% end %>
          </li>
      <% end %>
    </ul>
  </div>
  <div class="mdl-tabs__panel <%= 'is-active' if @tab == 'states' %>" id="states-tab">
    <ul class="state-list mdl-list">
      <% GeoState.find_each do |state| %>
          <li class="mdl-list__item">
            <%= link_to state do %>
                <span class="mdl-list__item-primary-content"><%= state.name %></span>
            <% end %>
          </li>
      <% end %>
    </ul>
  </div>

  <div class="mdl-tabs__panel <%= 'is-active' if @tab == 'languages' %>" id="languages-tab">

    <div id="language-flm-table">
      <%= link_to 'get language flm table', load_national_language_flm_table_path(filter: @language_flm_filters), remote: true, class: 'content-fetch-trigger' %>
      <div class="mdl-spinner mdl-js-spinner"></div>
    </div>
  </div>

  <% if logged_in_user.can_future_plan? %>
    <div class="mdl-tabs__panel <%= 'is-active' if @tab == 'board' %>" id="board-tab">
      <div id="board-report-container">
        <%= link_to 'get CLI board report', load_national_board_report_path, remote: true, class: 'content-fetch-trigger' %>
        <div class="mdl-spinner mdl-js-spinner"></div>
      </div>
    </div>
  <% end %>
</div>
