<% provide(:title, "#{@zone.name} Zone Dashboard") %>
<% provide(:context_title, "#{@zone.name} Zone") %>
<% provide(:super_container_class, 'compact') %>

<ul class="breadcrumbs">
  <li><%=	 link_to 'India', nation_path %></li>
  <li><%= link_to "#{@zone.name} Zone", zone_path(@zone) %></li>
</ul>

<% @tab ||= 'fls' %>
<script>console.log('<%= @tab %>');</script>
<div class="mdl-tabs mdl-js-tabs dashboard-tabs">
  <div class="mdl-tabs__tab-bar">
    <a href="#progress-tab" class="mdl-tabs__tab <%= 'is-active' if @tab == 'fls' %>">Finish Line Status</a>
    <a href="#states-tab" class="mdl-tabs__tab <%= 'is-active' if @tab == 'states' %>">States</a>
    <a href="#languages-tab" class="mdl-tabs__tab <%= 'is-active' if @tab == 'languages' %>">Languages</a>
    <a href="#organisations-tab" class="mdl-tabs__tab <%= 'is-active' if @tab == 'organisations' %>">Agencies</a>
    <a href="#reports-tab" class="mdl-tabs__tab <%= 'is-active' if @tab == 'reports' %>" id="reports-tab-tab">Impact Stories</a>
    <% if logged_in_user.can_future_plan? %>
      <a href="#board-tab" class="mdl-tabs__tab <%= 'is-active' if @tab == 'board' %>">LCI Board Report</a>
    <% end %>
  </div>

  <div class="mdl-tabs__panel <%= 'is-active' if @tab == 'fls' %>" id="progress-tab">
    <div class="grid-layout">
      <div id="flm-table">
        <%= link_to 'get flm table', load_flm_summary_zone_path(@zone), remote: true, class: 'content-fetch-trigger' %>
        <div class="mdl-spinner mdl-js-spinner"></div>
      </div>
      <div id="flt-table">
        <%= link_to 'get flt table', load_flt_summary_zone_path(@zone), remote: true, class: 'content-fetch-trigger' %>
        <div class="mdl-spinner mdl-js-spinner"></div>
      </div>
    </div>
  </div>

  <div class="mdl-tabs__panel <%= 'is-active' if @tab == 'states' %>" id="states-tab">
    <ul class="state-list mdl-list">
      <% @geo_states.each do |state| %>
          <li class="mdl-list__item">
            <%= link_to state do %>
                <span class="mdl-list__item-primary-content"><%= state.name %></span>
            <% end %>
          </li>
      <% end %>
    </ul>
  </div>

  <div class="mdl-tabs__panel <%= 'is-active' if @tab == 'languages' %>" id="languages-tab">

    <div id="language-flm-table">
      <%= link_to 'get language flm table', load_language_flm_table_zone_path(@zone, filter: @language_flm_filters), remote: true, class: 'content-fetch-trigger' %>
      <div class="mdl-spinner mdl-js-spinner"></div>
    </div>

  </div>

  <div class="mdl-tabs__panel <%= 'is-active' if @tab == 'organisations' %>" id="organisations-tab">
    <h4>Serving in development</h4>
    <ul class="mdl-list">
      <%= render partial: 'organisations/organisation', collection: @zone.engaged_organisations.uniq , locals: {type: :engaged, zone_id: @zone.id} %>
    </ul>
    <h4>Serving in translation</h4>
    <ul class="mdl-list">
      <%= render partial: 'organisations/organisation', collection: @zone.translating_organisations.uniq, locals: {type: :translation, zone_id: @zone.id} %>
    </ul>
  </div>

  <div class="mdl-tabs__panel <%= 'is-active' if @tab == 'reports' %>" id="reports-tab">
    <%= form_tag({controller: 'zones', action: 'reports'}, method: 'get', remote: true, id: 'report-view-filters') do %>
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--4-col">
            <%= render 'reports/filter_since' %>
            <%= render 'reports/filter_until' %>
          </div>
          <div class="mdl-cell mdl-cell--4-col">
            <%= render 'reports/filter_archived' %>
            <%= render 'reports/filter_significant' %>
            <% states = logged_in_user.national? ? @zone.geo_states : @zone.geo_states.where(id: logged_in_user.geo_states) %>
            <%= render partial: 'reports/filter_states', locals: {states: states.order(:name)} %>
            <%= render partial: 'reports/filter_languages', locals: {languages: @zone.languages.order(:name).uniq} %>
            <%= render partial: 'reports/filter_progress_markers' %>
            <%= render partial: 'reports/filter_projects' %>
          </div>
          <div class="mdl-cell mdl-cell--4-col">
            <%= render 'reports/filter_type' %>
          </div>
        </div>
    <% end %>

    <script>
        $('.date-picker').bootstrapMaterialDatePicker({ weekStart : 0, time: false, format: 'DD MMMM, Y' });
    </script>

    <div class="reports-count-container">
      Showing <%= "#{@reports.count} #{'report'.pluralize(@reports.count)}" if @reports and @reports.any? %>
    </div>

    <div id="report-filter-spinner" class="mdl-spinner mdl-js-spinner"></div>

    <div class="reports-container mdl-grid">
    </div>

    <%= link_to new_report_path, id: 'show-report-fab', class: 'new-report-fab mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored' do %>
        <i class="material-icons">add</i>
    <% end %>
    <div class="mdl-tooltip" data-mdl-for="show-report-fab">
      Write a new report
    </div>

  </div>

  <% if logged_in_user.can_future_plan? %>
    <div class="mdl-tabs__panel <%= 'is-active' if @tab == 'board' %>" id="board-tab">
      <div id="board-report-container">
        <%= link_to 'get CLI board report', load_board_report_zone_path(@zone), remote: true, class: 'content-fetch-trigger' %>
        <div class="mdl-spinner mdl-js-spinner"></div>
      </div>
    </div>
  <% end %>

</div>