<% provide(:title, "#{@zone.name} Zone Dashboard") %>

<% provide(:context_title, "#{@zone.name} Zone") %>

<!-- breadcrumbs will go here -->
<!-- India | Current Zone | previously navigated state | previously navigated language -->
<ul class="breadcrumbs">
  <li><%=	 link_to 'India', nation_path %></li>
  <li><%= link_to "#{@zone.name} Zone", zone_path(@zone) %></li>
</ul>

<% @tab ||= 'fls' %>
<div class="mdl-tabs mdl-js-tabs">
  <div class="mdl-tabs__tab-bar">
    <a href="#progress-tab" class="mdl-tabs__tab <%= 'is-active' if @tab == 'fls' %>">Finish Line Status</a>
    <a href="#states-tab" class="mdl-tabs__tab <%= 'is-active' if @tab == 'states' %>">States</a>
    <a href="#languages-tab" class="mdl-tabs__tab <%= 'is-active' if @tab == 'languages' %>">Languages</a>
    <a href="#organisations-tab" class="mdl-tabs__tab <%= 'is-active' if @tab == 'organisations' %>">Organisations</a>
    <a href="#reports-tab" class="mdl-tabs__tab" id="reports-tab-tab <%= 'is-active' if @tab == 'reports' %>">Impact Stories</a>
  </div>

  <div class="mdl-tabs__panel <%= 'is-active' if @tab == 'fls' %>" id="progress-tab">
    <%= render 'languages/finish_line_summary', languages: @zone.languages.includes(:finish_line_progresses).uniq %>
  </div>

  <div class="mdl-tabs__panel <%= 'is-active' if @tab == 'states' %>" id="states-tab">
    <ul class="state-list mdl-list">
      <% @geo_states.each do |state| %>
          <li class="mdl-list__item">
            <%= link_to state do %>
                <span class="mdl-list__item-primary-content"><%= state.name %></span>
            <% end %>
          </li>
      <% end %>
    </ul>
  </div>

  <div class="mdl-tabs__panel <%= 'is-active' if @tab == 'languages' %>" id="languages-tab">

    <%= render partial: 'languages/flm_table' %>

  </div>

  <div class="mdl-tabs__panel <%= 'is-active' if @tab == 'organisations' %>" id="organisations-tab">
    <h3>Working here</h3>
    <ul class="mdl-list">
      <%= render partial: 'organisations/organisation', collection: @zone.engaged_organisations.uniq %>
    </ul>
    <h3>Translating here</h3>
    <ul class="mdl-list">
      <%= render partial: 'organisations/organisation', collection: @zone.translating_organisations.uniq %>
    </ul>
  </div>

  <div class="mdl-tabs__panel <%= 'is-active' if @tab == 'reports' %>" id="reports-tab">
    <%= form_tag({controller: 'zones', action: 'reports'}, method: 'get', remote: true, id: 'report-view-filters') do %>
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--4-col">
            <%= render 'reports/filter_since' %>
            <%= render 'reports/filter_until' %>
          </div>
          <div class="mdl-cell mdl-cell--4-col">
            <%= render 'reports/filter_archived' %>
            <%= render 'reports/filter_significant' %>
            <% states = logged_in_user.national? ? @zone.geo_states : @zone.geo_states.where(id: logged_in_user.geo_states) %>
            <%= render partial: 'reports/filter_states', locals: {states: states.order(:name)} %>
          </div>
          <div class="mdl-cell mdl-cell--4-col">
            <%= render 'reports/filter_type' %>
          </div>
        </div>
    <% end %>

    <script>
        $('.date-picker').bootstrapMaterialDatePicker({ weekStart : 0, time: false, format: 'DD MMMM, Y' });
    </script>

    <div class="reports-count-container">
      Showing <%= "#{@reports.count} #{'report'.pluralize(@reports.count)}" if @reports and @reports.any? %>
    </div>

    <div id="report-filter-spinner" class="mdl-spinner mdl-js-spinner"></div>

    <div class="reports-container mdl-grid">
    </div>

    <%= link_to new_report_path, id: 'show-report-fab', class: 'new-report-fab mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored' do %>
        <i class="material-icons">add</i>
    <% end %>
    <div class="mdl-tooltip" data-mdl-for="show-report-fab">
      Write a new report
    </div>

  </div>
</div>

<% if @flm %>
    <script>
        $(document).ready(function(){
            $('.flm-option[data-flm-number="<%= @flm %>"]').trigger('click');
        });
    </script>
<% end %>

<% if @flm_filter == 'needy' %>
  <script>
      $(document).ready(function() {
          $('.mdl-layout').on('mdl-componentupgraded', function (e) {
              if ($(e.target).hasClass('mdl-layout')) {
                  $('.mdl-checkbox[for*="flm-6-"]').each(function () {
                      var checkbox = this;
                      if (!checkbox.getAttribute('for').includes('select-all')) {
                          if (checkbox.getAttribute('for').includes('possible_need') || checkbox.getAttribute('for').includes('expressed_need')) {
                              checkbox.MaterialCheckbox.check();
                          } else {
                              checkbox.MaterialCheckbox.uncheck();
                          }
                      }
                  });
              }
          });
      });
  </script>
<% end %>