<%= form_for(@tally, html: {class: "col s12"}) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="row">
    <div class="field col s12">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="row">
    <div class="field col s12">
      <%= f.label :description %>
      <%= f.text_area :description, class: "materialize-textarea" %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s6">
      <a class='dropdown-button btn-flat' href='#' data-activates='languages_dropdown' data-hover="true">Relates to languages...</a>
      <ul id='languages_dropdown' class='dropdown-content'>
        <% @minority_languages.each do |lang| %>
          <li>
            <%= check_box_tag('tally[languages][' + lang.id.to_s + ']', 1, @tally.languages.include?(lang)) %>
            <%= label_tag('tally[languages][' + lang.id.to_s + ']', lang.name) %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="input-field col s6">
      <%= f.select(:topic_id, @topics.collect{|t| [t.name, t.id]}) %>
      <%= f.label :topic_id, "Select topic" %>
    </div>
  </div>
  <div class="row">
    <% if form_action == 'new' %>
      <%= button_tag( :class => "btn waves-effect waves-light right") do %>
        Create Tally <i class="material-icons right">add</i>
      <% end %>
    <% elsif form_action == 'edit' %>
      <%= button_tag( :class => "btn waves-effect waves-light right") do %>
        Update Tally <i class="material-icons right">create</i>
      <% end %>
    <% else %>
      <%= button_tag( :class => "btn waves-effect waves-light right") do %>
        Submit
      <% end %>
    <% end %>
  </div>
<% end %>
