<% provide(:title, "Tally: #{@tally.name}") %>
<h1><%= @tally.name %> Tally</h1>
<p>
  <%= @tally.description %>
</p>

<div class=" coloured <%= colour_class(@tally.topic.colour) %> right"><%= @tally.topic.name %></div>

<h2>Tally Totals</h2>
<table>
  <thead>
    <tr><td>Language</td><td>Total</tr>
  </thead>
  <tbody>
    <% @tally.languages.each do |language| %>
    <tr><td><%= language.name %></td><td><%= @updates_by_language[language].map{ |u| u.amount.to_i }.inject(0, :+) %></td></tr>
  <% end %>
  </tbody>
</table>
