<% provide(:title, "Tally: #{@tally.name}") %>
<h1><i class="material-icons large">assessment</i> <%= @tally.name %> Tally</h1>

<% if @tally.topic %>
<div class="tally-topic coloured <%= colour_class(@tally.topic.colour) %> left"><%= @tally.topic.name %></div>
<% end %>

<p>
  <%= @tally.description %>
  <%= link_to edit_tally_path, class: "btn waves-effect waves-light right" do %>
    <i class="material-icons right">edit</i>
    Edit
  <% end %>
</p>

<table>
  <thead>
    <tr><td>Language</td><td>Total</tr>
  </thead>
  <tbody>
    <% 
    grand_total = 0
    @tally.languages.each do |language|
    	lang_total = @updates_by_language[language].map{ |u| u.amount.to_i }.inject(0, :+)
    	grand_total = grand_total + lang_total
    %>
    <tr class="<%= colour_class(language.colour) %>"><td><%= language.name %></td><td><%= @updates_by_language[language].map{ |u| u.amount.to_i }.inject(0, :+) %></td></tr>
  <% end %>
  <tr><td><strong>Grand Total</strong></td><td><strong><%= grand_total %></strong></td>
  </tbody>
</table>
<%= line_chart cumulative_data(@graph_data) %>
	
<% if logged_in_user.can_increase_tally? %>
  <%= form_tag("/tally_updates", method: "post") do %>
    <%= hidden_field_tag("tally_update[tally_id]", @tally.id) %>
    <div class="row">
      <div class="col s6">
        <label for="tally_update_language_id">Increase this tally for</label>
        <%= collection_select(:tally_update, :language_id, @tally.languages, :id, :name) %>
      </div>
      <div class="col s3">
        <label for="tally_update_amount">by</label>
        <%= number_field(:tally_update, :amount, {min: '1', step: '1'}) %>
      </div>
      <div class="col s3">
        <%= button_tag( :class => "btn waves-effect waves-light right") do %>
          Submit <i class="material-icons right">add</i>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>