<% provide(:title, "Tally: #{@tally.name}") %>

<p>
  <strong>Name:</strong>
  <%= @tally.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @tally.description %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @tally.topic.name %>
</p>

<p>
  <strong>Languages:</strong>
  <% @tally.languages.each do |language| %>
  <%= language.name %><br />
  <% end %>
</p>
<%= link_to 'Edit', edit_tally_path(@tally) %> |
<%= link_to 'All Tallies', tallies_path %>
