<% provide(:title, 'User Roles') %>
<h1>User Roles</h1>
<% if current_user.can_create_role? %>
  <!-- New Role Modal Trigger -->
  <button class="btn waves-effect waves-light modal-trigger" data-target="new_role_modal"><i class="material-icons right">add</i>New Role</button>
<% end %>
<%= form_tag("/roles", method: "patch") do %>
  <ul class="collapsible" data-collapsible="accordion">
    <% @permissions.group_by{ |perm| perm.category or "Miscelaneous"}.each do |category, perms| %>
      <li>
        <div class="collapsible-header green lighten-2"><%= category %></div>
        <div class="collapsible-body">
          <div class="row">
          <table class="hoverable responsive-table">
            <thead>
            	<tr>
            		<th>Permissions</th>
            		<% @roles.each do |role| %>
            		  <th><%= role.name %></th>
            		<% end %>
            	</tr>
            </thead>
            <tbody>
    
            	<% perms.each do |perm| %>
            	  <tr>
            	  	<td><%= perm.description %></td>
            	  	<% @roles.each do |role| %>
            		  <td>
            		    <%= check_box_tag('roles[' + role.name + '][' + perm.name + ']', 1, role.permissions.include?(perm), disabled: !current_user.can_edit_role?) %>
            		    <%= label_tag('roles[' + role.name + '][' + perm.name + ']', "") %>
            		  </td>
            		<% end %>
            	  </tr>
            	<% end %>
            </tbody>
          </table>
          </div>
          <div class="row">
            <div class="col s3 offset-s8">
              <% if current_user.can_edit_role? %>
                <%= button_tag( :class => "btn waves-effect waves-light right") do %>
                  Update <i class="material-icons right">create</i>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>

<!-- New Role Modal Structure -->
<div id="new_role_modal" class="modal">
  <%= form_for(@new_role, method: "post") do |f| %>
    <div class="modal-content">
      <h4>New Role</h4>
      <%= f.text_field :name %>
      <%= f.label :name %>
    </div>
    <div class="modal-footer">
      <%= button_tag( :class => "modal-action modal-close btn-flat waves-effect waves-light") do %>
        Create Role <i class="material-icons right">add</i>
      <% end %>
      <button class="modal-action modal-close btn-flat waves-effect waves-light">
        Cancel <i class="material-icons right">cancel</i>
      </button>
    </div>
  <% end %>
</div>	