<% @progress_markers_by_oa_and_weight.each do |topic, weights| %>
<div class="oa-name"><strong><%= topic.name %></strong></div>
<div class="row">
  <% weights.each do |weight_text, pms| %>
    <div class="col s12 m6 l4">
      <strong><%= weight_text %></strong>
      <% pms.each do |pm| %>
        <div class="row pm-level">
          <div class="col s8 right-align tooltipped" data-tooltip="<%= pm.description %>"><%= pm.name %></div>
          <% lp = @language_progresses_by_pm_id[pm.id] %>
          <% level = lp ? lp.value_at : 0 %>
          <div class="col s4 tooltipped" data-position="top" data-tooltip="<%= ProgressMarker.spread_text[level] %>"><i class="lcr-icon-level-<%= level %>"></i></div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
<% end %>