<% user_can_edit = can_edit(@quarterly_evaluation, logged_in_user) %>
<%= form_for @quarterly_evaluation, namespace: @quarterly_evaluation.id.to_s, remote: true do |f| %>
  <table class="quarterly-results-table mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <tr><th>Deliverable</th><th>Target</th><th>Actual</th></tr>
    <% @quarterly_evaluation.ministry.deliverables.order(:number).each do |deliverable| %>
      <tr>
        <td><%= deliverable.short_form.en %></td>
        <% target = QuarterlyTarget.find_by(state_language: @quarterly_evaluation.state_language, deliverable: deliverable, quarter: @quarterly_evaluation.quarter) %>
        <td><%= target ? target.value : '?' %></td>
        <td><%= quarterly_actual(@quarterly_evaluation.state_language_id, deliverable, @quarterly_evaluation.quarter, @quarterly_evaluation.project, @quarterly_evaluation.sub_project) %></td>
      </tr>
    <% end %>
  </table>
  <div class="narrative-questions mdl-shadow--2dp">
    <h4>Narrative Questions</h4>
    <% (1..4).each do |i| %>
      <%= f.label "question_#{i}".to_sym, t("narrative_questions.q#{i}_html") %>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <i class="material-icons mdl-textfield__icon">question_answer</i>
        <%= f.text_area "question_#{i}".to_sym, class: 'mdl-textfield__input', disabled: !user_can_edit %>
      </div>
    <% end %>
  </div>
  <div class="selected-impact-story mdl-shadow--2dp">
    <button class="mdl-button mdl-button--colored mdl-button--raised">Select impact story</button>
  </div>
  <div class="quarterly-evaluation mdl-shadow--2dp">
    <div class="progress mdlext-selectfield mdlext-js-selectfield mdlext-selectfield--floating-label">
      <%= f.select :progress, options_for_select(QuarterlyEvaluation.progresses.to_a.map{ |p| [t("progress.#{p[0]}", default: p[0].humanize), p[0]] }, @quarterly_evaluation.progress), { prompt: '' }, { class: 'mdlext-selectfield__select', disabled: !user_can_edit} %>
      <%= f.label :progress, 'Evaluate progress', class: 'mdlext-selectfield__label' %>
    </div>
    <% if @quarterly_evaluation.project.supervisors.where(project_supervisors: { role: 'management' }).include?(logged_in_user) %>
      <%= f.label :approved, class: 'mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect' do %>
        <%= f.check_box(:approved, class: 'mdl-checkbox__input', disabled: !user_can_edit) %>
        <span class="mdl-checkbox__label">Manager approval for this quarterly report</span>
      <% end %>
    <% else %>
      <% if @quarterly_evaluation.approved? %>
        <%= image_tag :approved, class: 'qr-approved-stamp' %>
        <p>Quarterly report approved by manager.</p>
      <% else %>
        <p>This quarterly report pending manager approval.</p>
      <% end %>
    <% end %>
  </div>
<% end %>