<% user_can_edit = can_edit(@quarterly_evaluation, logged_in_user) %>

<div class="container">

  <table class="quarterly-results-table mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
    <% data, meta = measurables_data(@quarterly_evaluation, @translation_project) %>
    <tr class="table-head-row-top">
      <th rowspan="2">Deliverable</th>
      <th><%= meta[:start_month].strftime("%b") %></th>
      <th><%= 1.month.since(meta[:start_month]).strftime("%b") %></th>
      <th><%= 2.months.since(meta[:start_month]).strftime("%b") %></th>
      <th colspan="2"><%= pretty_quarter(meta[:quarter][0], true).sub('to ', 'to<br>').html_safe %></th>
      <% (1..3).each do |q| %>
        <th><%= pretty_quarter(meta[:quarter][q], true).sub('to ', 'to<br>').html_safe %></th>
      <% end %>
    </tr>
    <tr class="table-head-row-bottom">
      <th>Actual</th><th>Actual</th><th>Actual</th>
      <th class="target">Target</th><th>Actual</th>
      <th class="target">Target</th><th class="target">Target</th><th class="target">Target</th>
    </tr>
    </thead>
    <tbody>
    <% data.each do |del_id, row| %>
    <tr>
      <% row.each_with_index do |col, i| %>
        <% if i == 4 %>
          <td class="target"><%= col %></td>
        <% elsif i == 5 %>
          <td data-assessment="<%= assessment row[i-1], col %>"><%= col %></td>
        <% elsif i > 5 and logged_in_user.can_edit_project?(@quarterly_evaluation.project) %>
          <td class="quarterly-target target"
              data-state-language="<%= @quarterly_evaluation.state_language_id %>"
              data-deliverable="<%= del_id %>"
              data-quarter="<%= meta[:quarter][i-5] %>"
          >
            <%= form_tag set_target_in_state_language_path(@quarterly_evaluation.state_language_id, del_id, meta[:quarter][i-5]), method: :patch, remote: true do %>
              <div class="mdl-textfield mdl-js-textfield quarterly-target-input">
                <input class="mdl-textfield__input"
                       type="text"
                       pattern="[0-9]*(\.[0-9]+)?"
                       name="target"
                       value="<%= col %>">
                <span class="mdl-textfield__error">Enter a number</span>
              </div>
            <% end %>
          </td>
        <% else %>
          <td><%= col %></td>
        <% end %>
      <% end %>
    </tr>
    <% end %>
    </tbody>
  </table>

  <% if @church_teams.any? %>
    <div class="partnering-churches mdl-shadow--2dp"
         data-project="<%= @quarterly_evaluation.project_id %>"
         data-stream="<%= @quarterly_evaluation.ministry_id %>"
         data-first-month="<%= quarter_to_range(@quarterly_evaluation.quarter)[0] %>"
    >
      <h4>Partnering Churches</h4>
      <p>Click for details</p>
      <ul class="mdl-list">
        <% @church_teams.each do |team| %>
          <li class="mdl-list__item" data-team="<%= team.id %>">
            <span class="mdl-list__item-primary-content"><a><%= team.full_name %></a></span>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="narrative-questions mdl-shadow--2dp">
    <%= form_for @quarterly_evaluation, namespace: "#{@quarterly_evaluation.id}a", remote: true, class: 'qe-form' do |f| %>
      <h4>Narrative Questions</h4>
      <% prev_qe = QuarterlyEvaluation.find_by(
          project_id: @quarterly_evaluation.project_id,
          sub_project_id: @quarterly_evaluation.sub_project_id,
          state_language_id: @quarterly_evaluation.state_language_id,
          ministry_id: @quarterly_evaluation.ministry_id,
          quarter: previous_quarter(@quarterly_evaluation.quarter)
      ) %>
      <% if prev_qe&.question_4.present? %>
        <%= f.label :improvements, t("narrative_questions.improvements_html", previous: simple_format(prev_qe.question_4)), class: 'improvements' %>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <i class="material-icons mdl-textfield__icon">question_answer</i>
          <%= f.text_area :improvements, rows: '4', class: 'mdl-textfield__input', disabled: !user_can_edit %>
        </div>
      <% end %>
      <% (2..4).each do |i| %>
        <%= f.label "question_#{i}".to_sym, t("narrative_questions.q#{i}_html") %>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <i class="material-icons mdl-textfield__icon">question_answer</i>
          <%= f.text_area "question_#{i}".to_sym, rows: '4', class: 'mdl-textfield__input', disabled: !user_can_edit %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="selected-impact-story mdl-shadow--2dp" data-qe="<%= @quarterly_evaluation.id %>">
    <div class="story">
      <% if @quarterly_evaluation.report %>
        <% if user_can_edit %>
          <%= render partial: 'reports/simple_form', object: @quarterly_evaluation.report %>
        <% else %>
          <%= render partial: 'reports/simple_report', object: @quarterly_evaluation.report %>
        <% end %>
      <% end %>
    </div>
    <div class="actions">
      <% if user_can_edit and @reports.any? %>
        <button class="select-story-button mdl-button mdl-button--colored mdl-button--raised" data-qe="<%= @quarterly_evaluation.id %>">Select impact story</button>
      <% elsif @reports.any? %>
        <p>No impact stories linked to this report</p>
      <% elsif user_can_edit %>
        <%= link_to add_report_for_quarterly_evaluation_path(@quarterly_evaluation), method: :post, remote: true, class: 'add-story-button mdl-button mdl-button--colored mdl-button--raised' do %>
          <i class="material-icons">add</i> Add new impact story
        <% end %>
      <% else %>
        <p>No impact stories recorded.</p>
      <% end %>
    </div>
  </div>

  <div class="quarterly-evaluation mdl-shadow--2dp" data-qe="<%= @quarterly_evaluation.id %>" data-progress="<%= @quarterly_evaluation.progress %>">
    <%= form_for @quarterly_evaluation, namespace: "#{@quarterly_evaluation.id}c", remote: true, class: 'qe-form' do |f| %>
      <div class="progress mdlext-selectfield mdlext-js-selectfield mdlext-selectfield--floating-label">
        <%= f.select :progress, options_for_select(QuarterlyEvaluation.progresses.to_a.map{ |p| [t("progress.#{p[0]}", default: p[0].humanize), p[0]] }, @quarterly_evaluation.progress), { prompt: '' }, { class: 'mdlext-selectfield__select', disabled: !user_can_edit} %>
        <%= f.label :progress, 'Evaluate progress', class: 'mdlext-selectfield__label' %>
      </div>
      <% if @quarterly_evaluation.project.supervisors.where(project_supervisors: { role: 'management' }).include?(logged_in_user) %>
        <%= f.label :approved, class: 'mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect' do %>
          <%= f.check_box(:approved, class: 'mdl-checkbox__input', disabled: !user_can_edit) %>
          <span class="mdl-checkbox__label">Manager approval for this quarterly report</span>
        <% end %>
      <% else %>
        <% if @quarterly_evaluation.approved? %>
          <%= image_tag :approved, class: 'qr-approved-stamp' %>
          <p>Quarterly report approved by manager.</p>
        <% else %>
          <p>This quarterly report pending manager approval.</p>
        <% end %>
      <% end %>
    <% end %>
  </div>

</div>

<div class="story-select-dialogs" data-qe="<%= @quarterly_evaluation.id %>">
  <% if user_can_edit and @reports.any? %>
    <% @reports.each_with_index do |report, i| %>
      <%= render partial: 'reports/select_dialog', object: report, locals: {i: i, report_count: @reports.count} %>
    <% end %>
  <% end %>
</div>