<% if @sub_project %>
  <% state_languages = @project.state_languages.order(:id).to_a.select{ |sl| @sub_project.language_streams.exists?(state_language_id: sl.id) } %>
<% else %>
  <% state_languages = @project.state_languages.order(:id) %>
<% end %>

<button id="download-quarterly-report">
  <i class="material-icons">file_download</i>
  Download report
</button>

<% multi_state = @project.geo_states.uniq.count > 1 %>
<ul class="mdlext-accordion mdlext-js-accordion mdlext-accordion--vertical">
  <% state_languages.each do |state_language| %>
    <li class="mdlext-accordion__panel">
      <header class="mdlext-accordion__tab">
        <span class="mdlext-accordion__tab__caption"><%= state_language.name(multi_state) %></span>
      </header>
      <section class="mdlext-accordion__tabpanel">
        <% if @sub_project %>
          <% streams = @project.ministries.order(:code).to_a.select {|s| @sub_project.language_streams.exists?(state_language_id: state_language.id, ministry_id: s.id)} %>
        <% else %>
          <% streams = @project.ministries.order(:code) %>
        <% end %>
        <% streams.each do |stream| %>
          <div class="header-flex-container">
            <div class="quarterly-stream-header" data-lang="<%= state_language.id %>" data-stream="<%= stream.id %>"><%= stream.name.en %></div>
          </div>
          <div class="quarterly-stream-content" data-lang="<%= state_language.id %>" data-stream="<%= stream.id %>">
          </div>
        <% end %>
      </section>
    </li>
  <% end %>
</ul>