

<%= form_for(@report, html: {multipart: true}) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="mdl-grid">

    <div class="mdl-cell mdl-cell--8-col">
      <div class="report-content mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <i class="material-icons mdl-textfield__icon">create</i>
        <%= f.text_area :content, class: 'mdl-textfield__input' %>
        <%= f.label :content, @translations['type_report'], class: 'mdl-textfield__label' %>
      </div>
    </div>

    <div class="report-pictures mdl-cell mdl-cell--4-col">
      <%= f.fields_for :pictures do |ff| %>
        <% if ff.object.persisted? %>
          <%= image_tag ff.object.ref.thumb.url if ff.object.ref? %>
          <%= ff.label :_destroy, class: 'mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect' do %>
            <%= ff.check_box :_destroy, class: 'mdl-checkbox__input' %>
            <span class="mdl-checkbox__label"><i class="material-icons">delete</i> Delete</span>
          <% end %>
        <% else %>
          <div class="picture-input">
            <%= ff.file_field :ref, accept: 'image/jpeg,image/gif,image/png', class: 'hide' %>
            <%= ff.label :ref, class: 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect' do %>
              <i class="material-icons">insert_photo</i>
              <%= @translations['put_photo'] %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="mdl-cell mdl-cell--3-col">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <i class="material-icons mdl-textfield__icon">today</i>
        <%= f.text_field :report_date, class: 'date-picker mdl-textfield__input' %>
        <%= f.label :report_date, class: 'mdl-textfield__label' %>
      </div>
      <div>
        <%= render partial: 'report_type_fields', locals: {f: f} %>
      </div>
    </div>

    <div class="mdl-cell mdl-cell--3-col">
      <div class="form-section-header">State</div>
      <ul class="mdl-list">
        <% @geo_states.each do |state| %>
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <%= state.name %>
            </span>
            <span class="mdl-list__item-secondary-action">
              <%= f.label "geo_state_#{state.id}", class: 'mdl-radio mdl-js-radio mdl-js-ripple-effect' do %>
                <%= f.radio_button :geo_state,
                                   state.id,
                                   class: 'filter-trigger mdl-radio__button',
                                   'data-filter-trigger-label' => 'geo-state'
                %>
              <% end %>
            </span>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="mdl-cell mdl-cell--3-col">
      <div class="form-section-header"><%= @translations['relates_languages'] %></div>
      <ul class="mdl-list">
      <% @project_languages.each do |language| %>
        <li class="filterable-item hide mdl-list__item" data-filter-label="geo-state" data-geo-state="<%= language.geo_state_id %>">
          <span class="mdl-list__item-primary-content">
            <%= language.language_name %>
          </span>
          <span class="mdl-list__item-secondary-action">
            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="language-checkbox-<%= language.id %>">
              <input
              type="checkbox"
              id="language-checkbox-<%= language.id %>"
              name="report[language][<%= language.id %>]"
              value="<%= language.id %>"
              class="mdl-checkbox__input" <%= (@report.languages.include? language.language) ? 'checked' : '' %>
              />
            </label>
          </span>
        </li>
      <% end %>
      </ul>
    </div>

    <div class="mdl-cell mdl-cell--3-col">
      <%= f.fields_for :observers do |ff| %>
          <%= render partial: 'observer_fields', locals: { f: ff } %>
      <% end %>
      <%= new_child_fields_template f, :observers %>
      <a class="mdl-button mdl-js-button mdl-js-ripple-effect" id="add-source-person">
        <i class="material-icons">person_add</i>
        Add Source Person
      </a>
      <%= button_tag( class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored', id: 'report-submit-button') do %>
          <%= yield :button_text %> <i class="material-icons">send</i>
      <% end %>
    </div>

  </div>

  <script>
    $('.date-picker').bootstrapMaterialDatePicker({ weekStart : 0, time: false, format: 'DD MMMM, Y' });
  </script>

<% end %>