<%= form_for(@report, html: {class: "col s12"}) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <div class="row">
      <div class="col s12 m6 l4 offset-m6 offset-l8 input-field">
        <%= render partial: "shared/geo_state_input", locals: {object: "report", input_class: 'filter-trigger'} %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">create</i>
        <%= f.text_area :content, class: "materialize-textarea" %>
        <%= f.label :content, @translations['type_report'] %>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m6">
        <%= f.check_box("impact_report?") %>
        <%= f.label("impact_report?", @translations['this_impact']) %>
        <%= f.check_box("planning_report?") %>
        <%= f.label("planning_report?", "This is a hope, or future planning report") %>
        <%= f.check_box("challenge_report?") %>
        <%= f.label("challenge_report?", "This is a challenge report") %>
      </div>
      <div class="input-field col s12 m6 active">
        <i class="material-icons prefix">today</i>
        <%= f.date_field :report_date, value: f.object.report_date.to_s, class: "datepicker active" %>
        <%= f.label :report_date, "Report date" %>
      </div>
    </div>

    <div class="row hide">
      <div class="file-field input-field col s12 m6">
        <input class="file-path validate" type="text"/>
        <div class="btn-flat">
          <i class="material-icons left">insert_photo</i>
          <span><%= @translations['put_photo'] %></span>
          <input type="file" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12 m6">
        <%= render partial: "shared/multiselect", locals: {
              text: @translations['relates_languages'],
              icon: "language",
              object: "report",
              attribute: "languages",
              display: :language_name,
              id: :language_id,
              element_class: "filterable-item",
              data: :geo_state_id,
              collection: @project_languages,
              selected: @report.languages.to_a.collect{ |lang| lang.id }
        } %>
      </div>
      <div class="input-field col s12 m6">
        <%= render partial: "shared/multiselect", locals: {
              text: @translations['relates_oa'],
              icon: "local_offer",
              object: "report",
              attribute: "topics",
              display: :name,
              collection: @topics,
              selected: @report.topics
        } %>
      </div>
    </div>

    <div class="row">
      <div class="row s12">
        <%= button_tag( :class => "btn waves-effect waves-light right") do %>
          <%= yield :button_text %> <i class="material-icons right">send</i>
        <% end %>
      </div>
    </div>
  <% end %>