<div class="card report" id="report-<%= report.id %>">
  <div class="card-content <%= report_colour[report.report_type] %>">
  	<div><%= time_ago_in_words(report.created_at) %> ago</div>
  	<div class="report_type"><%= report_type_text[report.report_type] %></div>
  	<p><%= report.content %></p>
  	<div class="reporter"><%= report.reporter.name %></div>
  	<% if languages %>
  	  <div class="report-languages">
  	  	<% report.languages.each do |language| %>
  	  	  <div class="<%= colour_class(language.colour) %>">language.name</div>
  	  	<% end %>
  	  </div>
  	<% end %>
  	<% if topics %>
  	  <div class="report-topics">
  	  	<% report.topics.each do |topic| %>
  	  	  <div class="<%= colour_class(topic.colour) %>"><%= topic.name %></div>
  	  	<% end %>
  	  </div>
  	<% end %>
  </div>
</div>