<%
  class_contents = "#{report.status} filterable-item #{'hide' if report.archived?}".html_safe
  element_options = 'data-filter-label="language geo_state status report-type" '.html_safe +
      "data-date=\"#{report.report_date}\" ".html_safe +
      "data-language=\"#{report.languages.pluck(:id).join(',')}#{@no_language_id.to_s if report.languages.empty?}\" ".html_safe +
      "data-geo_state=\"#{report.geo_state_id}\" ".html_safe +
      "data-status=\"#{report.status}\" ".html_safe +
      "data-report-type=\"#{report.report_type_a.join(',')}\"".html_safe
  if !local_assigns.key? :can_edit
    can_edit = logged_in_user.admin?
  end
  if !local_assigns.key? :can_archive
    can_archive = logged_in_user.admin?
  end
%>
<% if wrapper %>
  <div class="report-wrapper <%= report.status %> <%= wrapper %>">
<% end %>
<div class="card report light-blue lighten-3 <%= class_contents %>" id="report-<%= report.id %>" <%= element_options %>">
  <div class="card-content">
    <span class="card-title"><%= report.report_type %> Report</span>
    <% if time %>
  	  <div class=time-ago"><%= time_ago_in_words(report.report_date) %> ago</div>
  	<% end %>
    <div class="row">
      <div class="col s12 location-info grey-text"><%= report.full_location %></div>
      <%# List the names of source people if there are any and the logged in user is trusted. %>
      <% if report.observers.any? and logged_in_user.trusted? %>
        <div class="col s6 observers">
          Sourced from <%= report.observers.pluck(:name).to_a.to_sentence %>
        </div>
      <% end %>
    </div>
  	<%= simple_format report.content %>
    <%# Show pictures and the reporter name if the logged in user is trusted, or if it's them %>
    <% if logged_in_user.trusted? or logged_in_user?(report.reporter) %>
      <% report.pictures.each do |picture| %>
        <%= image_tag picture.ref_url if picture.ref? %>
      <% end %>
      <% if report.reporter.present? %>
        <div class="reporter"><%= report.reporter.name %></div>
      <% end %>
    <% end %>
  	<% if languages %>
  	  <div class="report-languages">
  	  	<% report.languages.each do |language| %>
  	  	  <div class="<%= colour_class(language.colour) %>"><%= language.name %></div>
  	  	<% end %>
  	  </div>
  	<% end %>
  	<% if topics %>
  	  <div class="report-topics">
  	  	<% report.topics.each do |topic| %>
  	  	  <div class="<%= colour_class(topic.colour) %>"><%= topic.name %></div>
  	  	<% end %>
  	  </div>
  	<% end %>
  </div>
  <div class="card-action">
  <% if can_archive %>
    <% if report.archived? %>
  	  <%= link_to unarchive_report_path(report), class: "waves-effect btn white-text tooltipped", "data-position" => "top", "data-delay" => "50", "data-tooltip" => "Un-Archive", method: :patch do %>
  	    <i class="material-icons">publish</i>
      <% end %>
    <% else %>
  	  <%= link_to archive_report_path(report), class: "waves-effect btn white-text tooltipped", "data-position" => "top", "data-delay" => "50", "data-tooltip" => "Archive", method: :patch do %>
  	    <i class="material-icons">archive</i>
      <% end %>
    <% end %>
  <% end %>
  <% if can_edit or logged_in_user = report.reporter %>
  	  <%= link_to edit_report_path(report), class: "waves-effect btn white-text tooltipped", "data-position" => "top", "data-delay" => "50", "data-tooltip" => "Edit" do %>
  	    <i class="material-icons">edit</i>
      <% end %>
  <% end %>
  </div>
</div>
<% if wrapper %>
  </div>
<% end %>
