<% provide(:title, 'Reports grouped by Topic') %>
<h1>Reports grouped by Topic</h1>
<div class="row">
  <div class="col s6">
    <%= render partial: "show_archived_switch" %>
  </div>
  <div class="col s6">
    <%= render partial: "date_range" %>
  </div>
</div>
<ul class="collapsible" data-collapsible="accordion">
  <% @reports.group_by_collection(@topics, &:topics).each do |topic, top_reports| %>
    <li>
      <div class="collapsible-header <%= colour_class(topic.colour) %>"><%= topic.name %></div>
      <div class="collapsible-body <%= colour_class(topic.colour) %>">
        <% top_reports.in_groups_of(3, false) do |report_group| %>
          <div class="row">
            <%= render partial: "report", collection: report_group, locals: {time: true, languages: true, topics: false, wrapper: "col s12 m6 l4"} %>
          </div>
        <% end %>
      </div>
    </li>
  <% end %>
  <% unassigned = @reports.select{|r| r.topics.empty?} %>
  <% unless unassigned.empty? %>
    <li>
      <div class="collapsible-header">No topic specified</div>
      <div class="collapsible-body">
        <% unassigned.in_groups_of(3, false) do |report_group| %>
          <div class="row">
            <%= render partial: "report", collection: report_group, locals: {time: true, languages: true, topics: false, wrapper: "col s12 m6 l4"} %>
          </div>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>