<% provide(:title, 'Edit Report') %>
<h1>Edit Report</h1>
<div class="row">
  <%= form_for(@report, html: {class: "col s12"}) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="row">
      <div class="input-field col s12 m6 l4">
        <%= render partial: "shared/geo_state_input", locals: {object: "report", input_class: 'filter_trigger'} %>
      </div>
      <div class="input-field col s12 m6 l4">
        <% if current_user.can_archive_report? %>
          <% Report.states.each do |key, value| %>
            <p>
              <%= f.radio_button(:state, key, checked: @report.state == key) %>
              <%= f.label "#{:state}_#{key}", key.capitalize %>
            </p>
          <% end %>
        <% end %>
      </div>
      <div class="input-field col s12 m6 l4 active">
        <i class="material-icons prefix">today</i>
        <%= f.date_field :report_date, value: f.object.report_date.to_s, class: "datepicker active" %>
        <%= f.label :report_date, "Report date" %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <%= f.text_area :content, class: "materialize-textarea" %>
        <%= f.label :content, "Type your report here." %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <%= render partial: "shared/multiselect", locals: {
          text: "Relates to languages…",
          icon: "language",
          object: "report",
          attribute: "languages",
          display: :name,
          element_class: "filterable_item",
          data: :geo_state_ids_str,
          collection: @minority_languages,
          selected: @report.languages
        } %>
      </div>
      <div class="input-field col s6">
        <a class='dropdown-button btn-flat' href='#' data-activates='topics_dropdown' data-hover="true">Relates to topics...</a>
        <ul id='topics_dropdown' class='dropdown-content'>
          <% @topics.each do |topic| %>
            <li>
              <%= check_box_tag('report[topics][' + topic.id.to_s + ']', 1, @report.topics.include?(topic)) %>
              <%= label_tag('report[topics][' + topic.id.to_s + ']', topic.name) %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <%= button_tag( :class => "btn waves-effect waves-light right") do %>
      Submit Changes <i class="material-icons right">send</i>
    <% end %>
  <% end %>
</div>
