<% provide(:title, 'All reports') %>
<h1>All reports</h1>
<div class="row">
  <div class="col s6">
    <%= render partial: "show_archived_switch" %>
  </div>
  <div class="col s6">
    <%= render partial: "selector" %>
  </div>
</div>

<%= will_paginate %>

<ul class="reports collection">
  <%= render partial: "report_listing", collection: @reports %>
</ul>

<%= will_paginate %>

