<header>
<nav class="top-nav <%= yield(:colour) %>">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo center">Last Command Reporter 0.1</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <% if logged_in? %>
        <li>
          <%= link_to root_path do %>
            <i class="material-icons left">home</i>
            Home
          <% end %>
        </li>
        <li>
          <%= link_to current_user do %>
            <i class="material-icons left">account_circle</i>
            <%= current_user.name %>
          <% end %>
        </li>
        <li>
          <%= link_to logout_path, method: "delete" do %>
            <i class="material-icons left">exit_to_app</i>
            Logout
          <% end %>
        </li>
      <% else %>
        <li>
          <%= link_to login_path do %>
            <i class="material-icons left">vpn_key</i>
            Login
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
</header>