<header class="mdl-layout__header">
  <div class="mdl-layout-icon"></div>
  <div class="mdl-layout__header-row">
    <span class="mdl-layout__title">LCI App</span>
    <div class="mdl-layout-spacer"></div>
    <span class="mdl-layout__title"><%= yield(:context_title) %></span>
    <div class="mdl-layout-spacer"></div>
    <nav class="mdl-navigation">
      <% if logged_in? %>
          <%= form_tag search_languages_path, method: :get, remote: true do %>
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label">
                <label id="header-search-icon-label" class="mdl-button mdl-js-button mdl-button--icon" for="header-search-field">
                  <i class="material-icons">search</i>
                </label>
                <div class="mdl-textfield__expandable-holder">
                  <input class="mdl-textfield__input" type="text" name="q" id="header-search-field" />
                </div>
              </div>
              <div class="mdl-tooltip" data-mdl-for="header-search-icon-label">
                Search for language or state
              </div>
          <% end %>
            <%= link_to root_path, class: 'mdl-navigation__link' do %>
              <i id="header-home-icon" class="material-icons">home</i>
            <% end %>
            <div class="mdl-tooltip" data-mdl-for="header-home-icon">
              Home
            </div>
            <button id="account-menu" class="mdl-button mdl-js-button">
              <i class="material-icons">account_circle</i> <%= logged_in_user.name %>
            </button>
            <div class="mdl-tooltip" data-mdl-for="account-menu">
              My Account
            </div>
            <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect" for="account-menu">
              <li class="mdl-menu__item">
                <%= link_to logged_in_user do %>
                    <i class="material-icons">account_circle</i> <%= logged_in_user.name %>
                <% end %>
              </li>
              <li class="mdl-menu__item">
                <%= link_to edit_user_path(logged_in_user) do %>
                    <i class="material-icons">edit</i> Edit my account
                <% end %></li>
              <li class="mdl-menu__item">
                <%= link_to logout_path, method: 'delete' do %>
                    <i class="material-icons">exit_to_app</i> Logout
                <% end %>
              </li>
            </ul>
      <% else %>
          <% unless current_page?(login_path) %>
            <%= link_to login_path, class: 'mdl-navigation__link' do %>
                Login
            <% end %>
          <% end %>
      <% end %>
    </nav>
  </div>
  <%= yield(:header_tabs) %>
</header>
<div class="mdl-layout__drawer">
  <span class="mdl-layout__title">LCI App</span>
  <nav class="mdl-navigation">
    <% if logged_in? %>
        <%= link_to root_path, class: 'mdl-navigation__link' do %>
            <i class="material-icons">home</i> Home
        <% end %>
        <%= link_to logged_in_user, class: 'mdl-navigation__link' do %>
            <i class="material-icons">account_circle</i> My account
        <% end %>
        <%= link_to zones_path, class: 'mdl-navigation__link' do %>
            <i class="material-icons">explore</i> Zone map
        <% end %>
        <% logged_in_user.zones.each do |zone| %>
          <%= link_to "#{zone.name} Zone", zone_path(zone), class: 'mdl-navigation__link' %>
        <% end %>
        <% if logged_in_user.geo_states.count <= 3 %>
          <% logged_in_user.geo_states.each do |state| %>
              <%= link_to state.name, geo_state_path(state), class: 'mdl-navigation__link' %>
          <% end %>
        <% end %>
        <% if logged_in_user.edits.any? %>
        <%= link_to my_edits_path, class: 'mdl-navigation__link' do %>
            <i class="material-icons">edit</i> My edits
        <% end %>
        <% end %>
        <%= link_to logout_path, method: 'delete', class: 'mdl-navigation__link' do %>
            <i class="material-icons">exit_to_app</i> Logout
        <% end %>
    <% else %>
        <%= link_to login_path, class: 'mdl-navigation__link' do %>
            Login
        <% end %>
    <% end %>
  </nav>
</div>