<!DOCTYPE html>
<html>

<%# Transitioning from Materialize to MDL. Some pages use one for styling, other pages use the other. %>
<%# The Materialize styles break the MDL ones so we need to know which page we're on and import the styles accordingly %>
<script>
  console.log('current path: <%= request.path %>');
</script>

<%
  case request.path
  when login_path, two_factor_auth_path, root_path, languages_path, nation_path,
      select_to_assess_path, zones_path, /^\/zones\/[0-9]+$/, /^\/languages\/[0-9]+$/,
      /^\/geo_states\/[0-9]+$/, /^\/organisations\/[0-9]+$/, /^\/languages\/[0-9]+\/show_details$/,
      new_user_path, curate_edits_path, my_edits_path, /^\/users\/[0-9]+\/edit$/, tasks_path,
      /^\/geo_states\/[0-9]+\/bulk_assess$/
    mdl = true
  else
    mdl = false
  end
%>

<script>
  <% if mdl %>
    console.log('using mdl');
  <% else %>
    console.log('using materialize');
  <% end %>
</script>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title><%= full_title(yield(:title)) %></title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>
  <%= html_import_tag 'application', 'data-turbolinks-track' => false %>
  <%# if we're not using MDL on this page import Materialize %>
  <% unless mdl %>
    <!-- Compiled and minified CSS and JS for Materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
  <% end %>
</head>

<body>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <% if mdl %>
      <%= render 'layouts/header' unless @supress_header %>
  <% else %>
      <%= render 'layouts/materialize_header' unless @supress_header %>
  <% end %>
  <main class="mdl-layout__content <%= yield(:container_class) %>">
      <% if logged_in_user and logged_in_user.authenticate('password') %>
        <div class="<%= mdl ? 'flash-message' : 'card' %> orange" >
          <div class="card-content">
            You have an insecure password, please change it.
          </div>
          <div class="card-action mdl-card__actions">
            <%= link_to 'change password', edit_user_path(logged_in_user), class: 'grey-text text-lighten-3' %>
          </div>
        </div>
      <% end %>
      <% if logged_in_user && logged_in_user.email.present? && !logged_in_user.email_confirmed %>
        <div class="<%= mdl ? 'flash-message' : 'card-panel' %> light-blue email-msg">
          Your Email address is not yet confirmed.
        </div>
      <% end %>
      <% flash.each do |message_type, message| %>
        <% if flash_values[message_type] %>
          <div class="<%= mdl ? 'flash-message' : 'card-panel' %> <%= flash_values[message_type][:colour] %>">
            <i class="material-icons"><%= flash_values[message_type][:icon] %></i>
            <span class="<%= flash_values[message_type][:text_colour] %>"><%= message %></span>
          </div>
        <% else %>
          <div class="<%= mdl ? 'flash-message' : 'card-panel' %> light-blue"><%= message %></div>
        <% end %>
      <% end %>
    <div id="language-search-results"></div>
    <%= yield %>
  </main>
  <% if mdl %>
      <%= render 'layouts/footer' unless @supress_footer %>
  <% else %>
    <%= render 'layouts/materialize_footer' unless @supress_footer %>
  <% end %>
  <%# debug(params) if Rails.env.development? %>
</div>

</body>

</html>
