<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'layouts/header' %>
  <main>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <% if flash_values[message_type] %>
          <div class="card-panel <%= flash_values[message_type][:colour] %>">
            <i class="material-icons"><%= flash_values[message_type][:icon] %></i>
            <span class="<%= flash_values[message_type][:text_colour] %>"><%= message %></span>
          </div>
        <% else %>
          <div class="card-panel light-blue"><%= message %></div>
        <% end %>
      <% end %>
      <%= yield %>
    </div>
    <%=
    # debug(params) if Rails.env.development?
    %>
  </main>
  <%= render 'layouts/footer' %>

</body>
</html>
