<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title><%= full_title(yield(:title)) %></title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>
  <%= html_import_tag 'application', 'data-turbolinks-track' => true %>
</head>
<body>

  <div class="modal" id="page-spinner">
    <div class="modal-content">
      <h4>Loading...</h4>
      <div class="spinner medium">
        <div class="spinner-wrapper">
          <div class="rotator">
            <div class="inner-spin"></div>
            <div class="inner-spin"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= render 'layouts/header' unless @supress_header %>
  <main>
    <div class="container">
      <% if logged_in_user and logged_in_user.authenticate('password') %>
        <div class="card orange" >
          <div class="card-content">
            You have an insecure password, please change it.
          </div>
          <div class="card-action">
            <%= link_to 'change password', edit_user_path(logged_in_user), class: 'grey-text text-lighten-3' %>
          </div>
        </div>
      <% end %>
      <% flash.each do |message_type, message| %>
        <% if flash_values[message_type] %>
          <div class="card-panel <%= flash_values[message_type][:colour] %>">
            <i class="material-icons"><%= flash_values[message_type][:icon] %></i>
            <span class="<%= flash_values[message_type][:text_colour] %>"><%= message %></span>
          </div>
        <% else %>
          <div class="card-panel light-blue"><%= message %></div>
        <% end %>
      <% end %>
      <%= yield %>
    </div>
    <%=
      debug(params) if Rails.env.development?
    %>
  </main>
  <%= render 'layouts/footer' unless @supress_footer %>

</body>
</html>
